<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# SSL
RewriteCond %{REQUEST_URI} ^/registration [OR]
RewriteCond %{REQUEST_URI} ^/business
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^/?(.*) https://%{HTTP_HOST}/$1 [R,L]

#非SSL
RewriteCond %{REQUEST_URI} !(/registration)
RewriteCond %{REQUEST_URI} !(/business)
RewriteCond %{HTTP:X-Forwarded-Proto} =https
RewriteRule ^/?(.*) http://%{HTTP_HOST}/$1 [R,L]

Options +FollowSymLinks
RewriteCond %{HTTP_HOST} ^sibire\.co\.jp$
RewriteRule ^(.*)$ http://www.sibire.co.jp/$1 [R=301,L]
</IfModule>
