<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

<Files wp-login.php>
AuthUserFile /.htpasswd
AuthGroupFile /dev/null
AuthName “ID & PASS”
AuthType Basic
require valid-user
</Files>
