Files ~ ".(gif|jpe?g|png|ico)$">
	Header set Cache-Control "max-age=2592000, public"
</Files>
<IfModule mod_deflate.c>
 <IfModule mod_filter.c>
  SetOutputFilter DEFLATE
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
  SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
 </IfModule>
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  ##Force SSL 
  RewriteCond %{HTTP:X-Forwarded-Proto} !https 
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
  Options +FollowSymLinks
  RewriteCond %{HTTP_HOST} ^www\.sibire\.co\.jp$
  RewriteRule ^(.*)$ https://www.sibire.co.jp/$1 [R=301,L]
</IfModule>
