.single-creator {
  .single-creator-top {
    border: 5px solid #000000;
    margin: 20px 0px 20px 0px;
    padding: 30px 15px 30px 25px;
    font-size: 14px;
    line-height: 24.5px;
    font-weight: 700;
  }
  .single-creator-top-image,
  .single-creator-top-text {
    float: left;
  }
  .single-creator-top-text {
    max-width: 428px;
    padding: 0 15px 0 25px;
  }
  .single-creator-top-image {
    width: 120px;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  #main-content h3 {
    font-size: 18px;
    margin: 0px 0 10px 0;
    background-image: url("images/single-creator-h3.png");
    background-repeat: repeat-x;
    background-size: 44px 6px;
    background-position: bottom;
    padding: 0 0 10px 0;
    margin: 20px 0 0 0;
    padding-right: 15px;
    display: inline-block;
  }
}

@media(max-width: 768px) {
  .single-creator {
    .single-creator-top-image,
    .single-creator-top-text {
      float: none;
    }
    .single-creator-top-image {
      margin: 0px auto;
      margin-bottom: 15px;
    }
    .single-creator-top-text {
      padding-left: 15px;
    }
  }
}
