#header {
  height: 212px;
  position: relative;
}

#header .nest {
  width: 70px;
  height: 111px;
  background-image: url("../images/nest-2x.png");
  background-size: 70px 111px;
  background-repeat: no-repeat;
  width: 70px;
  height: 111px;
  position: fixed;
  top: 0;
  left: 50%;
  margin: 0 0 0 -440px;
}

#header .pre-opening {
  width: 335px;
  height: 195px;
  background-image: url("../images/pre-opening-2x.png");
  background-repeat: no-repeat;
  background-size: 335px 195px;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 50%;
  margin: 15px -500px 0 0;
}


#header .logo {
  padding-top: 30px;
}

#header .logo a {
  display: block;
  background-image: url("../images/logo-2x.png");
  background-size: 100px auto;
  background-repeat: no-repeat;
  width: 100px;
  height: 30px;
  text-indent: -9999px;
}

#cover h1 {
  margin: 0px auto;
  margin-bottom: 45px;
  padding: 0;
  height: 68px;
  width: 700px;
  background-image: url("../images/h1-2x.png");
  background-size: 700px 68px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

#cover p {
  margin: 0px auto;
  padding: 0;
  height: 190px;
  width: 260px;
  background-image: url("../images/subtitle-2x.png");
  background-size: 260px 190px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.sns-inner {
  width: 221px;
  margin: 0px auto;
  height: 26px;
  padding: 42px 0;
}

.twitter,
.facebook {
  float: left;
  height: 20px;
}
.twitter {
  width: 75px;
  margin-right: 10px;
}

.facebook {
  margin-left: 10px;
  width: 121px;
}

#start {
  background-image: url("../images/background-hexagonal.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55px;
  padding: 55px 0;
  color: #ffffff;
}

#start h2 {
  margin: 0px auto;
  height: 55px;
  width: 680px;
  background-image: url("../images/start-2x.png");
  background-size: 680px 55px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

#what,
#service,
#recruit {
  padding: 75px 0 30px 0;
  background-image: url("../images/dash.png");
  background-repeat: no-repeat;
  background-position: top 35px center;
}

#what h2,
#service h2,
#recruit h2 {
  margin: 0;
  margin: 0px auto;
  padding: 0;
  background-image: url("../images/h2-2x.png");
  background-repeat: no-repeat;
  background-size: 386px 150px;
  height: 50px;
  width: 386px;
  text-indent: -9999px;
}

#service h2 {
  background-position: 0 -50px;
  width: 310px;
  margin-bottom: 30px;
}

#recruit h2 {
  background-position: 0 -100px;
  width: 210px;
}

#recruit p,
#what p {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0 0 0;
}

#what .flow {
  margin: 0px auto;
  margin-bottom: 30px;
  height: 240px;
  width: 960px;
  background-image: url("../images/flow.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

#message {
  height: 50px;
  padding: 40px 0;
  background-color: #bababa;
  text-align: center;
}

#message h2 {
  color: #ffffff;
  margin: 0;
  font-size: 30px;
  line-height: 50px;
}

#service {
  background-color: #fffae6;
}

#service h3 {
  font-size: 24px;
  margin: 0px auto;
  padding: 0 0 0 48px;
  background-image: url("../images/numeric-2x.png");
  background-repeat: no-repeat;
  background-size: 42px 126px;
  height: 42px;
  line-height: 42px;
  width: 230px;
}
#service .pickup h3 { background-position: 0 -42px; }
#service .cooperate h3 {
  background-position: 0 -84px;
  width: 170px;
}

.service-column {
  float: left;
  width: 360px;
}

.service-column .icon {
  margin: 0px auto;
  width: 180px;
  height: 180px;
  background-image: url("../images/icon-2x.png");
  background-repeat: no-repeat;
  background-size: 180px 540px;
}
#service .pickup .icon { background-position: 0 -180px; }
#service .cooperate .icon { background-position: 0 -360px; }

.service-column p {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  padding: 10px 0 15px 0;
}

#recruit ul {
  margin: 0px auto;
  margin-top: 40px;
  margin-top: 30px;
  padding: 0;
  width: 1026px;
}

#recruit ul li {
  list-style: none;
  float: left;
  padding: 0;
  margin: 0 16px;
  width: 310px;
  height: 206px;
  text-align: center;
}

#recruit ul li a {
  display: block;
  width: 310px;
  padding: 85px 0;
  color: #ffffff;
  text-decoration: none;
  background-color: #4c4c4c;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  font-weight: 700;
  background-image: url("../images/recruit.jpg");
}

#recruit ul li.li-2 a { background-position: 0 -206px; }
#recruit ul li.li-3 a { background-position: 0 -413px; }

#recruit ul li a:hover {
  text-shadow: 0 0 10px rgba(0,0,0,.5);
}

#footer {
  margin-top: 30px;
  border-top: 1px solid #000000;
  padding: 55px 0 10px 0;
  font-size: 12px;
}

#footer .copy {
  text-align: right;
  margin: 15px 0 10px 0;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

#footer ul li a {
  text-decoration: none;
  color: #000000;
  margin-right: 30px;
}

#footer ul li a:hover {
  text-decoration: underline;
}

#footer ul li a.gray {
  color: #aaaaaa;
  cursor: not-allowed;
}

#footer ul li a.gray:hover {
  text-decoration: none;
}

#footer .footer-inner {
  background-image: url("../images/simplelogo-2x.png");
  background-repeat: no-repeat;
  background-size: 100px 30px;
  background-position: center left;
  padding-left: 180px;
}
