/*
Description: エリア絞り込み用
*/

.area-wrap {
  position: relative;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0px auto;
  margin-top: 15px;
}

.area-wrap ul {
  margin: 0;
  padding: 0;
}

.area-wrap ul li {
  list-style: none;
  text-align: left;
  position: absolute;
  text-align: center;
}

.area-wrap ul li a {
  display: block;
  font-size: 16px;
  width: 75px;
  border: 3px solid #1c87c9;
  padding: 3px 0;
  background-color: rgba(255,255,255,.9);
}

.area-wrap ul li a:hover {
  text-decoration: none;
}

/*関東エリア*/
.area-wrap ul li.saitama {
  bottom: 50%;
  left: 0;
  margin-bottom: 7px;
}

.area-wrap ul li.chiba {
  right: 0;
  bottom: 0;
  margin: 0 15px 60px 0;
}

.area-wrap ul li.tokyo {
  left: 0;
  bottom: 50%;
  margin: 0 0 -38px 10px;
}

.area-wrap ul li.tochigi {
  left: 50%;
  top: 0;
}

.area-wrap ul li.ibaraki {
  right: 0;
  top: 0;
  margin: 90px 5px 0 0;
}

.area-wrap ul li.kanagawa {
  left: 0;
  bottom: 0;
  margin: 0 0 45px 60px;
}

.area-wrap ul li.gunma {
  left: 0;
  top: 0;
  margin: 20px 0 0 20px;
}

/*東北エリア*/
.area-wrap ul li.aomori {
  right: 50%;
  top: 0;
}

.area-wrap ul li.akita {
  left: 0;
  top: 50%;
  margin: -40px 0 0 45px;
}

.area-wrap ul li.yamagata {
  left: 0;
  top: 50%;
  margin: 35px 0 0 35px;
}

.area-wrap ul li.fukushima {
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -45px;
}

.area-wrap ul li.iwate {
  right: 0;
  top: 50%;
  margin: -50px 30px 0 0;
}

.area-wrap ul li.miyagi {
  right: 0;
  top: 50%;
  margin: 45px 20px 0 0;
}

/*四国エリア*/
.area-wrap ul li.ehime {
  left: 0;
  top: 0;
  margin: 90px 0 0 20px;
}

.area-wrap ul li.tokushima {
  right: 0;
  bottom: 0;
  margin-bottom: 120px;
}

.area-wrap ul li.kochi {
  left: 0;
  bottom: 0;
  margin: 0 0 80px 100px;
}

.area-wrap ul li.kagawa {
  right: 0;
  top: 0;
  margin: 70px 15px 0 0;
}

/*九州エリア*/
.area-wrap ul li.fukuoka {
  right: 0;
  top: 0;
  margin: 30px 40px 0 0;
}

.area-wrap ul li.saga {
  right: 50%;
  top: 0;
}

.area-wrap ul li.nagasaki {
  left: 0;
  top: 0;
  margin: 55px 0 0 0;
}

.area-wrap ul li.oita {
  right: 0;
  top: 50%;
  margin: -30px 10px 0 0;
}

.area-wrap ul li.kumamoto {
  left: 0;
  top: 50%;
  margin: 0 0 0 50px;
}

.area-wrap ul li.miyazaki {
  top: 50%;
  right: 0;
  margin: 50px 30px 0 0;
}

.area-wrap ul li.kagoshima {
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -40px;
}

.area-wrap ul li.okinawa {
  left: 0;
  bottom: 0;
}

/*中国エリア*/
.area-wrap ul li.tottori {
  right: 0;
  top: 0;
  margin: 80px 0 0 0;
}

.area-wrap ul li.okayama {
  right:  0;
  bottom: 0;
  margin: 0 10px 80px 0;
}

.area-wrap ul li.yamaguchi {
  left:  0;
  bottom: 50%;
  margin-bottom: -10px;
}

.area-wrap ul li.hiroshima {
  left:  50%;
  bottom: 0;
  margin: 0 0 90px -40px;
}

.area-wrap ul li.shimane {
  left:  50%;
  top: 0;
  margin: 85px 0 0 -40px;
}

/*北陸エリア*/
.area-wrap ul li.toyama {
  right: 50%;
  top: 0;
  margin: 50px -30px 0 0;
}

.area-wrap ul li.ishikawa {
  right: 50%;
  top: 0;
  margin: 90px 60px 0 0;
}

.area-wrap ul li.fukui {
  left: 0;
  top: 0;
  margin-top: 180px;
}

.area-wrap ul li.niigata {
  right: 0;
  top: 0;
  margin: 30px 0 0 0;
}

.area-wrap ul li.nagano {
  right: 50%;
  top: 50%;
  margin: 20px -30px 0 0;
}

.area-wrap ul li.yamanashi {
  right: 0;
  bottom: 0;
  margin: 0 40px 50px 0;
}

/*東海エリア*/
.area-wrap ul li.shizuoka {
  right: 0;
  bottom: 0;
  margin: 0 40px 70px 0;
}

.area-wrap ul li.mie {
  left: 0;
  bottom: 0;
  margin: 0 0 20px 0;
}

.area-wrap ul li.gifu {
  left: 50%;
  top: 0;
  margin: 40px 0 0 -60px;
}

.area-wrap ul li.aichi {
  right: 50%;
  bottom: 0;
  margin: 0 -30px 125px 0;
}

/*関西エリア*/
.area-wrap ul li.shiga {
  right: 0;
  top: 0;
  margin: 40px 10px 0 0;
}

.area-wrap ul li.wakayama {
  right: 50%;
  bottom: 0;
  margin: 0 -20px 20px 0;
}

.area-wrap ul li.hyougo {
  left: 0;
  top: 0;
  margin: 70px 0 0 20px;
}

.area-wrap ul li.nara {
  right: 0;
  bottom: 0;
  margin: 0 40px 100px 0;
}

.area-wrap ul li.kyoto {
  right: 50%;
  top: 0;
  margin: 50px -40px 0 0;
}

.area-wrap ul li.osaka {
  top: 50%;
  left: 0;
  margin: 0 0 0 85px;
}

/*北海道*/
.area-wrap ul li.hokkaido {
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -35px;
}

