#event.event-background {
  padding: 0px 0 0px 0;
}

#event .event-box {
  max-width: 800px;
  margin: 0px auto;
  background-color: #ffffff;
}

#event .event-box img {
  max-width: 100%;
  height: 100%;
  margin: 0px auto;
  display: block;
}

#event .event-box-text {
  padding: 0 15px;
}


.event-footer #footer {
  margin-top: 0;
}

#event .title-head {
  height: 84px;
  border-bottom: 4px solid #000000;
  text-align: center;
}

#event .title-head h2 {
  margin: 0;
}

#event .title-head h2 img {
  width: 300px;
  margin-top: 7px;
}

#event .cover {
  padding-top: 100px;
  text-align: center;
  background-image: url("../images/engineernight.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

#event .cover-head .badge {
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  top: 0;
  right: 50%;
  margin: 80px -400px 0 0;
}

#event .cover-head b img {
  width: 419px;
}

#event .cover-head h1 {
  margin: 0;
}

#event .cover-head h1 img {
  width: 709px;
}

#event .cover .cover-head p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin: 25px 0 0 0;
  color: #ffffff;
  text-shadow: 0 0 3px rgba(0, 0, 0, .95);
}

#event .atit {
  position: absolute;
  right: 0;
  top: 0;
  margin: -70px -5px 0 0;
}

#event .description {
  width: 750px;
  padding: 0 25px;
  margin: 0px auto;
  margin-top: 85px;
  border: 5px solid #000000;
  background-color: #ffffff;
  position: relative;
}

#event .table-description {
  border-collapse: collapse;
}

#event .table-description tr th,
#event .table-description tr td {
  border-bottom: 5px solid #000000;
  padding: 25px 0;
}

#event .table-description tr.ability th,
#event .table-description tr.ability td {
  border-bottom-width: 0px;
}

#event .table-description th {
  width: 180px;
  text-align: right;
  font-size: 18px;
  vertical-align: top;
}

#event .table-description th span {
  background-color: #ffff00;
}

#event .table-description tr td {
  text-align: left;
  font-size: 16px;
  padding-left: 25px;
}

#event .table-description tr td.event-checkbox {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

#event .table-description tr td.event-checkbox b {
  color: #ff0000;
}

#event .table-description tr td b {
  font-size: 20px;
}

#event h2.h2-merit {
  margin: 50px 0 15px 0;
  font-size: 28px;
}

#event .merit {
  width: 750px;
  padding: 15px 25px;
  margin: 0px auto;
  border: 5px solid #000000;
  background-color: #ffffff;
}

#event .table-merit {
  border-collapse: collapse;
  width: 100%;
}

#event .table-merit thead tr th {
  border-bottom: 5px solid #000000;
  padding: 10px 0;
}

#event .table-merit thead tr th.th-left {
  width: 180px;
}

#event .table-merit tbody th {
  font-size: 18px;
  padding: 15px 0;
}

#event .table-merit tbody td {
  font-size: 18px;
  padding: 5px 0;
}

#event .table-merit thead .yellow-cell {
  font-size: 24px;
  text-align: left;
  line-height: 28px;
}

#event .table-merit .yellow-cell {
  background-color: #fff000;
  padding-left: 10px;
  padding-right: 10px;
}

#event .table-merit .yellow-cell b {
  font-size: 34px;
}

#event h2.h2-form {
  margin: 50px 0 15px 0;
  font-size: 28px;
}

#event .event-form {
  max-width: 400px;
  margin: 0px auto;
  margin-bottom: 50px;
}

#event .event-form.event-form2 .wpcf7 {
  width: 100%;
}

#event .event-form.event-form2 .wpcf7-list-item label {
  display: inline-block;
  margin: 5px 15px 0 0;
}

#event .event-form b {
  color: #ff0000;
  font-size: 20px;
}

#event .event-form p {
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

#event .event-form p.message {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  text-align: left;
}

#event .event-form p label {
  font-size: 15px;
  font-weight: 400;
}

#event .event-form p label .wpcf7-not-valid-tip {
  font-size: 16px;
  font-weight: 400;
}

#event .event-form p label input[type="text"],
#event .event-form p label input[type="email"],
#event .event-form p label input[type="tel"],
#event .event-form p label textarea {
  box-sizing: border-box;
  font-size: 16px;
  height: 44px;
  line-height: 23px;
  padding: 7px;
  border: 1px solid #000000;
  outline: 0;
  width: 100%;
  -webkit-appearance: none;
  display: inline-block;
}

#event .event-form p label textarea {
  min-height: 100px;
  line-height: auto;
}

#event .event-form p label input[type="text"].wpcf7-not-valid,
#event .event-form p label input[type="email"].wpcf7-not-valid,
#event .event-form p label input[type="tel"].wpcf7-not-valid,
#event .event-form p label textarea.wpcf7-not-valid {
  border-color: #ff0000;
}

#event .event-form p label input:hover,
#event .event-form p label textarea:hover {
  background-color: #fafafa;
}

#event .event-form p label input:focus,
#event .event-form p label textarea:focus {
  border-color: #3fa9f5;
}

#event .event-form p input[type="submit"] {
  border: 5px solid #3fa9f5;
  border-radius: 0px;
  color: #3fa9f5;
  font-size: 18px;
  font-weight: 700;
  box-sizing: border-box;
  height: 44px;
  width: 100%;
}

#event .event-form p input[type="submit"]:hover {
  background-color: #3fa9f5;
  color: #ffffff;
}

@media(max-width: 830px) {
  #event .title-head {
    height: 65px;
  }
  #event .title-head h2 img {
    width: 200px;
  }
  #event .cover {
    background-size: 800px auto;
    background-position: top center;
    padding-top: 30px;
  }
  #event .cover .cover-head {
    padding-left: 10px;
    padding-right: 10px;
  }
  #event .cover .cover-head .badge {
    width: 50px;
    height: 50px;
    right: 0;
    margin-top: 17px;
    margin-right: 5px;
  }
  #event .cover .cover-head b img {
    width: 68%;
  }
  #event .cover .cover-head p {
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
  }
  #event .description {
    margin-top: 70px;
  }
  #event .description,
  #event .merit,
  #event .event-form {
    width: 100%;
    box-sizing: border-box;
  }
  #event .table-description tr th,
  #event .table-description tr td {
    display: block;
    width: 100%;
  }
  #event .table-description tr th {
    text-align: left;
    border: none;
    padding-bottom: 0;
  } 
  #event .table-description tr td {
    padding-left: 0;
    padding-top: 0;
  }
  #event .merit {
    padding-left: 5px;
    padding-right: 5px;
  }
  #event .table-merit thead tr th.th-left {
    width: 90px;
    text-align: left;
  }
  #event .table-merit thead tr th.yellow-cell {
    font-size: 18px;
  }
  #event .table-merit tr .yellow-cell b {
    font-size: 25px;
  }
  #event .table-merit tbody tr th {
    font-size: 16px;
  }
  #event .table-merit tbody tr td {
    font-size: 13px;
  }
}
