#header {
  height: 75px;
  position: relative;
  border-bottom: 1px solid #333333;
}

#header .logo {
  padding-top: 0px;
  width: 121px;
  float: left;
}

#header .logo a {
  display: block;
  width: 121px;
  height: 60px;
}

#header .logo a img {
  width: 121px;
  height: 60px;
}

#gif {
  background-color: #faf8e0;
  max-height: 803px;
}

#gif img {
  width: 100%;
}

h1#message {
  margin: 0;
  padding: 0;
  text-align: center;
  max-height: 95px;
  position: relative;
  bottom: -25px;
}

h1#message img {
  width: 700px;
}

#registration {
  width: 156px;
  width: 156px;
  position: fixed;
  top: 50%;
  right: 0;
  margin: -78px -20px 0 0;
  z-index: 10;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#registration a {
  width: 156px;
  width: 156px;
  display: block;
}

#registration:hover {
  margin-right: 0;
}

.sns-inner {
  width: 221px;
  margin: 0px auto;
  height: 26px;
  padding: 42px 0;
}

#sns {
  padding-top: 44px;
  float: right;
}

.twitter,
.facebook,
.hatena {
  float: left;
  height: 20px;
}

.hatena {
  width: 20px;
  margin-right: 10px;
}

.twitter {
  width: 75px;
}

.facebook {
  width: 150px;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
  margin-right: 10px;
}

#banner {
  text-align: center;
  padding-top: 40px;
}

#banner img {
  vertical-align: middle;
}

#banner a {
  display: inline-block;
  max-height: 150px;
  border: 5px solid #000000;
}

#banner a:hover {
  border-color: #3fa9f5;
}

#news .news {
  text-decoration: none;
  color: #000000;
}

#news .owl-item {
  box-sizing :border-box;
  float: left;
  padding: 0 20px;
  min-height: 280px;
}

.news-img {
  position: relative;
  display: block;
  width: 100%;
  height: 160px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
}

.news .tag {
  color: #ffffff;
  background-color: #000000;
  font-size: 11px;
  line-height: 13px;
  border: 1px solid #000000;
  padding: 3px;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 5px 5px 0;
}

.tag.column {
  background-color: #b99c3d;
  border-color: #b99c3d;
  color: #ffffff;
}

.tag.recruit {
  background-color: #007ca0;
  border-color: #007ca0;
  color: #ffffff;
}

.tag.interview {
  background-color: #ee8d7b;
  border-color: #ee8d7b;
  color: #ffffff;
}

.tag.event {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #ffffff;
}

.tag.offer {
  background-color: #fff000;
  border-color: #fff000;
  color: #000000;
}

.news b {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.news p {
  font-size: 14px;
  line-height: 26px;
  margin: 5px 0 0 0;
}

.news .news-link {
  text-decoration: underline;
}


.news:hover .news-img {
  background-size: auto 104%;
}

.news:hover .news-text {
  color: #000000;
}

.news:hover .news-text b {
  text-decoration: underline;
}

#news h2,
#flow h2,
#service h2,
#recruit h2,
#columns h2,
#interviews h2,
#offers h2,
#niche h2,
#member h2 {
  text-align: center;
  margin: 50px 0 0 0;
}

#news h2 {
  margin-bottom: 10px;
}

#flow h2 img {
  height: 100px;
  position: relative;
  z-index: 3;
}

#recruit .edogawatama {
  margin-top: 50px;
  text-align: center;
}

#recruit .edogawatama img {
  height: 120px;
}

#recruit .edogawatama a:hover img {
  opacity: .8;
}

#recruit h2 {
  margin-top: 0;
}
#recruit h2 img {
  height: 69px;
}

#interviews h2 img {
  height: 135px;
}

#offers h2 img {
  height: 80px;
}

#news h2 img,
#service h2 img,
#columns h2 img,
#member h2 img {
  height: 50px;
}

#flow {
  text-align: center;
}

#flow .flow-img {
  position: relative;
  top: -20px;
}

a.more-link {
  display: block;
  font-weight: 700;
  width: 100px;
  margin: 0px auto;
  float: right;
  clear: right;
  padding: 5px 0;
  text-align: center;
  color: #333333;
  border: 2px solid #333333;
  text-decoration: none;
}

a.more-link:hover {
  color: #16699c;
  border-color: #16699c;
}

.service-column-wrap {
  width: 900px;
  margin: 0px auto;
}

.service-column {
  width: 33.33333%;
  float: left;
}

.service-column h3 {
  margin: 10px 0 0 0;
  padding-left: 45px;
  height: 42px;
  line-height: 42px;
  font-weight: 500;
  font-size: 24px;
  background-image: url("../images/numeric-2x.png");
  background-size: 42px 126px;
  background-repeat: no-repeat;
}
.pickup h3 { background-position: 0 -42px; }
.cooperate h3 { background-position: 0 -84px; }

.service-column img {
  display: block;
}
.japan img { margin: 28px 0 28px 20px; }
.pickup img { margin: 20px 0 19px 70px; }
.cooperate img { margin: 56px 0 57px 30px; }

.service-column p {
  margin: 0 0 0 45px;
}

#recruit .p,
#columns .p {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 25px 0;
  text-align: center;
}

#columns .columns,
#interviews .interviews,
#recruit .recruit,
#niche .niche,
#offers .offers {
  box-sizing: border-box;
  width: 20%;
  min-height: 147px;
  float: left;
  padding: 10px;
  text-decoration: none;
}

#columns .columns-img,
#interviews .interviews-img,
#recruit .recruit-img,
#niche .niche-img,
#offers .offers-img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 147px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#columns .columns p,
#interviews .interviews p,
#recruit .recruit p,
#niche .niche p,
#offers .offers p {
  font-family: '游ゴシック', YuGothic, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0,0,0,.9);
  margin: 0;
  font-size: 19px;
  line-height: 28px;
  padding: 10px;
  position: relative;
  z-index: 3;
}

#columns .columns .columns-overray,
#interviews .interviews .interviews-overray,
#recruit .recruit .recruit-overray,
#niche .niche .niche-overray,
#offers .offers .offers-overray {
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#columns .columns:hover .columns-overray,
#interviews .interviews:hover .interviews-overray,
#recruit .recruit:hover .recruit-overray,
#niche .niche:hover .niche-overray,
#offers .offers:hover .offers-overray {
  background-color: rgba(0,0,0,.2);
}

.toyota,
.midori {
  width: 277px;
  float: left;
}

.abukawa {
  width: 277px;
  margin: 0px auto;
  clear: both;
}

.abukawa a img,
.toyota a img,
.midori a img {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.abukawa a:hover img,
.toyota a:hover img,
.midori a:hover img {
  top: -5px;
  position: relative;
}

.toyota { margin-right: 30px; }
.midori { margin-left: 30px; }

.member-image {
  width: 600px;
  margin: 0px auto;
}

.member-image img {
  width: 100%;
  height: auto;
}

.member-image a:hover img {
  opacity: 0.9;
}

.member-wrap {
  width: 614px;
  margin: 0px auto;
}

#member .balloon {
  text-align: center;
  padding-bottom: 40px;
}

#member .balloon img {
  width: 700px;
}

.business,
.registration {
  padding: 20px 0 40px 0;
  text-align: center;
}

.business-button,
.registration-button {
  position: relative;
  display: block;
  width: 170px;
  height: 30px;
  padding: 15px 0;
  background-color: #bd1934;
  margin: 0px auto;
  text-align: center;
}

.business-button {
  background-color: #245988;
  width: 240px;
}
.business-button .business-button-text {
  width: 200px;
  height: 30px;
}

.registration-button .registration-button-text {
  width: 98px;
  height: 30px;
}
.registration-button .registration-button-img {
  width: 100px;
  width: 117px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -30px -80px 0 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.business-button .business-button-img {
  width: 140px;
  width: 140px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -30px -80px 0 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.registration-button:hover {
  background-color: #aa162e;
}
.business-button:hover {
  background-color: #1c476c;
}
.registration-button:hover .registration-button-img{
  margin: -33px -83px 0 0;
}
.registration-button:active .registration-button-img{
  margin: -36px -86px 0 0;
}

.registration p {
  margin: 0;
  font-size: 12px;
  padding-top: 10px;
}

.business-button:hover .business-button-img{
  margin: -33px -83px 0 0;
}
.business-button:active .business-button-img{
  margin: -36px -86px 0 0;
}

.ce { text-align: center; }

#main-content,
.left-side {
  float: left;
  width: 70%;
}

#sidebar,
.right-side {
  width: 30%;
  float: right;
  padding: 10px 0 30px 20px;
  box-sizing: border-box;
}

.link_page_navi {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
}

.link_page_navi li {
  list-style: none;
  text-align: center;
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px 0 0;
  font-weight: 700;
}

.link_page_navi a li {
  border-color: #1c87c9;
  font-weight: 400;
}

iframe#twitter-widget-0,
iframe#twitter-widget-1 {
  border-left: 1px solid #e9ebee !important;
  border-right: 1px solid #e9ebee !important;
  border-bottom: 1px solid #e9ebee !important;
}

h5.relation-title {
  margin: 0px auto;
  background-color: #eeeeee;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  margin: 5px 0 5px 0;
  padding: 10px 0 5px 0;
}

ul.relation {
  max-width: 500px;
  margin: 0px auto;
  padding: 0 10px;
  border: 1px solid #e9ebee;
}

ul.relation li {
  list-style: none;
  position: relative;
  padding: 10px 0 0 0;
  min-height: 50px;
  border-bottom: 2px solid #333333;
}

ul.relation li:last-child {
  border-bottom: none;
}

ul.relation li a {
  display: block;
  color: #333333;
  min-height: 80px;
}

ul.relation li a:hover {
  text-decoration: none;
}

ul.relation li img {
  position: absolute;
  left: 0;
  top: 50%;
  margin: -30px 0 0 7px;
}

ul.relation li p,
ul.relation li .p {
  padding: 3px 0 0 80px;
  margin: 0;
  line-height: 22px;
  font-size: 13px;
}

ul.relation li .tag {
  font-size: 10px;
  line-height: 13px;
  height: 13px;
  padding: 2px;
  margin-right: 5px;
}

.page-cover {
  background-color: #135796;
  background-color: #214F31;
  background-image: url("../images/karakusa.png");
  padding: 60px 0;
  text-align: center;
  margin-bottom: 15px;
}

.page-cover h1 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 500;
  margin: 0;
  color: #ffffff;
  padding: 0 5px;
  display: inline-block;
}


#footer {
  position: relative;
  background-color: #eeeeee;
  color: #333333;
  padding: 55px 0 10px 0;
  font-size: 11px;
}

#footer .copy {
  text-align: right;
  margin: 15px 0 10px 0;
}

#footer ul {
  margin: 0;
  padding: 0;
}

#footer ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

#footer ul li a {
  color: #333333;
  margin-right: 30px;
}

#footer ul li a:hover {
  text-decoration: none;
}

#footer .footer-inner {
  background-image: url("../images/simplelogo-2x.png");
  background-repeat: no-repeat;
  background-size: 100px 30px;
  background-position: center left 20px;
  padding-left: 180px;
}


.breadcrumb {
  font-size: 11px;
  margin: 10px 0 5px 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.breadcrumb a {
  color: #333333;
}

.breadcrumb a:hover {
  text-decoration: none;
}


.scroll-top-wrap {
  position: relative;
}

a.scroll-top {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0 20px 20px 0;
  text-decoration: none;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffffff;
  border: 2px solid #49C6E8;
  color: #49C6E8;
  border-radius: 27px;
}

a.scroll-top.none { display: none; }

a.scroll-top.absolute {
  position: absolute;
}

a.scroll-top:hover {
  border-color: #80d7ef;
  color: #80d7ef;
}

/* 記事系のCSSはどこかで一括管理 */

.alignright {
  float: right;
  clear: right;
  margin-left: 30px;
}

.alignleft {
  float: left;
  clear: left;
  margin-right: 30px;
}
