#offer h1 {
  font-size: 27px;
  line-height: 1.4;
  margin: 20px 0 0 0;
  padding: 0;
}

#offer h2 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  border-left: 1px solid #aaaaaa;
}

#offer h3 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #aaaaaa;
}

#offer p {
  font-size: 15px;
  line-height: 1.7;
  margin: 0 0 30px 0; 
  padding: 0;
}

#offer p.wp-caption-text {
  font-size: 13px;
  line-height: 1.7;
}

#offer img {
  vertical-align: bottom;
}

#offer .offer-name {
  font-size: 18px;
  margin: 0 0 0 0;
  font-weight: 500;
  display: inline;
}

#offer .offer-img {
  margin-top: 10px;
  text-align: center;
  background-color: #eeeeee;
  height: 378px;
  background-size: cover; 
  background-position: center center;
}

#offer .sns {
  float: right;
  clear: right;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
}

#offer .fb-like {
  position: relative;
  top: -6px;
  margin-left: 5px;
}

#offer ul.tag {
  margin: 10px 0;
  display: inline-block;
}

#offer time {
  float: right;
  clear: right;
  margin: 10px 0;
}

.offer_image1,
.offer_image2,
.offer_image3 {
  max-height: 180px;
  margin: 0 5px 10px 0;
}

table.offer-table {
 border: 1px solid #000000;
 border-collapse: collapse;
 margin-top: 20px;
 margin-bottom: 20px;
 margin-left: auto;
 margin-right: auto;
}

table.offer-table tr th,
table.offer-table tr td {
  padding: 5px 8px;
  border: 1px solid #000000;
}

table.offer-table tr th {
  font-weight: 500;
  text-align: left;
  width: 100px;
}


ul.tag {
  margin: 0;
  padding: 0;
}

ul.tag li {
  margin: 0;
  padding: 0;
  border: 1px solid #000000;
  display: inline;
  padding: 3px 5px;
  margin-right: 5px;
  font-size: 12px;
}
