@charset "UTF-8";
/*
Description: レイアウト
*/
html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(28, 135, 201, 0.3);
  font-size: 14px;
  color: #333333;
}

header {
  margin: 0px auto;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 100%;
}
header .header-inner {
  max-width: 1040px;
  margin: 0px auto;
  padding: 0 15px;
  position: relative;
}
header .global_menu:before, header .global_menu:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
header .logo {
  padding: 8px 0 0 0;
  margin-right: 20px;
  float: left;
}
header .logo a {
  display: block;
  width: 61px;
  height: 19px;
  text-indent: -9999px;
  background: url("images/template-lp/lp-logo.png") no-repeat;
}
header .logo a:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}
header a.brand {
  display: block;
  float: left;
  padding: 9px 15px 6px 0;
}
header a.brand svg#brand {
  width: 60px;
  height: 20px;
}

#blur.blur {
  filter: blur(3px);
}

#transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#transparent.none {
  display: none;
}

.slicknav_btn {
  z-index: 10001;
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #1b1464;
  right: 0;
  top: 0;
  display: none;
}
.slicknav_btn:hover {
  background-color: #241b86;
}
.slicknav_btn.slicknav_open {
  display: block;
}

.slicknav_icon,
.slicknav_icon span {
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.slicknav_icon {
  position: relative;
  width: 40px;
  height: 40px;
}
.slicknav_icon span:nth-of-type(1) {
  top: 0;
  margin-top: 13px;
}
.slicknav_icon span:nth-of-type(2) {
  top: 50%;
  margin-top: -1px;
}
.slicknav_icon span:nth-of-type(3) {
  bottom: 0;
  margin-bottom: 13px;
}

.slicknav_menu .slicknav_icon-bar {
  position: absolute;
  left: 50%;
  margin-left: -9px;
  display: block;
  height: 2px;
  width: 20px;
  background-color: #ffffff;
}

.slicknav_open .slicknav_icon-bar:nth-of-type(1) {
  -webkit-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
}
.slicknav_open .slicknav_icon-bar:nth-of-type(2) {
  opacity: 0;
}
.slicknav_open .slicknav_icon-bar:nth-of-type(3) {
  -webkit-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}

.slicknav_arrow {
  display: none;
}

.slicknav_nav {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10000;
  background-color: #1b1464;
  margin: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 20px 0;
}
.slicknav_nav li {
  list-style: none;
  text-align: left;
}
.slicknav_nav li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}
.slicknav_nav li a a {
  height: auto;
  line-height: auto;
  padding: 0;
}
.slicknav_nav li a:hover {
  background-color: #241b86;
}
.slicknav_nav li.current-menu-item > a {
  background-color: #120d42;
}
.slicknav_nav li.current-menu-item > a:hover {
  background-color: #161153;
}
.slicknav_nav li.slicknav_parent > a {
  position: relative;
  padding: 0 35px 0 20px;
}
.slicknav_nav li.slicknav_parent > a::after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  content: '\f108';
  font-family: 'RdGothic-icons';
  line-height: 1;
  font-size: 14px;
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  margin: -6px 5px 0 0;
}
.slicknav_nav li.slicknav_parent.slicknav_open > a::after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.slicknav_nav li.slicknav_parent .sub-menu {
  padding: 0;
  background-color: #090620;
}

header .menu-global_menu-container {
  float: left;
}

header .global_menu {
  margin: 0;
  padding: 0;
}
header .global_menu li {
  list-style: none;
  line-height: 18px;
  float: left;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D", sans-serif;
}
header .global_menu li a {
  position: relative;
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 11px 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
header .global_menu li a:hover {
  background-color: #f5f5f5;
}
header .global_menu li.current-page-ancestor > a, header .global_menu li.current-menu-item > a {
  color: #ffffff;
  background-color: #1b1464;
  cursor: default;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header .global_menu li.menu-item-has-children > a {
  padding-right: 25px;
}
header .global_menu li.menu-item-has-children > a::after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  content: '\f107';
  font-family: 'RdGothic-icons';
  line-height: 1;
  font-size: 14px;
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  margin: -6px 5px 0 0;
}
header .global_menu li.menu-item-has-children .sub-menu {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  display: none;
  padding: 0;
  position: absolute;
  z-index: 10000;
  max-width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
}
header .global_menu li.menu-item-has-children .sub-menu li {
  width: 100%;
}
header .global_menu li.menu-item-has-children .sub-menu li a {
  text-align: left;
}
header .global_menu li.menu-item-has-children:hover .sub-menu {
  display: block;
  animation: show .1s linear 0s;
}
header .global_menu li.menu-item-has-children:hover > a {
  background-color: #f7f7f7;
}
header .global_menu li.menu-item-has-children:hover > a::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
header .global_menu li.menu-item-has-children.current-menu-item > a::after {
  border-top-color: #ffffff;
}
header .global_menu li.menu-item-has-children.current-menu-item:hover > a {
  background-color: #1b1464;
}

#common {
  background: #f5f5f5 url("images/common/background.png") repeat;
  background: #f2f2f2;
}
#common .common-cover .breadcrumb {
  background-position: 15px -40px;
}
#common .breadcrumb {
  text-align: left;
  border-bottom: 2px solid #1b1464;
  height: 27px;
  padding: 13px 15px 0 20px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#common .breadcrumb a {
  color: #1b1464;
  text-decoration: none;
}
#common .breadcrumb a:hover {
  text-decoration: underline;
}
#common .container {
  width: 1100px;
  padding: 0 15px;
  margin: 0px auto;
}
#common .container:after, #common .container:before {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#common:after, #common:before {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.sns-footer {
  background: #f5f5f5 url("images/common/background.png") repeat;
  background: #f2f2f2 url("images/common/sns-footer.png") bottom center/cover no-repeat;
  height: 30px;
  padding: 20px 0;
}
.sns-footer a {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 8px;
  background: transparent url("images/common/sns.png") no-repeat;
  background-size: 30px 120px;
  text-indent: -9999px;
}
.sns-footer a.wantedly {
  background-position: 0 -30px;
}
.sns-footer a.twitter {
  background-position: 0 -60px;
}
.sns-footer a.facebook {
  background-position: 0 -90px;
}
.sns-footer a:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity: 0.8;
}

.sns-footer-inner {
  width: 184px;
  margin: 0px auto;
}
.sns-footer-inner:after, .sns-footer-inner:before {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#footer {
  background-color: #f9f069;
  color: #000000;
  padding: 30px 0 0 0;
}
#footer .footer_menu {
  padding: 0 20px 10px 20px;
  max-width: 1100px;
  margin: 0px auto;
}
#footer .footer_menu:before, #footer .footer_menu:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#footer .footer_menu li {
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D", sans-serif;
}
#footer .footer_menu li a {
  color: #000000;
  text-decoration: none;
}
#footer .footer_menu li a:hover {
  text-decoration: underline;
}
#footer .footer_menu > li {
  float: left;
  padding: 0 20px 10px 10px;
  margin-bottom: 10px;
  font-family: "FOT-筑紫ゴシック Pro E", "TsukuGoPro-E", sans-serif;
}
#footer .footer_menu > li > a {
  margin-bottom: 5px;
  line-height: 1.6;
}
#footer .footer_menu > li .sub-menu {
  padding: 0 0 0 10px;
  margin-top: 5px;
  border-left: 3px solid #000000;
}
#footer .footer_menu > li.fake-a > a:hover {
  text-decoration: none;
}
#footer small.pay {
  margin: 0px auto;
  max-width: 1100px;
  display: block;
  text-align: center;
}
#footer small.copy {
  display: block;
  padding: 5px 0;
  text-align: center;
  font: 400 11px/16px 'Lucida Grande';
}

.clear {
  clear: both;
}

.scroll-top-wrap {
  position: relative;
}

.scroll-top {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #8cc63f;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0 20px 20px 0;
  color: #ffffff;
  font-size: 33px;
  text-align: center;
  line-height: 1.7;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.scroll-top.none {
  display: none;
}
.scroll-top.absolute {
  position: absolute;
}
.scroll-top:hover {
  background-color: #9fcf5e;
}

.tag-list {
  padding: 0;
  margin: 0px auto;
  padding: 0 20px 10px;
  max-width: 1100px;
}
.tag-list li {
  list-style: none;
  font-size: 12px;
  line-height: 1.4;
  float: left;
  padding: 0 10px 5px 0;
}
.tag-list li a {
  color: #000000;
}
.tag-list li a:hover {
  text-decoration: none;
}
.tag-list:before, .tag-list:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.searchform {
  margin: 0px auto;
  margin-bottom: 15px;
  max-width: 400px;
  padding: 0 10px;
}
.searchform:before, .searchform:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.searchform input[type="text"],
.searchform .submit-wrap {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.searchform input[type="text"],
.searchform input[type="submit"] {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
}
.searchform input[type="text"] {
  border: none;
  height: 38px;
  width: 80%;
  padding: 0 15px;
  border: 2px solid #000000;
}
.searchform input[type="text"]:hover {
  border-color: #555555;
}
.searchform .submit-wrap {
  width: 20%;
  padding-left: 10px;
}
.searchform input[type="submit"] {
  height: 38px;
  clear: none;
  width: 100%;
  font-family: 'RdGothic-icons';
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  border: none;
}
.searchform input[type="submit"]:hover {
  background-color: #333333;
}

@media (max-width: 1130px) {
  #common .container {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
}
@media (max-width: 830px) {
  .slicknav_btn {
    display: block;
  }

  header {
    z-index: 10000;
  }
  header .global_menu {
    display: none;
  }
  header a.brand {
    float: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 7px 0 0 -35px;
    padding: 0;
  }
  header.slicknav_open {
    background-color: transparent;
  }
  header.slicknav_open a.brand svg#brand {
    fill: #ffffff;
  }
  header.slicknav_open::before, header.slicknav_open::after {
    display: none;
  }

  #common .container {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  #common .container {
    padding: 0px;
  }
}

/*# sourceMappingURL=layout.css.map */
