@charset "UTF-8";
/*
Description: レイアウト
*/
html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(28, 135, 201, 0.3);
  font-size: 14px;
  color: #333333;
}

header {
  margin: 0px auto;
  height: 40px;
  padding: 0;
  text-align: center;
  position: relative;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #ffffff;
}
header:after, header:before {
  content: "";
  display: block;
  height: 20px;
  width: 100%;
  background: transparent url("images/common/header.png") repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 -20px 0;
  z-index: 2;
}
header .header-inner {
  max-width: 1040px;
  margin: 0px auto;
  padding: 0 15px;
  position: relative;
}
header .global_menu:before, header .global_menu:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
header .logo {
  padding: 8px 0 0 0;
  margin-right: 20px;
  float: left;
}
header .logo a {
  display: block;
  width: 61px;
  height: 19px;
  text-indent: -9999px;
  background: url("images/template-lp/lp-logo.png") no-repeat;
}
header .logo a:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}

.slicknav_btn {
  display: block;
  width: 40px;
  height: 32px;
  padding-top: 8px;
  background-color: #1b1464;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.slicknav_btn.slicknav_open {
  background-color: #15104f;
}

.slicknav_arrow {
  display: none;
}

.slicknav_icon-bar {
  display: block;
  height: 1px;
  width: 20px;
  background-color: #ffffff;
  margin: 0px auto;
  margin-top: 5px;
}

.slicknav_nav {
  position: absolute;
  z-index: 3;
  background-color: #1b1464;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  margin-top: 40px;
  width: 100%;
  padding: 20px 0;
}
.slicknav_nav li {
  list-style: none;
  text-align: left;
}
.slicknav_nav li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}
.slicknav_nav li a a {
  height: auto;
  line-height: auto;
  padding: 0;
}
.slicknav_nav li.current-menu-item a,
.slicknav_nav li a:hover {
  background-color: #15104f;
}

header .menu-global_menu-container {
  float: left;
}

header .global_menu {
  margin: 0;
  padding: 0;
}
header .global_menu li {
  list-style: none;
  line-height: 18px;
  float: left;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D";
}
header .global_menu li a {
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 11px 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
header .global_menu li a:hover {
  background-color: #f5f5f5;
}
header .global_menu li.current-page-ancestor a, header .global_menu li.current-menu-item a {
  color: #ffffff;
  background-color: #1b1464;
  cursor: default;
}

#common {
  background: #f5f5f5 url("images/common/background.png") repeat;
}
#common .common-cover .breadcrumb {
  background-position: 15px -40px;
}
#common .breadcrumb {
  text-align: left;
  border-bottom: 2px solid #1B1464;
  height: 27px;
  padding: 13px 15px 0 40px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: url("images/common/icon-home.png") no-repeat top left 15px;
}
#common .breadcrumb a {
  color: #1B1464;
  text-decoration: none;
}
#common .breadcrumb a:hover {
  text-decoration: underline;
}
#common .container {
  width: 1100px;
  padding: 0 15px;
  margin: 0px auto;
}
#common .container:after, #common .container:before {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#common:after, #common:before {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.sns-footer {
  background: #f5f5f5 url("images/common/background.png") repeat;
  height: 30px;
  padding: 20px 0;
}
.sns-footer a {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 8px;
  background: transparent url("images/common/sns.png") no-repeat;
  background-size: 30px 120px;
  text-indent: -9999px;
}
.sns-footer a.wantedly {
  background-position: 0 -30px;
}
.sns-footer a.twitter {
  background-position: 0 -60px;
}
.sns-footer a.facebook {
  background-position: 0 -90px;
}
.sns-footer a:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity: 0.8;
}

.sns-footer-inner {
  width: 184px;
  margin: 0px auto;
}
.sns-footer-inner:after, .sns-footer-inner:before {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#footer {
  background-color: #1b1464;
  color: #ffffff;
  font: 400 12px/16px 'Lucida Grande';
  padding: 30px 0 15px 0;
  text-align: center;
}
#footer .footer_menu {
  padding: 0 20px 30px 20px;
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
}
#footer .footer_menu:before, #footer .footer_menu:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#footer .footer_menu li {
  list-style: none;
  float: left;
  font-size: 14px;
  line-height: 16px;
  min-height: 16px;
  padding: 7px 10px;
}
#footer .footer_menu li a {
  color: #ffffff;
  text-decoration: none;
}
#footer .footer_menu li a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

.scroll-top-wrap {
  position: relative;
}

.scroll-top {
  display: block;
  width: 60px;
  height: 60px;
  background: #1b1464 url("images/common/scroll-top.png") no-repeat;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0 20px 20px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.scroll-top.none {
  display: none;
}
.scroll-top.absolute {
  position: absolute;
}
.scroll-top:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}

@media (max-width: 1130px) {
  #common .container {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
}
@media (max-width: 815px) {
  header .global_menu {
    display: none;
  }
  header .slicknav_btn {
    display: block;
  }

  #common .container {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=layout.css.map */
