/*
Description: レイアウト
*/

@import "mixin";
@import "variables";
html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(28, 135, 201, 0.3);
  font-size: 14px;
  color: #333333;
}

header {
  margin: 0px auto;
  height: 40px;
  padding: 0;
  text-align: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #ffffff;
  &:after,
  &:before {
    content: ""; 
    display: block; 
    height: 20px;
    width: 100%;
    background: transparent url("images/common/header.png") repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 -20px 0;
    z-index: 9998;
  }
  .header-inner{
    max-width: 1040px;
    margin: 0px auto;
    padding: 0 15px;
    position: relative;
  }
  .global_menu {
    &:before,
    &:after {
      @include clearfix;
    }
  }
  .logo {
    padding: 8px 0 0 0;
    margin-right: 20px;
    float: left;
    a {
      display: block;
      width: 61px;
      height: 19px;
      text-indent: -9999px;
      background: url("images/template-lp/lp-logo.png") no-repeat;
      &:hover {
        @include opacity;
      }
    }
  }
}

#wrap {
  &.blur {
    filter: blur(3px);
  }
}

.slicknav_btn {
  z-index: 10001;
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #1b1464;
  right: 0;
  top: 0;
  display: none;
  &:hover { background-color: #15104f; }
}

.slicknav_icon,
.slicknav_icon span {
  display: inline-block;
  @include transition;
  @include border-box;
}

.slicknav_icon {
  position: relative;
  width: 40px;
  height: 40px;
  span {
    &:nth-of-type(1) {
      top: 0;
      margin-top: 13px;
    }
    &:nth-of-type(2) {
      top: 50%;
      margin-top: -1px;
    }
    &:nth-of-type(3) {
      bottom: 0;
      margin-bottom: 13px;
    }
  }
}

.slicknav_menu .slicknav_icon-bar{
  position: absolute;
  left: 50%;
  margin-left: -9px;
  display: block;
  height: 2px;
  width: 20px;
  background-color: #ffffff;
}

.slicknav_open .slicknav_icon-bar {
  &:nth-of-type(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
    transform: translateY(6px) rotate(-45deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    -webkit-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg);
  }
}

.slicknav_arrow {
  display: none;
}

.slicknav_nav {
  @include box-shadow;
  position: fixed;
  z-index: 10000;
  background-color: #1b1464;
  margin: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 60px 0 20px 0;
  li {
    list-style: none;
    text-align: left;
    a {
      color: #ffffff;
      text-decoration: none;
      display: block;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      a {
        height: auto;
        line-height: auto;
        padding: 0;
      }
    }
    &.current-menu-item > a,
    a:hover {
      background-color: #15104f;
    }
    &.slicknav_parent {
      & > a {
        position: relative;
        &::after {
          @include transition;
          content: '';
          position: absolute;
          display: block;
          border-top: 4px solid #ffffff;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          top: 50%;
          right: 0;
          margin: -2px 8px 0 0;
        }
      }
      &.slicknav_open > a {
        &::after {
          @include rotate(180deg);
        }
      }
      .sub-menu {
        padding: 0;
        background-color: #211879;
        border-top: 3px solid #211879;
        border-bottom: 3px solid #211879;
      }
    }
  }
}

header .menu-global_menu-container {
  float: left;
}

header .global_menu {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    line-height: 18px;
    float: left;
    font-family: $gothic;
    a {
      position: relative;
      color: #333333;
      text-decoration: none;
      display: block;
      padding: 11px 15px;
      @include transition;
      &:hover {
        background-color: #f5f5f5;
      }
    }
    &.current-page-ancestor > a,
    &.current-menu-item > a {
      color: #ffffff;
      background-color: #1b1464;
      cursor: default;
    }
    &.menu-item-has-children {
      @keyframes show{
        from { opacity: 0; }
        to   { opacity: 1; }
      }
      & > a {
        padding-right: 25px;
        &::after {
          @include transition;
          content: '';
          position: absolute;
          display: block;
          border-top: 4px solid #000000;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          top: 50%;
          right: 0;
          margin: -2px 8px 0 0;
        }
      }
      .sub-menu {
        @include box-shadow(0,10px,10px,.4);
        @include transition;
        display: none;
        padding: 0;
        position: absolute;
        z-index: 10000;
        max-width: 100%;
        padding: 10px 0;
        background-color: #ffffff;
        li {
          width: 100%;
          a  {
            text-align: left;
          }
        }
      }
      &:hover {
        .sub-menu {
          display: block;
          animation: show .1s linear 0s;
        }
      }
      &:hover > a {
        background-color: #f7f7f7;
        &::after {
          @include rotate(180deg);
        }
      }
      &.current-menu-item {
        & > a::after {
          border-top-color: #ffffff;
        }
        &:hover > a {
          background-color: #1b1464;
        }
      }
    }
  }
}

#common {
  background: #f5f5f5 url("images/common/background.png") repeat;
  .common-cover .breadcrumb { background-position: 15px -40px; }
  .breadcrumb {
    text-align: left;
    border-bottom: 2px solid #1B1464;
    height: 27px;
    padding: 13px 15px 0 40px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: url("images/common/icon-home.png") no-repeat top left 15px;
    a {
      color: #1B1464;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .container {
    width: 1100px;
    padding: 0 15px;
    margin: 0px auto;
    &:after,
    &:before {
      @include clearfix;
    }
  }
  &:after,
  &:before {
    @include clearfix;
  }
}

.sns-footer {
  background: #f5f5f5 url("images/common/background.png") repeat;
  height: 30px;
  padding: 20px 0;
  a {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 8px;
    background: transparent url("images/common/sns.png") no-repeat;
    background-size: 30px 120px;
    text-indent: -9999px;
    &.wantedly { background-position: 0 -30px; }
    &.twitter  { background-position: 0 -60px; }
    &.facebook { background-position: 0 -90px; }

    &:hover {
      opacity: 0.8;
      -ms-filter: "alpha(opacity=80)";
      -moz-opacity:0.8;
    }
  }
}

.sns-footer-inner {
  width: 184px;
  margin: 0px auto;
  &:after,
  &:before {
    @include clearfix;
  }
}

#footer {
  background-color: #1b1464;
  color: #ffffff;
  font: 400 12px/16px 'Lucida Grande';
  padding: 30px 0 15px 0;
  text-align: center;
  .footer_menu {
    padding: 0 20px 30px 20px;
    text-align: center;
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
    &:before,
    &:after {
      @include clearfix;
    }

    li {
      list-style: none;
      float: left;
      font-size: 14px;
      line-height: 16px;
      min-height: 16px;
      padding: 7px 10px;
      a {
        color: #ffffff;
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
  }
}

.clear { clear: both; }

.scroll-top-wrap {
  position: relative;
}

.scroll-top {
  display: block;
  width: 60px;
  height: 60px;
  background: #1b1464 url("images/common/scroll-top.png") no-repeat;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0 20px 20px 0;
  @include transition;
  &.none { display: none; }
  &.absolute { position: absolute; }
  &:hover { @include opacity; }
}

@media(max-width: 1130px) {
  #common .container {
    width: 100%;
    @include border-box;
  }
}

@media(max-width: 815px) {
  .slicknav_btn { display: block; }
  header {
    .global_menu  { display: none; }
  }
  #common .container {
    padding: 0 20px;
  }
}
