// Mixin
@mixin border-radius($px: 0px) {
  border-radius: $px;
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  -o-border-radius: $px;
  -ms-border-radius: $px;
}

@mixin border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

@mixin appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
}
