@charset "UTF-8";
/*
Description: 固定ページ
*/
#common .page-cover {
  background: #c2e2dd url("images/page/cover.png") bottom center/cover no-repeat;
  padding: 70px 0 50px 0;
}
#common .page-cover h1 {
  font-size: 27px;
  line-height: 1.3;
  min-height: 45px;
  margin: 0;
  padding: 30px 0 0 0;
  text-align: center;
  font-family: "FOT-くろかね Std EB", "KurokaneStd-EB", sans-serif;
}
#common .page-wrap {
  background-color: #ffffff;
  color: #1b1464;
  position: relative;
}
#common .page-wrap img {
  max-width: 100%;
  height: auto;
}
#common .page-wrap h2 {
  font-size: 18px;
  line-height: 24px;
  min-height: 24px;
  padding: 9px 0 19px 9px;
  position: relative;
}
#common .page-wrap h2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin: -26px 0 0 -7px;
  width: 7px;
  height: 42px;
  background-image: url("images/editor/h2.png");
}
#common .page-wrap h3 {
  font-size: 16px;
  background-image: url("images/editor/h3.png");
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 0 0 10px 5px;
  margin-bottom: 10px;
  padding-right: 25px;
  display: inline-block;
}
#common .page-wrap h4 {
  font-size: 16px;
  border-bottom: 1.5px solid #1B1464;
  padding: 20px 0 5px 0;
  margin: 0 0 5px 0;
}
#common .page-wrap .page-nav {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 35px 0 0 15px;
}
#common .page-wrap .page-nav li {
  display: block;
  list-style: none;
  margin-bottom: 10px;
  width: 225px;
  min-height: 31px;
  line-height: 33px;
  font-size: 14px;
  border: 1px solid #1b1464;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#common .page-wrap .page-nav li a {
  position: relative;
  background-color: #ffffff;
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #1b1464;
}
#common .page-wrap .page-nav li a:after {
  font-family: 'RdGothic-icons';
  content: '\f106';
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 14px;
  line-height: 1;
  margin: -8px 5px 0 0;
}
#common .page-wrap .page-nav li a:hover {
  background-color: #fafafa;
}
#common .page-wrap .page-nav li.current-menu-item {
  font-weight: 700;
  cursor: default;
}
#common .page-wrap .page-nav li.current-menu-item a {
  color: #ffffff;
  background-color: #1b1464;
}
#common .page-wrap .page-nav li.current-menu-item a:hover {
  background-color: #1b1464;
}
#common .page-wrap .page-nav li.current-menu-item .sub-menu li {
  font-weight: 400;
  cursor: pointer;
}
#common .page-wrap .page-nav li.current-menu-item .sub-menu li a {
  color: #1b1464;
  background-color: #ffffff;
}
#common .page-wrap .page-nav li.current-menu-item .sub-menu li a:hover {
  background-color: #f2f2f2;
}
#common .page-wrap .page-nav li.menu-item-has-children > a:after {
  content: '\f107';
}
#common .page-wrap .page-nav li .sub-menu {
  margin: 0;
  padding: 0;
}
#common .page-wrap .page-nav li .sub-menu li {
  margin-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
}
#common .page-wrap .sitemap {
  margin: 0;
  padding: 0 0 0 40px;
  float: left;
  max-width: 380px;
  min-width: 230px;
}
#common .page-wrap .sitemap li {
  margin: 0;
  padding-left: 0px;
  min-height: 44px;
  line-height: 44px;
  list-style: none;
}
#common .page-wrap .sitemap li:before {
  font-family: 'RdGothic-icons';
  content: '\f106';
  margin-right: 6px;
  display: inline;
  font-size: 10px;
  line-height: 1;
  padding: 3px 2px;
  background-color: #1b1464;
  color: #ffffff;
  position: relative;
  top: -2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}
#common .page-wrap .sitemap li a {
  color: #1b1464;
  text-decoration: none;
}
#common .page-wrap .sitemap li a:hover {
  text-decoration: underline;
}
#common .page-wrap .sitemap li.menu-item-has-children:before {
  content: '\f107';
}
#common .page-wrap .sitemap li .sub-menu {
  padding-left: 0px;
}
#common .page-wrap .sitemap li .sub-menu li {
  padding-left: 13px;
}
#common .page-wrap .sitemap li .sub-menu li:before {
  background: none;
  color: #1b1464;
  position: relative;
  top: -2px;
}
#common .page-wrap section {
  padding: 0 100px 30px 290px;
  min-height: 350px;
}
#common .page-wrap section .page-content {
  font-size: 14px;
  line-height: 1.8;
  margin: 30px 13px;
}
#common .page-wrap section .page-content a {
  color: #1b1464;
}
#common .page-wrap section .page-content a:hover {
  text-decoration: none;
}
#common .page-wrap section:before, #common .page-wrap section:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#common .page-wrap .authors {
  color: #000000;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D", sans-serif;
}
#common .page-wrap .authors:before, #common .page-wrap .authors:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#common .page-wrap .authors .author {
  min-width: 44%;
  max-width: 44%;
  float: left;
  margin: 0 3% 20px 3%;
  text-align: center;
}
#common .page-wrap .authors .author img {
  width: 80%;
  height: auto;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -o-border-radius: 150px;
  -ms-border-radius: 150px;
  margin-bottom: 10px;
}
#common .page-wrap .authors .author strong {
  display: block;
  font-family: "FOT-筑紫ゴシック Pro E", "TsukuGoPro-E", sans-serif;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 10px;
}
#common .page-wrap .authors .author p {
  text-align: left;
  margin: 0 0 5px 0;
  font-size: 14px;
  line-height: 1.4;
}
#common .page-wrap .authors .author .twitter,
#common .page-wrap .authors .author .facebook {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  margin: 0 3px;
  background: transparent url("images/common/sns.png") no-repeat;
  background-size: 15px 60px;
  text-indent: -9999px;
}
#common .page-wrap .authors .author .twitter:hover,
#common .page-wrap .authors .author .facebook:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}
#common .page-wrap .authors .author .twitter {
  background-position: 0 -30px;
}
#common .page-wrap .authors .author .facebook {
  background-position: 0 -45px;
}
#common .page-wrap .authors .author .post {
  float: right;
  position: relative;
  top: -4px;
}
#common .page-wrap .authors .author:nth-child(odd) {
  clear: both;
}

@media (max-width: 815px) {
  #common .page-wrap .page-nav {
    border-top: 2px solid #1b1464;
    border-bottom: 2px solid #1b1464;
    position: relative;
    margin: 0 0 10px 0;
    padding: 0px;
  }
  #common .page-wrap .page-nav li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
    font-size: 13px;
  }
  #common .page-wrap .page-nav li:nth-child(even) {
    padding-right: 0;
  }
  #common .page-wrap .page-nav:before, #common .page-wrap .page-nav:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
  }
  #common .page-wrap section {
    padding: 0 20px 30px 20px;
  }
}
@media (max-width: 414px) {
  #common .page-wrap .authors .author {
    min-width: 94%;
    max-width: 94%;
  }
}

/*# sourceMappingURL=page.css.map */
