/*
Description: Contact Form 7
*/

@import "mixin";

#common {
  div.wpcf7 {
    position: relative;
    padding: 0px 0 30px 0;
    a {
      color: #1b1464;
      &:hover { text-decoration: none; }
    }
    .wpcf7-step {
      width: 320px;
      height: 40px;
      background-image: url("images/plugin-wpcf7/step1.png");
      margin-bottom: 30px;
    }
    .wpcf7-step2 { background-image: url("images/plugin-wpcf7/step2.png"); }
    .wpcf7-not-valid { display: block; }
    .screen-reader-response,
    .screen-reader-response ul {
      display: none;
    }
    p {
      margin: 0;
      margin-bottom: 0;
      text-align: center;
      .wpcf7-not-valid-tip {
        font-size: 16px;
        font-weight: 500;
      }
      &.message {
        font-size: 24px;
        line-height: 38px;
        font-weight: 700;
        text-align: left;
      }
      &.wpcf7-not-valid {
        border: 1px solid #dd0000;
      }
      &.wpcf7c-conf {
        border: none;
        background-color: #ffffff;
        padding: 0;
        height: 23px;
        margin-bottom: 15px;
      }
    }
    .wpcf7-response-output { margin: 0; }
    .wpcf7-mail-sent-ok {
      background-color: #1c87c9;
      color: #ffffff;
      text-align: center;
      border: none;
      padding: 5px 8px;
      width: 300px;
      margin: 0px auto;
      @include border-radius(1px);
    }
    .wpcf7-not-valid-tip {
      position: relative;
      background-color: #dd0000;
      color: #ffffff;
      display: inline-block;
      padding: 2px 8px;
      margin: 10px 0 0 0;
      font-size: 13px;
      line-height: 24px;
      text-align: center;
      @include border-radius(1px);
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        margin: -8px 0 0 -8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #dd0000 transparent;
      }
    }
    .wpcf7-not-valid { color: #dd0000; }
    .wpcf7-validation-errors {
      background-color: #dd0000;
      color: #ffffff;
      text-align: center;
      border: none;
      padding: 5px 8px;
      line-height: 20px;
      margin: 0px auto;
      margin-bottom: 10px;
      border-radius: 1px;
      @include border-radius(1px);
      b {
        color: #ff0000;
        font-size: 20px;
      }
    }
  }

  .wpcf7-list-item {
    margin-left: 0;
    line-height: 18px;
    label {
      display: inline-block;
      margin: 5px 15px 0 0;
    }
  }
  .wpcf7-checkbox label {
    font-size: 0px;
    .wpcf7-list-item-label {
      font-size: 15px;
      color: #333333;
    }
  }
  .form-group {
    clear: both;
    min-height: 44px;
    margin-bottom: 15px;
    .control-label {
      display: block;
      float: left;
      width: 170px;
      text-align: right;
      font-weight: 800;
      font-size: 15px;
      line-height: 24px;
      padding: 10px 15px 10px 0;
      color: #333333;
      abbr { font-weight: 400; }
    }
    .wpcf7-form-control-wrap {
      display: block;
      font-size: 15px;
      float: left;
      max-width: 400px;
    }
    .wpcf7c-comment {
      padding: 5px 0 0 230px;
    }
    &:after,
    &:before {
      @include clearfix;
    }
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0 5px 0 0;
    @include appearance;
    border: none;
    background-color: transparent;
    width: 22px;
    height: 22px;
    background-size: 22px 132px;
    background-position: 0 0px;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    top: 5px;
    cursor: pointer;
    &:hover { background-position: 0 -22px; }
    &:active { background-position: 0 -44px; }
    &:checked { background-position: 0 -66px; }
    &:checked:hover { background-position: 0 -88px; }
    &:checked:active { background-position: 0 -110px; }
    &::-ms-check { display: none; }
  }
  input[type="checkbox"] {
    background-image: url("images/plugin-wpcf7/checkbox-2x.png");
    background-image: none\9;
  }
  input[type="radio"] {
    background-image: url("images/plugin-wpcf7/radio-2x.png");
    background-image: none\9;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea {
    font-size: 15px;
    @include border-radius(0px);
    @include appearance;
    line-height: 22px;
    padding: 10px;
    height: 22px;
    width: 278px;
    max-width: 278px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    outline: none;
    &:focus { border-color: #1b1464; }
    &:hover { border-color: #aaaaaa; }
  }
  textarea {
    min-height: 44px;
    &:disabled {
      display: none;
      cursor: not-allowed;
      background-color: #f7f7f7;
      border-color: #f7f7f7;
    }
  }
  select {
    @include border-radius(0px);
    @include appearance;
    font-size: 15px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    line-height: 22px;
    padding: 10px;
    color: #000000;
    margin: 0 2px 0 0;
    width: 99px;
    outline: none;
    background-image: url("images/plugin-wpcf7/select-2x.png");
    background-image: none\9;
    background-size: 44px 44px;
    background-repeat: no-repeat;
    background-position: right center;
    &:focus { border-color: #1b1464; }
    &:hover { border-color: #dddddd; }
    &::-ms-expand { display: none; }
  }
  input[type="button"] {
    @include appearance;
    display: block;
    height: 22px;
    padding: 0;
    font-weight: 800;
    font-size: 15px;
    background-color: #ffffff;
    border: none;
    color: #1b1464;
    width: 100px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 5px;
    text-decoration: underline;
    &:hover { text-decoration: none; }
  }
  input[type="submit"] {
    @include border-radius(2px);
    @include appearance;
    display: block;
    color: #ffffff;
    border: 1px solid #1b1464;
    width: 198px;
    height: 42px;
    font-weight: 800;
    font-size: 15px;
    background-color: #1b1464;
    clear: both;
    margin: 0px auto;
    &:hover {
      @include opacity;
    }
  }
  .job-type select {
    width: 300px;
    padding-right: 40px;
  }
  .your-job select,
  .time select,
  .address select {
    width: 150px;
  }
  .wpcf7-confirm-wrap {
    padding: 20px;
    background-color: #f5f5f5;
    .form-group {
      min-height: auto;
      line-height: 24px;
      margin-bottom: 10px;
      .control-label {
        min-height: 1px;
        padding: 0px 15px 0px 0;
      }
      .wpcf7-list-item {
        height: auto; 
        label {
          margin: 0;
          display: block;
          line-height: 1.6;
        }
        .wpcf7-list-item-label { display: none; }
        .wpcf7c-conf-hidden + .wpcf7-list-item-label { display: block; }
      }
    }
  }
  input[type="text"].wpcf7-not-valid,
  input[type="email"].wpcf7-not-valid,
  input[type="tel"].wpcf7-not-valid,
  input[type="url"].wpcf7-not-valid,
  textarea.wpcf7-not-valid,
  select.wpcf7-not-valid {
    border: 1px solid #dd0000;
  }
  input[type="text"].wpcf7c-conf,
  input[type="email"].wpcf7c-conf,
  input[type="tel"].wpcf7c-conf,
  input[type="url"].wpcf7c-conf,
  textarea.wpcf7c-conf,
  select.wpcf7c-conf {
    border: none;
    background: none;
    padding: 0;
    min-height: 0px;
    line-height: auto;
    cursor: not-allowed;
  }
  input[type="checkbox"].wpcf7c-conf,
  input[type="radio"].wpcf7c-conf {
    display: none;
    height: 0;
    visibility: hidden;
  }
  .sent .complete-hide {
    display: none;
  }
}

@media (max-width: 960px) {
  #common {
    div.wpcf7 {
      .wpcf7-step {
        width: 208px;
        height: 26px;
        background-size: 208px 26px;
      }
    }
    form {
      input[type="submit"] {
        margin: 0px auto;
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="url"],
      textarea {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        min-height: 44px;
        width: 100%;
        margin-top: 10px;
        max-width: 100%;
      }
      textarea {
        min-height: 66px;
        width: 300%;
        max-width: 300%;
      }
      select {
        height: 44px;
        margin: 0 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        width: 100%;
      }
      .job-type select,
      .address select,
      .time select,
      .your-job select {
        width: 100%;
      }
      .wpcf7-form-control-wrap {
        width: 100%;
        max-width: 100%;
        line-height: 20px;
      }
      .wpcf7-form-control-wrap.emigrate_1, .wpcf7-form-control-wrap.emigrate_2, .wpcf7-form-control-wrap.emigrate_3 {
        width: 32%;
        margin-right: 1px;
      }
      .form-group .control-label {
        width: auto;
        text-align: left;
        float: none;
        clear: both;
        height: auto;
        padding-bottom: 0;
      }
      .form-group .wpcf7c-comment {
        padding: 5px 0 0 0;
      }
      .wpcf7-confirm-wrap .form-group {
        padding-bottom: 10px;
      }
      .wpcf7-confirm-wrap .wpcf7-form-control-wrap.emigrate_1, .wpcf7-confirm-wrap .wpcf7-form-control-wrap.emigrate_2, .wpcf7-confirm-wrap .wpcf7-form-control-wrap.emigrate_3 {
        margin-right: 0;
      }
    }
  }
}
