@charset "UTF-8";
#summary {
  padding-bottom: 60px;
}
#summary .summary-cover {
  background: transparent url(images/template-summary/"cover-background-"pink.jpg) center bottom/cover no-repeat;
}
#summary .summary-grid-wrap .summary-grid {
  background: transparent url(images/template-summary/"bottom-"pink.png) bottom left no-repeat;
}
#summary .summary-grid-wrap .summary-grid:hover {
  color: #e61673;
}
#summary .summary-grid-wrap .summary-grid:hover h4,
#summary .summary-grid-wrap .summary-grid:hover p {
  color: #e61673;
}
#summary.recruit .summary-cover {
  background: transparent url(images/template-summary/"cover-background-"blue.jpg) center bottom/cover no-repeat;
}
#summary.recruit .summary-grid-wrap .summary-grid {
  background: transparent url(images/template-summary/"bottom-"blue.png) bottom left no-repeat;
}
#summary.recruit .summary-grid-wrap .summary-grid:hover {
  color: #49c6e8;
}
#summary.recruit .summary-grid-wrap .summary-grid:hover h4,
#summary.recruit .summary-grid-wrap .summary-grid:hover p {
  color: #49c6e8;
}
#summary.column .summary-cover {
  background: transparent url(images/template-summary/"cover-background-"purple.jpg) center bottom/cover no-repeat;
}
#summary.column .summary-grid-wrap .summary-grid {
  background: transparent url(images/template-summary/"bottom-"purple.png) bottom left no-repeat;
}
#summary.column .summary-grid-wrap .summary-grid:hover {
  color: #dd4ae5;
}
#summary.column .summary-grid-wrap .summary-grid:hover h4,
#summary.column .summary-grid-wrap .summary-grid:hover p {
  color: #dd4ae5;
}
#summary.event .summary-cover {
  background: transparent url(images/template-summary/"cover-background-"green.jpg) center bottom/cover no-repeat;
}
#summary.event .summary-grid-wrap .summary-grid {
  background: transparent url(images/template-summary/"bottom-"green.png) bottom left no-repeat;
}
#summary.event .summary-grid-wrap .summary-grid:hover {
  color: #6ecc3e;
}
#summary.event .summary-grid-wrap .summary-grid:hover h4,
#summary.event .summary-grid-wrap .summary-grid:hover p {
  color: #6ecc3e;
}
#summary.interview .summary-cover {
  background: transparent url(images/template-summary/"cover-background-"orange.jpg) center bottom/cover no-repeat;
}
#summary.interview .summary-grid-wrap .summary-grid {
  background: transparent url(images/template-summary/"bottom-"orange.png) bottom left no-repeat;
}
#summary.interview .summary-grid-wrap .summary-grid:hover {
  color: #ff9e55;
}
#summary.interview .summary-grid-wrap .summary-grid:hover h4,
#summary.interview .summary-grid-wrap .summary-grid:hover p {
  color: #ff9e55;
}
#summary.niche .summary-cover {
  background: transparent url(images/template-summary/"cover-background-"navy.jpg) center bottom/cover no-repeat;
}
#summary.niche .summary-grid-wrap .summary-grid {
  background: transparent url(images/template-summary/"bottom-"navy.png) bottom left no-repeat;
}
#summary.niche .summary-grid-wrap .summary-grid:hover {
  color: #1b1464;
}
#summary.niche .summary-grid-wrap .summary-grid:hover h4,
#summary.niche .summary-grid-wrap .summary-grid:hover p {
  color: #1b1464;
}
#summary.blog .summary-cover {
  background: transparent url(images/template-summary/"cover-background-"navy.jpg) center bottom/cover no-repeat;
}
#summary.blog .summary-grid-wrap .summary-grid {
  background: transparent url(images/template-summary/"bottom-"navy.png) bottom left no-repeat;
}
#summary.blog .summary-grid-wrap .summary-grid:hover {
  color: #1b1464;
}
#summary.blog .summary-grid-wrap .summary-grid:hover h4,
#summary.blog .summary-grid-wrap .summary-grid:hover p {
  color: #1b1464;
}
#summary.media .summary-cover {
  background: transparent url(images/template-summary/"cover-background-"navy.jpg) center bottom/cover no-repeat;
}
#summary.media .summary-grid-wrap .summary-grid {
  background: transparent url(images/template-summary/"bottom-"navy.png) bottom left no-repeat;
}
#summary.media .summary-grid-wrap .summary-grid:hover {
  color: #1b1464;
}
#summary.media .summary-grid-wrap .summary-grid:hover h4,
#summary.media .summary-grid-wrap .summary-grid:hover p {
  color: #1b1464;
}
#summary.niche .summary-cover, #summary.blog .summary-cover, #summary.media .summary-cover {
  color: #ffffff;
}
#summary .container {
  max-width: 1120px;
  margin: 0px auto;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#summary .summary-cover {
  background: transparent url("images/template-summary/cover-background.jpg") center center/cover no-repeat;
  padding: 105px 0 95px 0;
  margin-bottom: 30px;
  text-align: center;
}
#summary .summary-cover h1 {
  margin: 0 0 10px 0;
  padding: 30px 0 0 0;
  font-family: "FOT-あおかね Std EB", "AokaneStd-EB";
  font-size: 32px;
}
#summary .summary-cover p {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 1.9;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D";
}
#summary .sns-share {
  width: 240px;
  margin: 0px auto;
}
#summary .sns-share .facebook,
#summary .sns-share .twitter {
  float: left;
  margin: 0 5px;
}
#summary .sns-share .facebook {
  width: 145px;
}
#summary .sns-share .twitter {
  width: 75px;
}
#summary .sns-share:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#summary .summary-widget {
  text-align: center;
}
#summary .summary-widget a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  background-color: #e61673;
  border: 5px solid #e61673;
  display: inline-block;
  max-width: 347px;
  height: auto;
}
#summary .summary-widget a img {
  vertical-align: bottom;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#summary .summary-widget a:hover {
  border-color: #ec3989;
}
#summary .summary-widget a:hover img {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}
#summary h2.summary-h2 {
  text-align: center;
  width: 185px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 15px;
  border-top: 1px solid #e61673;
  border-bottom: 1px solid #e61673;
  font-size: 26px;
  line-height: 27px;
  color: #e61673;
  font-family: "FOT-あおかね Std EB", "AokaneStd-EB";
}
#summary .summary-grid-wrap:before, #summary .summary-grid-wrap:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#summary .summary-grid-wrap .summary-grid {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  width: 235px;
  height: auto;
  min-height: 308px;
  float: left;
  text-decoration: none;
  color: #231815;
  margin: 15px 20px;
  overflow: hidden;
  background: transparent url("images/template-summary/bottom-pink.png") bottom left no-repeat;
}
#summary .summary-grid-wrap .summary-grid figure {
  margin: 0;
  text-align: center;
  position: relative;
  padding-top: 170px;
}
#summary .summary-grid-wrap .summary-grid figure img {
  position: absolute;
  height: 170px;
  width: auto;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  vertical-align: bottom;
  background: #ffffff url("images/loading.gif") no-repeat;
  background-position: center center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#summary .summary-grid-wrap .summary-grid figure figcaption {
  padding: 8px 0 0 0;
  background-color: #ffffff;
}
#summary .summary-grid-wrap .summary-grid figure h3 {
  text-align: left;
  font-family: "FOT-筑紫ゴシック Pro E", "TsukuGoPro-E";
  font-size: 19px;
  line-height: 1.4;
  margin: 0 0 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 80px;
}
#summary .summary-grid-wrap .summary-grid figure h4 {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D";
  color: #888888;
  font-size: 13px;
  line-height: 1.5;
  margin: 0 0 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: 20px;
}
#summary .summary-grid-wrap .summary-grid figure p {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D";
  color: #888888;
  font-size: 13px;
  line-height: 1.7;
  margin: 0 0 17px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
#summary .summary-grid-wrap .summary-grid.summary-grid-first {
  width: 510px;
}
#summary .summary-grid-wrap .summary-grid.summary-grid-first figure {
  padding-top: 340px;
}
#summary .summary-grid-wrap .summary-grid.summary-grid-first figure img {
  height: 340px;
}
#summary .summary-grid-wrap .summary-grid.summary-grid-first figure figcaption {
  padding-top: 10px;
}
#summary .summary-grid-wrap .summary-grid:hover {
  color: #e61673;
}
#summary .summary-grid-wrap .summary-grid:hover h4,
#summary .summary-grid-wrap .summary-grid:hover p {
  color: #e61673;
}
#summary .summary-grid-wrap .summary-grid:hover figure img {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}
#summary .logo-wrap {
  position: relative;
  border: 2px solid #e61673;
  max-width: 745px;
  margin: 0px auto;
  margin-top: 70px;
  padding: 0 0 5px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}
#summary .logo-wrap h2.logo-h2 {
  position: relative;
  top: -15px;
  margin: 0;
  padding: 0;
  text-align: center;
}
#summary .logo-wrap ul {
  margin: 0;
  padding: 0;
}
#summary .logo-wrap ul li {
  display: block;
  float: left;
  width: 91px;
  list-style: none;
  margin: 0 5px 5px 8px;
  padding: 0;
  border: 1px solid #888888;
}
#summary .logo-wrap ul li img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
#summary .logo-wrap ul:before, #summary .logo-wrap ul:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.summary-footer .sns-footer {
  background: #transparent url("images/template-summary/footer-background.jpg") center center/cover no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 1120px) {
  #summary .container {
    max-width: 845px;
  }
}
@media (max-width: 845px) {
  #summary .summary-cover {
    padding-top: 60px;
    margin-bottom: 0;
  }
  #summary .summary-cover h1 img {
    max-width: 95%;
  }
  #summary .summary-cover p br {
    display: none;
  }
  #summary .summary-grid-wrap .summary-grid {
    width: 46%;
    margin: 2% 2% 5% 2%;
    min-height: 280px;
  }
  #summary .summary-grid-wrap .summary-grid figure {
    padding-top: 140px;
  }
  #summary .summary-grid-wrap .summary-grid figure img {
    height: 140px;
  }
  #summary .summary-grid-wrap .summary-grid figure figcaption h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  #summary .summary-grid-wrap .summary-grid.summary-grid.summary-grid-first {
    width: 96%;
    margin: 2% 2% 5% 2%;
  }
  #summary .summary-grid-wrap .summary-grid.summary-grid.summary-grid-first figure {
    padding-top: 230px;
  }
  #summary .summary-grid-wrap .summary-grid.summary-grid.summary-grid-first figure img {
    height: 230px;
  }
  #summary .logo-wrap ul li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 31%;
    margin: 0 1% 2% 1%;
  }
  #summary .logo-wrap ul li img {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=template-summary.css.map */
