@import "mixin";
#summary {
  padding-bottom: 60px;
  $design: 'FOT-あおかね Std EB', 'AokaneStd-EB';
  $gothic: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D';
  $gothic-b: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
  $pink: #e61673;
  $black: #231815;
  $container: 1100px;
  .container {
    max-width: $container + 20px;
    margin: 0px auto;
    padding: 0 10px;
    @include border-box;
  }
  .summary-cover {
    background: transparent url("images/template-summary/cover-background.jpg") center center /cover no-repeat;
    padding: 105px 0 95px 0;
    margin-bottom: 30px;
    text-align: center;
    h1 {
      margin: 0 0 10px 0;
      padding: 30px 0 0 0;
      font-family: $design;
      font-size: 32px;
    }
    p {
      margin: 0 0 20px 0;
      font-size: 14px;
      line-height: 1.9;
      font-family: $gothic;
    }
  }
  .sns-share {
    width: 240px;
    margin: 0px auto;
    .facebook,
    .twitter {
      float: left;
      margin: 0 5px;
    }
    .facebook { width: 145px; }
    .twitter  { width: 75px; }
    &:after {
      @include clearfix;
    }
  }
  .summary-widget {
    text-align: center;
    a {
      @include transition;
      background-color: $pink;
      border: 5px solid $pink;
      display: inline-block;
      max-width: 347px;
      height: auto;
      img {
        vertical-align: bottom;
        @include transition;
      }
      &:hover {
        border-color: lighten($pink,8%);
        img {
          @include opacity;
        }
      }
    }
  }
  h2.summary-h2 {
    text-align: center;
    width: 185px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 15px;
    border-top: 1px solid $pink;
    border-bottom: 1px solid $pink;
    font-size: 26px;
    line-height: 27px;
    color: $pink;
    font-family: $design;
  }
  .summary-grid-wrap {
    &:before,
    &:after {
      @include clearfix;
    }
    .summary-grid {
      $img: 170px;
      $margin: 20px;
      $width: ($container - ($margin * 8)) / 4;
      @include transition;
      @include border-box;
      display: block;
      width: $width;
      height: auto;
      min-height: 309px;
      float: left;
      text-decoration: none;
      color: $black;
      margin: 15px $margin;
      overflow: hidden;
      background: transparent url("images/template-summary/bottom.png") bottom left no-repeat;
      figure {
        margin: 0;
        text-align: center;
        img {
          height: $img;
          width: auto;
          vertical-align: bottom;
          background-color: $pink;
          @include transition;
        }
        figcaption {
          padding: 8px 0 0 0;
          background-color: #ffffff;
        }
        h3 {
          text-align: left;
          font-family: $gothic-b;
          font-size: 19px;
          line-height: 1.4;
          margin: 0 0 15px 0;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        h4 {
          @include transition;
          text-align: left;
          font-family: $gothic;
          color: #888888;
          font-size: 13px;
          line-height: 1.5;
          margin: 0 0 15px 0;
        }
        p {
          @include transition;
          text-align: left;
          font-family: $gothic;
          color: #888888;
          font-size: 13px;
          line-height: 1.7;
          margin: 0 0 17px 0;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
        }
      }
      &.summary-grid-first {
        width: ($width * 2) + ($margin * 2);
        figure {
          img {
            height: $img * 2;
          }
          figcaption {
            padding-top: 10px;
          }
        }
      }
      &:hover {
        color: $pink;
        h4,
        p {
          color: $pink;
        }
        figure {
          img {
            @include opacity;
          }
        }
      }
    }
  }
  .logo-wrap {
    position: relative;
    border: 2px solid $pink;
    max-width: 745px;
    margin: 0px auto;
    margin-top: 70px;
    padding: 0 0 5px 0;
    @include border-radius(10px);
    h2.logo-h2 {
      position: relative;
      top: -15px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: block;
        float: left;
        width: 91px;
        list-style: none;
        margin: 0 5px 5px 8px;
        padding: 0;
        border: 1px solid #888888;
        img {
          width: 100%;
          height: auto;
          vertical-align: bottom;
        }
      }
      &:before,
      &:after {
        @include clearfix;
      }
    }
  }
}

@media(max-width: 767px) {
  #summary {
    .summary-cover {
      padding-top: 60px;
      margin-bottom: 0;
      h1 {
        img {
          max-width: 95%;
        }
      }
      p {
        br { display: none; }
      }
    }
    .summary-grid-wrap {
      .summary-grid {
        width: 46%;
        margin: 2% 2% 5% 2%;
        min-height: 280px;
        figure {
          img {
            height: 140px;
          }
          figcaption {
            h4 {
              overflow : hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }
          }
        }
        &.summary-grid.summary-grid-first {
          width: 96%;
          margin: 2% 2% 5% 2%;
          figure {
            img {
              height: 230px;
            }
          }
        }
      }
    }
    .logo-wrap {
      ul {
        li {
          @include border-box;
          width: 40%;
          margin: 0 5% 5% 5%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
