@charset "UTF-8";
#template-lovedraft {
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D", sans-serif;
  color: #000000;
  background: #ffffff url("images/template-lovedraft/background.jpg") top center/100% no-repeat;
}
#template-lovedraft .container {
  max-width: 1120px;
  margin: 0px auto;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#template-lovedraft img {
  max-width: 100%;
}
#template-lovedraft #cover {
  text-align: center;
}
#template-lovedraft #cover h1 {
  margin: 0px auto;
  max-width: 700px;
  padding-top: 120px;
}
#template-lovedraft #cover h1 .title {
  fill: #000000;
}
#template-lovedraft #cover h1 .subtitle {
  fill: #ffffff;
}
#template-lovedraft #cover img {
  max-width: 400px;
}
#template-lovedraft #cover .sponsored {
  text-align: left;
  font-size: 13px;
  line-height: 1.2;
  max-width: 320px;
  margin: 0px auto;
  margin-bottom: 60px;
}
#template-lovedraft #cover .content {
  margin: 0;
  padding-bottom: 30px;
}
#template-lovedraft #cover .button {
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin-bottom: 50px;
  font-size: 19px;
  color: #ffffff;
  background-color: #ff931e;
  width: 300px;
  height: 40px;
  line-height: 37px;
  margin: 0px auto;
  margin-bottom: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -webkit-box-shadow: 0px 5px 0px #ffc28f;
  -moz-box-shadow: 0px 5px 0px #ffc28f;
  -ms-box-shadow: 0px 5px 0px #ffc28f;
  -o-box-shadow: 0px 5px 0px #ffc28f;
  box-shadow: 0px 5px 0px #ffc28f;
  text-decoration: none;
  font-family: "FOT-筑紫ゴシック Pro E", "TsukuGoPro-E", sans-serif;
}
#template-lovedraft #cover .button:hover {
  top: 5px;
  -webkit-box-shadow: 0px 0px 0px #ffc28f;
  -moz-box-shadow: 0px 0px 0px #ffc28f;
  -ms-box-shadow: 0px 0px 0px #ffc28f;
  -o-box-shadow: 0px 0px 0px #ffc28f;
  box-shadow: 0px 0px 0px #ffc28f;
}
#template-lovedraft .section h2 {
  text-align: center;
  padding-top: 55px;
  font-size: 31px;
  margin: 0;
}
#template-lovedraft .section h3 {
  text-align: center;
  font-size: 28px;
  padding-top: 35px;
  margin: 0 0 20px 0;
}
#template-lovedraft .section h3.timetable {
  color: #ff931e;
}
#template-lovedraft .section h2 b,
#template-lovedraft .section h3 b {
  font-family: "FOT-つばめ Std R", "TsubameStd-R", sans-serif;
  color: #50a61e;
  font-size: 130%;
  letter-spacing: -0.17em;
}
#template-lovedraft .section.flow {
  background-color: #e4ffd2;
  padding-bottom: 80px;
}
#template-lovedraft .section.flow ul.lovedraft-flow {
  max-width: 920px;
  margin: 0px auto;
}
#template-lovedraft .section.flow ul.lovedraft-flow:before, #template-lovedraft .section.flow ul.lovedraft-flow:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-lovedraft .section.flow ul.lovedraft-flow li {
  position: relative;
  list-style: none;
  float: left;
  width: 25%;
}
#template-lovedraft .section.flow ul.lovedraft-flow li figure {
  background: #e4ffd2 url("images/template-lovedraft/balloon.png") bottom center/60% no-repeat;
  margin: 0;
  text-align: center;
  height: 280px;
}
#template-lovedraft .section.flow ul.lovedraft-flow li figure img {
  width: 90%;
}
#template-lovedraft .section.flow ul.lovedraft-flow li figure figcaption {
  color: #ffffff;
  font-family: "FOT-筑紫ゴシック Pro E", "TsukuGoPro-E", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
#template-lovedraft .section.flow ul.lovedraft-flow li figure figcaption span {
  font-size: 13px;
}
#template-lovedraft .section.flow ul.lovedraft-flow li figure figcaption.scout {
  position: relative;
  top: -8px;
}
#template-lovedraft .section.flow ul.lovedraft-flow li b {
  font-family: "FOT-つばめ Std R", "TsubameStd-R", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 -30px 13px 0;
  font-size: 70px;
  color: #50a61e;
  z-index: 2;
}
#template-lovedraft .section.schedule {
  padding-bottom: 55px;
}
#template-lovedraft .section.schedule table {
  border-collapse: collapse;
}
#template-lovedraft .section.schedule table.overview, #template-lovedraft .section.schedule table.timetable {
  margin: 0px auto;
  color: #ffffff;
}
#template-lovedraft .section.schedule table.overview {
  max-width: 742px;
  background-color: #50a61e;
  font-size: 18px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
#template-lovedraft .section.schedule table.overview tr th,
#template-lovedraft .section.schedule table.overview tr td {
  padding: 9px 20px;
}
#template-lovedraft .section.schedule table.overview tr th {
  border-right: 2px dashed #ffffff;
  text-align: right;
}
#template-lovedraft .section.schedule table.overview tr:first-child th,
#template-lovedraft .section.schedule table.overview tr:first-child td {
  padding-top: 18px;
}
#template-lovedraft .section.schedule table.overview tr:last-child th,
#template-lovedraft .section.schedule table.overview tr:last-child td {
  padding-bottom: 18px;
}
#template-lovedraft .section.schedule table.timetable {
  background-color: #ff931e;
  font-size: 12px;
  padding: 8px 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
#template-lovedraft .section.schedule table.timetable thead {
  font-size: 16px;
}
#template-lovedraft .section.schedule table.timetable thead tr th {
  border-bottom: 2px solid #ffffff;
  padding: 10px 30px;
  text-align: left;
}
#template-lovedraft .section.schedule table.timetable tbody tr td {
  padding: 5px 10px;
}
#template-lovedraft .section.schedule table.timetable tbody tr td:first-child {
  padding-left: 30px;
}
#template-lovedraft .section.schedule table.timetable tbody tr td:last-child {
  padding-right: 30px;
}
#template-lovedraft .section.schedule table.timetable tbody tr:last-child td {
  padding-bottom: 15px;
}
#template-lovedraft .section.form {
  padding-bottom: 20px;
  background-color: #ffd05c;
}
#template-lovedraft .section.form p {
  text-align: center;
}
#template-lovedraft .section.form .wpcf7 {
  padding-top: 15px;
}
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap {
  max-width: 700px;
  margin: 0px auto;
}
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group {
  margin-bottom: 10px;
}
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group .wpcf7-form-control-wrap {
  display: block;
  max-width: 300px;
  float: left;
  margin-bottom: 7px;
}
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group .wpcf7-form-control-wrap select.wpcf7-not-valid,
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group .wpcf7-form-control-wrap textarea.wpcf7-not-valid,
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group .wpcf7-form-control-wrap input[type="text"].wpcf7-not-valid,
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group .wpcf7-form-control-wrap input[type="tel"].wpcf7-not-valid,
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group .wpcf7-form-control-wrap input[type="email"].wpcf7-not-valid {
  border: 1px solid #e73828;
}
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group .control-label {
  text-align: right;
  width: 225px;
  margin: 4px 15px 0 0;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 1.3;
}
#template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-lovedraft .section.form span.wpcf7-not-valid-tip {
  font-size: 11px;
  color: #e73828;
}
#template-lovedraft .section.form div.wpcf7-response-output {
  max-width: 400px;
  margin: 0px auto;
  padding: 10px;
  border: none;
  color: #e73828;
}
#template-lovedraft .section.form input[type="submit"],
#template-lovedraft .section.form input[type="button"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  background-color: #50a61e;
  border: none;
  width: 150px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  margin: 0 5px;
}
#template-lovedraft footer {
  padding: 20px 0 5px 0;
  background-color: #50a61e;
  color: #ffffff;
  text-align: center;
}
#template-lovedraft footer img {
  display: block;
  max-width: 350px;
  margin: 0px auto;
}
#template-lovedraft footer small {
  text-align: center;
}

#common.template-lovedraft-single .single-wrap {
  border-top: none;
}
#common.template-lovedraft-single .single-wrap .single-left,
#common.template-lovedraft-single .single-wrap .single-right {
  margin: 0px auto;
  float: none;
}
#common.template-lovedraft-single .single-wrap .single-left .single-title-img,
#common.template-lovedraft-single .single-wrap .single-right .single-title-img {
  display: block;
  max-width: 400px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1020px) {
  #template-lovedraft {
    background-size: 200% auto;
  }
  #template-lovedraft #cover h1 {
    padding-top: 70px;
  }
  #template-lovedraft #cover img {
    width: 70%;
  }
  #template-lovedraft .section.flow ul.lovedraft-flow li figure {
    height: auto;
    padding-bottom: 60px;
    background-size: 50% auto;
    background-position: center center;
    background: none;
  }
  #template-lovedraft .section.flow ul.lovedraft-flow li figure img {
    width: 130px;
  }
  #template-lovedraft .section.flow ul.lovedraft-flow li figure figcaption {
    position: relative;
    top: -10px;
    color: #000000;
  }
  #template-lovedraft .section.flow ul.lovedraft-flow li figure.figure-scout {
    padding-bottom: 30px;
  }
  #template-lovedraft .section.schedule table.overview {
    font-size: 13px;
  }
  #template-lovedraft .section.schedule table.timetable thead {
    font-size: 13px;
  }
  #template-lovedraft .section.form .wpcf7 .r-form-group-wrap {
    max-width: 300px;
    margin: 0px auto;
  }
  #template-lovedraft .section.form .wpcf7 .r-form-group-wrap .form-group .control-label {
    width: 100%;
    text-align: left;
  }
  #template-lovedraft footer img {
    max-width: 300px;
  }
}

/*# sourceMappingURL=template-lovedraft.css.map */
