@import "mixin";
@import "variables";

.corporations-eyecatch {
  padding: 0;
  max-width: 1130px;
  margin: 0px auto;
  img {
    width: 100%;
    max-height: 484px;
    vertical-align: bottom;
  }
}

#corporations {
  background-color: #ffffff;
  color: #000000;
  font-family: $gothic;
  .section {
    margin-bottom: 50px;
    padding: 25px 20px 0 20px;
    .border {
      display: block;
      width: 81px;
      height: 4px;
      margin: 0px auto;
    }
    h2 {
      font-family: $aokane;
      font-size: 29px;
      text-align: center;
      margin: 40px 0 20px 0;
    }
    p {
      text-align: center;
      font-size: 16px;
      margin: 0 0 40px 0;
    }
    .owl-carousel {
      margin-bottom: 30px;
      a.single-related {
        p {
          text-align: left;
        }
      }
    }
    ul.prefectures {
      list-style: none;
      margin: 0;
      padding: 0;
      @include flex;
      max-width: 612px;
      margin: 0px auto;
      margin-bottom: 40px;
      li {
        margin: 0 18px;
        a {
          position: relative;
          @include transition;
          text-decoration: none;
          color: #000000;
          font-family: $aokane;
          font-size: 24px;
          line-height: 58px;
          writing-mode: vertical-rl;
          text-align: center;
          width: 58px;
          height: 200px;
          border: 4px solid #000000;
          @include border-radius(10px);
          @include box-shadow(0px, 5px, 0px, 1 );
          &:hover {
            top: 5px;
            @include box-shadow(0px, 0px, 0px, 1 );
          }
        }
      }
    }
    .button {
      font-family: $aokane;
      background-color: #ffffff;
      color: #000000;
      border: 4px solid #000000;
      @include box-shadow(0px, 5px, 0px, 1 );
      &:hover {
        top: 5px;
        @include box-shadow(0px, 0px, 0px, 1 );
      }
    }
    &.media {
      text-align: center;
      img {
        max-width: 600px;
      }
    }
    &:first-child {
      padding-top: 70px;
    }
  }
  div.wpcf7 {
    max-width: 600px;
    margin: 0px auto;
  }
}
