@charset "UTF-8";
.page-template-template-wakayama {
  color: #222222;
}
.page-template-template-wakayama #footer {
  background: none;
  color: #222222;
  padding: 30px 0 15px;
}

#template-wakayama {
  font-size: 14px;
  background: #fef5ea url("images/template-wakayama/background.png") center center/100% repeat-y;
}
#template-wakayama img {
  max-width: 100%;
}
#template-wakayama p,
#template-wakayama article,
#template-wakayama section,
#template-wakayama .section,
#template-wakayama nav {
  font-family: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D';
}
#template-wakayama a {
  color: #00A0E9;
}
#template-wakayama a:hover {
  color: #32b3ed;
}
#template-wakayama a.button {
  display: block;
  width: 234px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.8;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 15px;
  background-color: #1b1464;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#template-wakayama a.button:hover {
  background-color: #241b86;
}
#template-wakayama a.scroll-up-button {
  background-color: #32b3ed;
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 22px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#template-wakayama a.scroll-up-button:hover {
  background-color: #4cbcef;
}
#template-wakayama h1,
#template-wakayama h2,
#template-wakayama h3,
#template-wakayama h4,
#template-wakayama time,
#template-wakayama a.button {
  font-family: 'FOT-ニューセザンヌ ProN DB', 'NewCezanneProN-DB';
}
#template-wakayama strong,
#template-wakayama tr.strong {
  font-family: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
}
#template-wakayama .container {
  max-width: 1100px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0px auto;
  padding: 0 10px;
}
#template-wakayama #cover {
  position: relative;
  background: transparent url("images/template-wakayama/background-top.png") top center/100% no-repeat;
  padding: 0 0 30px 0;
  text-align: center;
}
#template-wakayama #cover img.cover-image {
  position: relative;
  top: 35px;
  z-index: 1;
}
#template-wakayama #cover h1 {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0;
  font-size: 28px;
}
#template-wakayama #cover h1 time {
  display: none;
}
#template-wakayama #cover address {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}
#template-wakayama #cover .content {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}
#template-wakayama #cover .content p {
  background-color: #fedc5e;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 30px;
}
#template-wakayama #cover .content p strong {
  font-size: 20px;
  margin-top: 10px;
}
#template-wakayama #cover .content img {
  position: absolute;
  bottom: 0;
}
#template-wakayama #cover .content img.orange {
  left: 0;
  margin: 0 0 40px 10px;
}
#template-wakayama #cover img.panda, #template-wakayama #cover img.okami {
  position: absolute;
  top: 50%;
  z-index: 2;
}
#template-wakayama #cover img.panda {
  left: 50%;
  margin: 150px 0 0 200px;
}
#template-wakayama #cover img.okami {
  right: 50%;
  margin: 300px 200px 0 0;
}
#template-wakayama .schedule table {
  width: 550px;
  padding: 10px 0;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 3px solid #84b3d9;
  background-color: #dff3f9;
}
#template-wakayama .schedule table caption {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  background-color: #0d4675;
  padding: 5px 0 5px 0;
  border-top: 3px solid #84b3d9;
  border-left: 3px solid #84b3d9;
  border-right: 3px solid #84b3d9;
}
#template-wakayama .schedule table tbody tr th,
#template-wakayama .schedule table tbody tr td {
  padding: 2px 5px;
}
#template-wakayama .schedule table tbody tr th {
  padding-right: 5px;
  width: 80px;
  text-align: right;
  vertical-align: top;
}
#template-wakayama .schedule table tbody tr th time {
  font-size: 13px;
  background-color: #df7c00;
  padding: 2px 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
}
#template-wakayama .schedule table tbody tr td {
  font-size: 15px;
}
#template-wakayama .schedule table tbody tr td strong {
  font-size: 16px;
}
#template-wakayama .schedule table tbody tr td strong span {
  color: #ef4600;
}
#template-wakayama .schedule table tbody tr td ul {
  margin: 5px 0 0 0;
  padding: 0 0 0 20px;
}
#template-wakayama .schedule table tbody tr td ul li {
  color: #ef4600;
}
#template-wakayama .schedule table tbody tr td ul li span {
  color: #222222;
}
#template-wakayama .section h2 {
  text-align: center;
  margin: 20px 0 0 0;
}
#template-wakayama .section p {
  position: relative;
  top: -15px;
  max-width: 600px;
  margin: 0px auto;
  margin-bottom: 40px;
}
#template-wakayama .sns-share {
  width: 240px;
  margin: 0px auto;
}
#template-wakayama .sns-share .facebook,
#template-wakayama .sns-share .twitter {
  float: left;
  margin: 0 5px;
}
#template-wakayama .sns-share .facebook {
  width: 145px;
}
#template-wakayama .sns-share .twitter {
  width: 75px;
}
#template-wakayama .sns-share:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-wakayama .map .acf-map {
  margin: 0px auto;
  max-width: 800px;
  height: 450px;
}
#template-wakayama center {
  text-align: center;
}
#template-wakayama center a {
  font-size: 12px;
  color: #ffffff;
}
#template-wakayama center a:hover {
  color: #ffffff;
  text-decoration: none;
}
#template-wakayama #common {
  background: none;
  width: 500px;
  margin: 0px auto;
}

@media (max-width: 815px) {
  header.wakayama .global_menu {
    display: block;
  }
  header.wakayama .slicknav_btn {
    display: none;
  }
}
@media (max-width: 872px) {
  header.wakayama {
    background: none;
    border: none;
    height: 0;
  }
  header.wakayama .global_menu {
    display: none;
  }
  header.wakayama .slicknav_btn {
    display: block;
  }
  header.wakayama:after, header.wakayama:before {
    background: none;
  }
}
@media (max-width: 767px) {
  #template-wakayama .map .acf-map {
    height: 420px;
  }
  #template-wakayama .map .address {
    text-align: center;
  }
  #template-wakayama .map .address address {
    font-size: 15px;
  }
  #template-wakayama .map .address ul li {
    float: none;
    width: 100%;
    font-size: 13px;
  }
}

/*# sourceMappingURL=template-wakayama.css.map */
