@import "mixin";
@mixin theme-color($rgb: #6ecc3e,$color: green ) {
  .summary-cover {
    //background: transparent url(images/template-summary/'cover-background-' + $color  + '.jpg') center top /cover no-repeat;
    background: #c2e2dd url("images/page/cover.png") bottom center /cover no-repeat;
  }
  .summary-grid-wrap {
    .summary-grid {
      background: transparent url(images/template-summary/'bottom-' + $color + '.png') bottom left no-repeat;
      &:hover {
        color: $rgb;
        h4,
        p {
          color: $rgb;
        }
      }
    }
  }
}

$design: 'FOT-あおかね Std EB', 'AokaneStd-EB';
$gothic: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D';
$gothic-b: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';

#summary {
  padding-bottom: 60px;
  $pink: #e61673;
  $black: #231815;
  $container: 1100px;
  &.category,
  &.author,
  &.tag,
  &.error,
  &.recruit,
  &.column,
  &.topic,
  &.event,
  &.interview,
  &.niche,
  &.blog,    
  &.media,    
  &.niche,
  &.blog,
  &.media {
    @include theme-color(#6ecc3e, green);
  }
  //&.recruit   { @include theme-color(#49c6e8,blue); }
  //&.column    { @include theme-color(#dd4ae5, purple); }
  //&.topic,
  //&.event     { @include theme-color(#6ecc3e, green); }
  //&.interview { @include theme-color(#ff9e55, orange); }
  //&.niche     { @include theme-color(#1b1464, navy); }
  //&.blog      { @include theme-color(#1b1464, navy); }
  //&.media     { @include theme-color(#1b1464, navy); }
  //&.niche,
  //&.blog,
  //&.media     {
  //  .summary-cover { color: #ffffff; }
  //}

  .container {
    max-width: $container + 20px;
    margin: 0px auto;
    padding: 0 10px;
    @include border-box;
  }
  .summary-cover {
    background: transparent url("images/template-summary/cover-background.jpg") center center /cover no-repeat;
    padding: 105px 0 95px 0;
    margin-bottom: 30px;
    text-align: center;
    h1 {
      margin: 0 0 10px 0;
      padding: 30px 0 0 0;
      font-family: $design;
      font-size: 32px;
      line-height: 1.4;
    }
    p {
      margin: 0 0 20px 0;
      font-size: 14px;
      line-height: 1.6;
      font-family: $gothic;
    }
  }
  .sns-share {
    width: 240px;
    margin: 0px auto;
    .facebook,
    .twitter {
      float: left;
      margin: 0 5px;
    }
    .facebook { width: 145px; }
    .twitter  { width: 75px; }
    &:after {
      @include clearfix;
    }
  }
  .summary-widget {
    text-align: center;
    a {
      @include transition;
      background-color: $pink;
      border: 5px solid $pink;
      display: inline-block;
      max-width: 347px;
      height: auto;
      img {
        vertical-align: bottom;
        @include transition;
      }
      &:hover {
        border-color: lighten($pink,8%);
        img {
          @include opacity;
        }
      }
    }
  }
  h2.summary-h2 {
    text-align: center;
    width: 185px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 15px;
    border-top: 1px solid $pink;
    border-bottom: 1px solid $pink;
    font-size: 26px;
    line-height: 27px;
    color: $pink;
    font-family: $design;
  }
  .summary-grid-wrap {
    &:before,
    &:after {
      @include clearfix;
    }
    .summary-grid {
      $img: 170px;
      $margin: 20px;
      $width: ($container - ($margin * 8)) / 4;
      @include transition;
      @include border-box;
      display: block;
      width: $width;
      height: auto;
      min-height: 308px;
      float: left;
      text-decoration: none;
      color: $black;
      margin: 15px $margin;
      overflow: hidden;
      background: transparent url("images/template-summary/bottom-pink.png") bottom left no-repeat;
      figure {
        margin: 0;
        text-align: center;
        position: relative;
        padding-top: 170px;
        img {
          position: absolute;
          height: $img;
          width: auto;
          left: 50%;
          top: 0;
          -webkit-transform: translate(-50%, 0%);
          -moz-transform: translate(-50%, 0%);
          -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
          vertical-align: bottom;
          background: #ffffff url("images/loading.gif") no-repeat;
          background-position: center center;
          @include transition;
        }
        figcaption {
          padding: 8px 0 0 0;
          background-color: #ffffff;
        }
        h3 {
          text-align: left;
          font-family: $gothic-b;
          font-size: 19px;
          line-height: 1.4;
          margin: 0 0 15px 0;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          height: 80px;
        }
        h4 {
          @include transition;
          text-align: left;
          font-family: $gothic;
          color: #888888;
          font-size: 13px;
          line-height: 1.5;
          margin: 0 0 15px 0;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          height: 20px;
        }
        p {
          @include transition;
          text-align: left;
          font-family: $gothic;
          color: #888888;
          font-size: 13px;
          line-height: 1.7;
          margin: 0 0 17px 0;
          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
        }
        b {
          position: absolute;
          top: 0;
          left: 0;
          color: #000000;
          font-size: 12px;
          line-height: 1.4;
          padding: 0 3px;
          background-color: #f9f069;
          font-family: $design;
        }
      }
      &.summary-grid-first {
        width: ($width * 2) + ($margin * 2);
        figure {
          padding-top: 340px;
          img {
            height: $img * 2;
          }
          figcaption {
            padding-top: 10px;
          }
        }
      }
      &:hover {
        color: $pink;
        h4,
        p {
          color: $pink;
        }
        figure {
          img {
            @include opacity;
          }
        }
      }
    }
  }
  .logo-wrap {
    position: relative;
    border: 2px solid $pink;
    max-width: 745px;
    margin: 0px auto;
    margin-top: 70px;
    padding: 0 0 5px 0;
    @include border-radius(10px);
    h2.logo-h2 {
      position: relative;
      top: -15px;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: block;
        float: left;
        width: 91px;
        list-style: none;
        margin: 0 5px 5px 8px;
        padding: 0;
        border: 1px solid #888888;
        img {
          width: 100%;
          height: auto;
          vertical-align: bottom;
        }
      }
      &:before,
      &:after {
        @include clearfix;
      }
    }
  }
}

.paginate-nav {
  display: block;
  text-align: center;
  padding: 20px 0 0 0;
  span,
  a {
    display: inline-block;
    padding: 5px 6px;
    min-width: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
  span {
    color: #000000;
  }
  a {
    color: #6ecc3e;
    @include border-radius(15px);
    &:hover {
      text-decoration: none;
    }
    &.prev,
    &.next {
      background-color: #6ecc3e;
      text-decoration: none;
      @include border-radius(22px);
      span {
        color: #ffffff;
        font-size: 16px;
        min-width: auto;
        padding: 0;
      }
      &:hover {
        background-color: #7dd152;
      }
    }
  }
  &:before,
  &:after {
    @include clearfix;
  }

}

.summary-footer {
  .sns-footer {
    background: #transparent url("images/template-summary/footer-background.jpg") center center /cover no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media(max-width: 1120px) {
  #summary {
    .container {
      max-width: 845px;
    }
  }
}

@media(max-width: 845px) {
  #summary {
    .summary-cover {
      padding-top: 60px;
      margin-bottom: 0;
      h1 {
        img {
          max-width: 95%;
        }
      }
      p {
        br { display: none; }
      }
    }
    .summary-grid-wrap {
      .summary-grid {
        width: 46%;
        margin: 2% 2% 5% 2%;
        min-height: 280px;
        figure {
          padding-top: 140px;
          img {
            height: 140px;
          }
          figcaption {
            h4 {
              overflow : hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }
          }
        }
        &.summary-grid.summary-grid-first {
          width: 96%;
          margin: 2% 2% 5% 2%;
          figure {
            padding-top: 230px;
            img {
              height: 230px;
            }
          }
        }
      }
    }
    .logo-wrap {
      ul {
        li {
          @include border-box;
          width: 31%;
          margin: 0 1% 2% 1%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
