@import "mixin";
#template-event.template-wakayama-single {
  $blue: #182987;
  #sub-cover {
    background: #fef5ea;
    border-bottom: 2px solid #000000;
    img {
      width: 400px;
      height: 120px;
    }
  }
  article {
    @include border-box;
    width: 767px;
    margin: 0px auto;
    padding: 0 20px 40px 20px;
  }
  h1 {
    color: #ffffff;
    margin-top: 10px;
    span {
      background-color: rgba(24,41,135,.9);
      padding: 2px 8px 5px 8px;
    }
  }
  .mce-content-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $blue;
    }
    h2:after { background-image: url("images/editor/h2.png"); }
    h3 { background-image: url("images/editor/h3.png"); }
    h4 { border-bottom-color: $blue; }
    a { color: $blue; }
    hr { border-top-color: $blue; }
  }

  a {
    &.scroll-up-button {
      background-color: $blue;
      &:hover { background-color: #142271; }
    }
  }
  footer {
    border-top: 2px solid #000000;
    background-color: #ffb700;
    small {
      color: #000000;
    }
  }
}

@media(max-width: 767px) {
  .template-event-single {
    #sub-cover {
      height: auto;
      padding-bottom: 20px;
      h1 {
        height: auto;
      }
    }
    article {
      width: 100%;
    }
  }
}
