@import "mixin";
@import "variables";

#lp.feature {
  .feature-cover {
    position: relative;
    background: #95b2d6 url("images/template-feature/cover-wakayama.jpg") bottom center /cover no-repeat;
    padding: 120px 0 80px 0;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
    h1 {
      margin: 0 0 150px 0;
      img {
        max-width: 330px;
        height: auto;
      }
    }
    .feature-content {
      pading: 0 10px;
    }
  }
  .section {
  }
}

@media(max-width: 930px) {
  #lp.feature {
    .feature-cover {
    }
    .section {
    }
  }
}

@media(max-width: 768px) {
  #lp.feature {
    .feature-cover {
      .feature-content {
        text-align: left;
      }
    }
  }
}
