@import "mixin";
@import "variables";

#lp.feature {
  .feature-cover {
    position: relative;
    //background: #95b2d6 url("images/template-feature/cover-wakayama.jpg") bottom center /cover no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 80px 0;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
    h1 {
      margin: 0 0 150px 0;
      img {
        max-width: 330px;
        height: auto;
      }
    }
    .feature-content {
      padding: 0 10px;
    }
  }
  .section {
  }
  h2 {
    span {
    }
  }
  a.pagelink {
    display: block;
    width: 100%;
    height: 640px;
    color: #8cc63f;
    border: 3px solid #000000;
    @include border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &:hover {
      border-color: #8cc63f;
    }
  }

  // タグごとに作成
  &.wakayama {
    .feature-cover { background-color: #95b2d6; }
    h2 { b,span { color: #fbb03b; }}
  }
}

@media(max-width: 930px) {
  #lp.feature {
    .feature-cover {
    }
    .section {
    }
  }
}

@media(max-width: 768px) {
  #lp.feature {
    .feature-cover {
      .feature-content {
        text-align: left;
      }
    }
  }
}
