@import "mixin";
#summary {
  $design: 'FOT-あおかね Std EB', 'AokaneStd-EB';
  $gothic: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D';
  $gothic-b: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
  $pink: #e61673;
  $black: #231815;
  $container: 1100px;
  .container {
    max-width: $container + 20px;
    margin: 0px auto;
    padding: 0 10px;
    @include border-box;
  }
  .summary-cover {
    background: transparent url("images/template-summary/cover-background.jpg") center center /cover no-repeat;
    padding: 105px 0 95px 0;
    margin-bottom: 30px;
    text-align: center;
    h1 {
      margin: 0 0 10px 0;
      padding: 30px 0 0 0;
      font-family: $design;
      font-size: 32px;
    }
    p {
      margin: 0 0 20px 0;
      font-size: 14px;
      line-height: 1.9;
      font-family: $gothic;
    }
  }
  .sns-share {
    width: 240px;
    margin: 0px auto;
    .facebook,
    .twitter {
      float: left;
      margin: 0 5px;
    }
    .facebook { width: 145px; }
    .twitter  { width: 75px; }
    &:after {
      @include clearfix;
    }
  }
  .summary-widget {
    text-align: center;
    margin-bottom: 50px;
    a {
      @include transition;
      border: 5px solid $pink;
      display: inline-block;
      max-width: 347px;
      height: auto;
      img {
        vertical-align: bottom;
        @include transition;
      }
      &:hover {
        border-color: lighten($pink,8%);
        img {
          @include opacity;
        }
      }
    }
  }
  h2.summary-h2 {
    text-align: center;
    width: 185px;
    margin: 0px auto;
    margin-bottom: 15px;
    padding: 15px;
    border-top: 1px solid $pink;
    border-bottom: 1px solid $pink;
    font-size: 26px;
    line-height: 27px;
    color: $pink;
    font-family: $design;
  }
  .summary-grid-wrap {
    &:before,
    &:after {
      @include clearfix;
    }
    .summary-grid {
      $margin: 23px;
      $width: ($container - ($margin * 8)) / 4;
      @include transition;
      @include border-box;
      display: block;
      width: $width;
      height: auto;
      float: left;
      text-decoration: none;
      color: $black;
      margin: 15px $margin;
      padding-bottom: 20px;
      figure {
        margin: 0;
        img {
          @include transition;
          width: 100%;
          height: auto;
          margin-bottom: 8px;
        }
        h3 {
          font-family: $gothic-b;
          font-size: 19px;
          line-height: 1.4;
          margin: 0 0 15px 0;
        }
        h4 {
          font-family: $gothic;
          font-size: 13px;
          line-height: 1.5;
          margin: 0 0 15px 0;
        }
        p {
          font-size: 13px;
          line-height: 1.7;
          margin: 0;
        }
      }
      &.summary-grid-first {
        width: ($width * 2) + ($margin * 2);
      }
      &:hover {
        color: $pink;
        img {
          @include opacity;
        }
      }
    }
  }
}
