@charset "UTF-8";
.page-template-template-wakayama {
  color: #222222;
}
.page-template-template-wakayama #footer {
  border-top: 2px solid #231815;
  background: #ffb700;
  color: #222222;
  padding: 30px 0 15px;
}

#template-wakayama {
  font-size: 14px;
  background: #fef5ea url("images/template-wakayama/background.png") center center/100% repeat-y;
}
#template-wakayama img {
  max-width: 100%;
}
#template-wakayama p,
#template-wakayama article,
#template-wakayama section,
#template-wakayama .section,
#template-wakayama nav {
  font-family: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D';
}
#template-wakayama a {
  color: #00A0E9;
}
#template-wakayama a:hover {
  color: #32b3ed;
}
#template-wakayama a.button {
  display: block;
  width: 234px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.8;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 15px;
  background-color: #1b1464;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#template-wakayama a.button:hover {
  background-color: #241b86;
}
#template-wakayama a.scroll-up-button {
  background-color: #32b3ed;
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 22px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#template-wakayama a.scroll-up-button:hover {
  background-color: #4cbcef;
}
#template-wakayama h1,
#template-wakayama h2,
#template-wakayama h3,
#template-wakayama h4,
#template-wakayama time,
#template-wakayama figcaption sttrong,
#template-wakayama a.button {
  font-family: 'FOT-ニューセザンヌ ProN DB', 'NewCezanneProN-DB';
}
#template-wakayama strong,
#template-wakayama tr.strong {
  font-family: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
}
#template-wakayama .container {
  max-width: 1100px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0px auto;
  padding: 0 10px;
}
#template-wakayama #cover {
  position: relative;
  background: transparent url("images/template-wakayama/background-top.png") top center/100% no-repeat;
  padding: 0 0 30px 0;
  text-align: center;
}
#template-wakayama #cover img.cover-image {
  position: relative;
  top: 35px;
  z-index: 1;
}
#template-wakayama #cover h1 {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0;
  font-size: 28px;
}
#template-wakayama #cover h1 time {
  display: none;
}
#template-wakayama #cover address {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}
#template-wakayama #cover .content {
  position: relative;
  max-width: 600px;
  margin: 0px auto;
}
#template-wakayama #cover .content p {
  background-color: #fedc5e;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 30px;
}
#template-wakayama #cover .content p strong {
  font-size: 20px;
  margin-top: 10px;
}
#template-wakayama #cover .content img {
  position: absolute;
  bottom: 0;
}
#template-wakayama #cover .content img.orange {
  left: 0;
  margin: 0 0 40px 10px;
}
#template-wakayama #cover img.panda, #template-wakayama #cover img.okami {
  position: absolute;
  top: 50%;
  z-index: 2;
}
#template-wakayama #cover img.panda {
  left: 50%;
  margin: 150px 0 0 200px;
}
#template-wakayama #cover img.okami {
  right: 50%;
  margin: 300px 200px 0 0;
}
#template-wakayama .schedule table {
  width: 550px;
  padding: 10px 0;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 3px solid #84b3d9;
  background-color: #dff3f9;
}
#template-wakayama .schedule table caption {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  background-color: #0d4675;
  padding: 5px 0 5px 0;
  border-top: 3px solid #84b3d9;
  border-left: 3px solid #84b3d9;
  border-right: 3px solid #84b3d9;
}
#template-wakayama .schedule table tbody tr th,
#template-wakayama .schedule table tbody tr td {
  padding: 2px 5px;
}
#template-wakayama .schedule table tbody tr th {
  padding-right: 5px;
  width: 80px;
  text-align: right;
  vertical-align: top;
}
#template-wakayama .schedule table tbody tr th time {
  font-size: 13px;
  background-color: #df7c00;
  padding: 2px 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
}
#template-wakayama .schedule table tbody tr td {
  font-size: 15px;
}
#template-wakayama .schedule table tbody tr td strong {
  font-size: 16px;
}
#template-wakayama .schedule table tbody tr td strong span {
  color: #ef4600;
}
#template-wakayama .schedule table tbody tr td ul {
  margin: 5px 0 0 0;
  padding: 0 0 0 20px;
}
#template-wakayama .schedule table tbody tr td ul li {
  color: #ef4600;
}
#template-wakayama .schedule table tbody tr td ul li span {
  color: #222222;
}
#template-wakayama .section h2 {
  text-align: center;
  margin: 20px 0 0 0;
}
#template-wakayama .section p {
  position: relative;
  top: -8px;
  max-width: 600px;
  margin: 0px auto;
  margin-bottom: 40px;
}
#template-wakayama .sns-share {
  width: 240px;
  margin: 0px auto;
}
#template-wakayama .sns-share .facebook,
#template-wakayama .sns-share .twitter {
  float: left;
  margin: 0 5px;
}
#template-wakayama .sns-share .facebook {
  width: 145px;
}
#template-wakayama .sns-share .twitter {
  width: 75px;
}
#template-wakayama .sns-share:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-wakayama h2.h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  background-color: #0d4675;
  padding: 5px 0 5px 0;
  max-width: 794px;
  margin: 0px auto;
  border: 3px solid #84b3d9;
}
#template-wakayama .company {
  max-width: 900px;
  margin: 0px auto;
}
#template-wakayama .company ul {
  padding: 15px 0;
  margin: 0px auto;
  margin-bottom: 50px;
}
#template-wakayama .company ul li {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 10px 20px 10px;
  width: 25%;
  float: left;
  list-style: none;
  min-height: 321px;
  min-height: 227px;
}
#template-wakayama .company ul li a {
  color: #222222;
  text-decoration: none;
  cursor: no-drop;
}
#template-wakayama .company ul li a figure {
  position: relative;
  margin: 0;
}
#template-wakayama .company ul li a figure img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#template-wakayama .company ul li a figure figcaption {
  padding-top: 8px;
  line-height: 1.4;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#template-wakayama .company ul li a figure figcaption strong {
  display: block;
}
#template-wakayama .company ul li a figure figcaption strong span {
  color: #0d4675;
}
#template-wakayama .company ul li a figure figcaption span.tag {
  display: inline-block;
  font-size: 11px;
  line-height: 1.3;
  padding: 2px 3px;
  background-color: #84b3d9;
  color: #ffffff;
  margin: 3px 0 3px 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
}
#template-wakayama .company ul li a:not(.fake-a):hover {
  cursor: pointer;
}
#template-wakayama .company ul li a:not(.fake-a):hover figure img {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}
#template-wakayama .company ul li a:not(.fake-a):hover figure figcaption {
  color: #84b3d9;
}
#template-wakayama .company ul li p {
  background-color: #dff3f9;
  margin: 15px 0 0 0;
  padding: 5px 8px 5px 8px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
#template-wakayama .company ul li p b {
  display: block;
}
#template-wakayama .company ul:before, #template-wakayama .company ul:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-wakayama .map {
  margin-bottom: 50px;
}
#template-wakayama .map .acf-map {
  margin: 0px auto;
  max-width: 800px;
  height: 450px;
}
#template-wakayama center {
  text-align: center;
}
#template-wakayama center a {
  font-size: 12px;
  color: #ffffff;
}
#template-wakayama center a:hover {
  color: #ffffff;
  text-decoration: none;
}
#template-wakayama #common {
  padding-top: 15px;
  background: none;
  width: 530px;
  margin: 0px auto;
}
#template-wakayama #common .form-group .control-label {
  font-weight: 400;
  font-size: 14px;
}
#template-wakayama #common .form-group .wpcf7-form-control-wrap {
  max-width: 100%;
}
#template-wakayama #common .form-group .wpcf7-form-control-wrap.interest, #template-wakayama #common .form-group .wpcf7-form-control-wrap.route {
  max-width: 300px;
  width: 300px;
}
#template-wakayama #common .form-group .wpcf7-form-control-wrap.interest .wpcf7-list-item, #template-wakayama #common .form-group .wpcf7-form-control-wrap.route .wpcf7-list-item {
  display: block;
}
#template-wakayama #common .wakayama select,
#template-wakayama #common .industry select,
#template-wakayama #common .offtokyo select,
#template-wakayama #common .interest select,
#template-wakayama #common .route select {
  width: 300px;
  padding-right: 40px;
}
#template-wakayama #common .wpcf7-confirm-wrap {
  background-color: #ffffff;
}
#template-wakayama #common .wpcf7-confirm-wrap .form-group .control-label {
  color: #888888;
}
#template-wakayama #common .wpcf7-confirm-wrap .form-group input[type=text].wpcf7c-conf,
#template-wakayama #common .wpcf7-confirm-wrap .form-group input[type=email].wpcf7c-conf,
#template-wakayama #common .wpcf7-confirm-wrap .form-group input[type=tel].wpcf7c-conf,
#template-wakayama #common .wpcf7-confirm-wrap .form-group input[type=url].wpcf7c-conf,
#template-wakayama #common .wpcf7-confirm-wrap .form-group select.wpcf7c-conf,
#template-wakayama #common .wpcf7-confirm-wrap .form-group textarea.wpcf7c-conf {
  color: #888888;
}
#template-wakayama #common div.wpcf7 .wpcf7-mail-sent-ok {
  background-color: #fedc5e;
  color: #ffffff;
  text-align: center;
  border: none;
  color: #222222;
  padding: 10px 20px;
  max-width: 400px;
  width: auto;
}

@media (max-width: 960px) {
  #template-wakayama {
    background-image: none;
  }
  #template-wakayama #cover {
    overflow: hidden;
    background-image: none;
    padding-top: 60px;
  }
  #template-wakayama #cover img.cover-image {
    width: 1000px;
    max-width: 1000px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: -70px 0 0 -500px;
  }
  #template-wakayama #cover .building {
    max-width: 80%;
  }
  #template-wakayama #cover address {
    font-size: 14px;
  }
  #template-wakayama #cover .content img.orange {
    display: none;
  }
  #template-wakayama .schedule table {
    max-width: 500px;
    width: auto;
  }
  #template-wakayama h2#form.h2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  #template-wakayama .section,
  #template-wakayama .schedule,
  #template-wakayama #common {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
  }
  #template-wakayama #common {
    max-width: 500px;
    width: auto;
  }
  #template-wakayama #common .wakayama select,
  #template-wakayama #common .industry select,
  #template-wakayama #common .offtokyo select,
  #template-wakayama #common .interest select,
  #template-wakayama #common .route select {
    width: 100%;
  }
  #template-wakayama #common .form-group {
    margin-bottom: 5px;
  }
  #template-wakayama #common form input[type=text],
  #template-wakayama #common form input[type=email],
  #template-wakayama #common form input[type=tel],
  #template-wakayama #common form input[type=url],
  #template-wakayama #common form textarea {
    margin-top: 5px;
  }
}
@media (max-width: 767px) {
  #template-wakayama .company ul li {
    width: 50%;
    min-height: 205px;
  }
  #template-wakayama .map .acf-map {
    height: 550px;
  }
  #template-wakayama .map .address {
    text-align: center;
  }
  #template-wakayama .map .address address {
    font-size: 15px;
  }
  #template-wakayama .map .address ul li {
    float: none;
    width: 100%;
    font-size: 13px;
  }
}

/*# sourceMappingURL=template-wakayama.css.map */
