@charset "UTF-8";
#summary .container {
  max-width: 1120px;
  margin: 0px auto;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#summary .summary-cover {
  background: transparent url("images/template-summary/cover-background.jpg") center center/cover no-repeat;
  padding: 105px 0 95px 0;
  margin-bottom: 30px;
  text-align: center;
}
#summary .summary-cover h1 {
  margin: 0 0 10px 0;
  padding: 30px 0 0 0;
  font-family: "FOT-あおかね Std EB", "AokaneStd-EB";
  font-size: 32px;
}
#summary .summary-cover p {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 1.9;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D";
}
#summary .sns-share {
  width: 240px;
  margin: 0px auto;
}
#summary .sns-share .facebook,
#summary .sns-share .twitter {
  float: left;
  margin: 0 5px;
}
#summary .sns-share .facebook {
  width: 145px;
}
#summary .sns-share .twitter {
  width: 75px;
}
#summary .sns-share:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#summary .summary-widget {
  text-align: center;
  margin-bottom: 50px;
}
#summary .summary-widget a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border: 5px solid #e61673;
  display: inline-block;
  max-width: 347px;
  height: auto;
}
#summary .summary-widget a img {
  vertical-align: bottom;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#summary .summary-widget a:hover {
  border-color: #ec3989;
}
#summary .summary-widget a:hover img {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}
#summary h2.summary-h2 {
  text-align: center;
  width: 185px;
  margin: 0px auto;
  margin-bottom: 15px;
  padding: 15px;
  border-top: 1px solid #e61673;
  border-bottom: 1px solid #e61673;
  font-size: 26px;
  line-height: 27px;
  color: #e61673;
  font-family: "FOT-あおかね Std EB", "AokaneStd-EB";
}
#summary .summary-grid-wrap:before, #summary .summary-grid-wrap:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#summary .summary-grid-wrap .summary-grid {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  width: 235px;
  height: auto;
  min-height: 327px;
  float: left;
  text-decoration: none;
  color: #231815;
  margin: 15px 20px;
  overflow: hidden;
}
#summary .summary-grid-wrap .summary-grid figure {
  margin: 0;
  text-align: center;
  background-color: #e61673;
}
#summary .summary-grid-wrap .summary-grid figure img {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  height: 170px;
  width: auto;
  vertical-align: bottom;
}
#summary .summary-grid-wrap .summary-grid figure figcaption {
  padding: 8px 0 20px 0;
  background-color: #ffffff;
}
#summary .summary-grid-wrap .summary-grid figure h3 {
  text-align: left;
  font-family: "FOT-筑紫ゴシック Pro E", "TsukuGoPro-E";
  font-size: 19px;
  line-height: 1.4;
  margin: 0 0 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#summary .summary-grid-wrap .summary-grid figure h4 {
  text-align: left;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D";
  font-size: 13px;
  line-height: 1.5;
  margin: 0 0 15px 0;
}
#summary .summary-grid-wrap .summary-grid figure p {
  text-align: left;
  font-family: "FOT-筑紫ゴシック Pr5 D", "TsukuGoPr5-D";
  font-size: 13px;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
#summary .summary-grid-wrap .summary-grid.summary-grid-first {
  width: 510px;
}
#summary .summary-grid-wrap .summary-grid.summary-grid-first figure img {
  height: 340px;
}
#summary .summary-grid-wrap .summary-grid:hover {
  color: #e61673;
}
#summary .summary-grid-wrap .summary-grid:hover img {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=$ratioms)";
}

/*# sourceMappingURL=template-summary.css.map */
