@import "mixin";

.page-template-template-wakayama {
  color: #222222;

  header.wakayama {
    font-family: 'FOT-ニューセザンヌ ProN DB', 'NewCezanneProN-DB';
    .menu-global_menu-container { float: none; }
    ul.global_menu {
      li {
        a {
          @include transition();
          padding: 0 5px;
          @include border-radius(0px);
          border: none;
          color: #ffffff;
          &:hover {
            background: none;
            color: rgba(255,255,255,.7);
          }
        }
        &.current-menu-item,
        &.current_page_item {
          a {
            background: none;
            color: rgba(255,255,255,.7);
          }
        }
        &.current-page-ancestor {
          a {
            background: none;
            cursor: pointer;
          }
        }
      }
    }
    .slicknav_btn {
      @include box-shadow(0,0,5px,.5);
      @include border-radius(2px);
      margin: 10px 10px 0 0;
      background-color: #1baaeb;
      &:hover,
      &.slicknav_open { background-color: #49bcef; }
    }
    .slicknav_nav {
      margin-top: 58px;
      background-color: #1baaeb;
      @include box-shadow(0,0,5px,.5);
      li a:hover,
      li.current-menu-item a {
        background-color: #49bcef;
      }
    }
  }

  #footer {
    background: none;
    color: #222222;
    padding: 30px 0 15px;
  }
}

#template-wakayama {
  font-size: 14px;
  background: #fef5ea url("images/template-wakayama/background.png") center center /100% repeat-y;
  img { max-width: 100%; }
  p,
  article,
  section,
  .section,
  nav { font-family: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D'; }
  a {
    color: #00A0E9;
    &:hover { color: #32b3ed; }
    &.button {
      display: block;
      width: 234px;
      height: 64px;
      font-size: 20px;
      font-weight: 700;
      line-height: 2.8;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 15px;
      background: #000000;
      @include transition;
      @include border-radius(32px);
      @include box-shadow(0px, 0px, 10px, .3);
      &:hover { background-color: #333333; }
    }
    &.scroll-up-button {
      background-color: #32b3ed;
      color: #ffffff;
      display: block;
      text-align: center;
      font-size: 22px;
      height: 35px;
      line-height: 35px;
      text-decoration: none;
      @include transition;
      &:hover { background-color: #4cbcef; }
    }
  }
  h1,
  h2,
  h3,
  h4,
  time,
  a.button { font-family: 'FOT-ニューセザンヌ ProN DB', 'NewCezanneProN-DB'; }
  strong,
  tr.strong {
    font-family: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
  }
  .container {
    max-width: 1100px;
    @include border-box;
    margin: 0px auto;
    padding: 0 10px;
  }
  #cover {
    background: transparent url("images/template-wakayama/background-top.png") top center /100% no-repeat;
    padding: 0 0 30px 0;
    text-align: center;
    img.cover-image {
      position: relative;
      top: 35px;
      z-index: 1;
    }
    h1 {
      position: relative;
      z-index: 2;
      text-align: center;
      margin: 0;
      font-size: 28px;
      time {
        display: none;
      }
    }
    strong,
    address {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.4;
    }
    .content {
      position: relative;
      max-width: 580px;
      margin: 0px auto;
      p {
        background-color: #fedc5e;
        padding: 10px 20px;
        font-size: 15px;
        line-height: 1.6;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      .content-img {
        position: absolute;
        bottom: 0;
        &.orange {
          left: 0;
          margin: 0 0 40px -30px;
        }
        &.panda {
          right: 0;
          margin: 0 -30px -30px 0;
        }
      }
    }
  }
  .section {
    h2 {
      text-align: center;
      margin: 20px 0 0 0;
    }
    p {
      max-width: 600px;
      margin: 0px auto;
      margin-bottom: 40px;
    }
  }
  .sns-share {
    width: 240px;
    margin: 0px auto;
    .facebook,
    .twitter {
      float: left;
      margin: 0 5px;
    }
    .facebook { width: 145px; }
    .twitter  { width: 75px; }
    &:after {
      @include clearfix;
    }
  }
  .map {
    .acf-map {
      margin: 0px auto;
      max-width: 800px;
      height: 450px;
    }
  }
  center {
    text-align: center;
    a {
      font-size: 12px;
      color: #ffffff;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  #common {
    background: none;
  }
}

@media(max-width: 815px) {
  header.wakayama {
    .global_menu  { display: block; }
    .slicknav_btn { display: none; }
  }
}

@media(max-width: 872px) {
  header.wakayama {
    .global_menu  { display: none; }
    .slicknav_btn { display: block; }
    background: none;
    border: none;
    height: 0;
    &:after,
    &:before {
      background: none;
    }
  }
}

@media(max-width: 767px) {
  #template-wakayama {
    #cover {
    }
    .map {
      .acf-map { height: 420px; }
      .address {
        text-align: center;
        address {
          font-size: 15px;
        }
        ul {
          li {
            float: none;
            width: 100%;
            font-size: 13px;
          }
        }
      }
    }
  }
}
