@charset "UTF-8";
#template-event {
  font-size: 14px;
  color: #000000;
}
#template-event .section,
#template-event nav {
  font-family: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D';
}
#template-event a {
  color: #00A0E9;
}
#template-event a:hover {
  color: #32b3ed;
}
#template-event a.button {
  display: block;
  width: 234px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.8;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin: 0px auto;
  background: transparent url("images/template-event/button.png") center center no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#template-event a.button:hover {
  color: #54C3F1;
}
#template-event a.scroll-up-button {
  background-color: #32b3ed;
  color: #ffffff;
  display: block;
  text-align: center;
  font-size: 22px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#template-event a.scroll-up-button:hover {
  background-color: #4cbcef;
}
#template-event h2,
#template-event h3,
#template-event a.button {
  font-family: 'FOT-ニューセザンヌ ProN DB', 'NewCezanneProN-DB';
}
#template-event strong,
#template-event tr.strong {
  font-family: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
}
#template-event .navigation {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 9999;
  margin: -94px 15px 0 0;
}
#template-event .navigation ul {
  padding: 0;
}
#template-event .navigation ul li {
  position: relative;
  list-style: none;
  height: 20px;
  text-align: center;
}
#template-event .navigation ul li a {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
#template-event .navigation ul li a strong {
  font-weight: 400;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  display: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  margin: 1px 20px 0 0;
  text-align: right;
  padding: 0 3px;
  width: auto;
}
#template-event .navigation ul li a.top strong {
  width: 3em;
}
#template-event .navigation ul li a.overview strong {
  width: 2em;
}
#template-event .navigation ul li a.content1 strong {
  width: 2em;
}
#template-event .navigation ul li a.company strong {
  width: 4em;
}
#template-event .navigation ul li a.municipality strong {
  width: 5em;
}
#template-event .navigation ul li a.information strong {
  width: 2em;
}
#template-event .navigation ul li a.map strong {
  width: 4em;
}
#template-event .navigation ul li a.cooperate strong {
  width: 3em;
}
#template-event .navigation ul li a.active {
  color: #000000;
}
#template-event .navigation ul li a.active .circle {
  fill: #000000;
}
#template-event .navigation ul li a.active.passive {
  color: rgba(0, 0, 0, 0.4);
}
#template-event .navigation ul li a.active.passive .circle {
  fill: rgba(0, 0, 0, 0.4);
}
#template-event .navigation ul li a.active.passive:hover {
  color: rgba(0, 0, 0, 0.7);
}
#template-event .navigation ul li a.active.passive:hover .circle {
  fill: rgba(0, 0, 0, 0.7);
}
#template-event .navigation ul li a:hover {
  color: rgba(0, 0, 0, 0.7);
}
#template-event .navigation ul li a:hover strong {
  display: block;
}
#template-event .navigation ul li a:hover .circle {
  fill: rgba(0, 0, 0, 0.7);
  stroke: #000000;
}
#template-event .sns-share {
  width: 240px;
  margin: 0px auto;
}
#template-event .sns-share .facebook,
#template-event .sns-share .twitter {
  float: left;
  margin: 0 5px;
}
#template-event .sns-share .facebook {
  width: 145px;
}
#template-event .sns-share .twitter {
  width: 75px;
}
#template-event .sns-share:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-event #cover {
  padding: 100px 0 0 0;
  text-align: center;
  height: 600px;
  background: url("images/template-event/cover-background.jpg") center center/cover no-repeat;
}
#template-event #cover img {
  max-width: 98%;
}
#template-event #cover h1 {
  margin: 0;
  padding: 0;
}
#template-event #cover .button {
  margin-top: 20px;
}
#template-event #cover .sns-share {
  margin-top: 10px;
}
#template-event .section .time {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  background-color: #000000;
  width: 100px;
  text-align: center;
  margin: 0px auto;
  margin-top: 15px;
}
#template-event .section.overview {
  text-align: center;
  height: 300px;
  padding-top: 120px;
  background: #ffffff url("images/template-event/map-black.png") center center/cover no-repeat;
}
#template-event .section.overview h2 {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 26px;
  background-color: #ffffff;
  display: inline;
}
#template-event .section.overview p {
  margin: 20px 0 0 0;
  line-height: 1.7;
}
#template-event .section.overview p span {
  background-color: #ffffff;
}
#template-event .section.content1 {
  background-color: #54C3F1;
  padding: 52px 0 70px 0;
}
#template-event .section.content1 h2,
#template-event .section.content1 p {
  text-align: center;
}
#template-event .section.content1 h2 {
  margin: 0;
  padding: 35px 0;
  font-size: 27px;
  line-height: 1.2;
  position: relative;
}
#template-event .section.content1 h2:before, #template-event .section.content1 h2:after {
  content: "";
  display: block;
  position: absolute;
  width: 147px;
  height: 32px;
}
#template-event .section.content1 h2:before {
  background-image: url("images/template-event/content1-h2-before.png");
  top: 0;
  left: 50%;
  margin-left: -150px;
}
#template-event .section.content1 h2:after {
  background-image: url("images/template-event/content1-h2-after.png");
  bottom: 0;
  right: 50%;
  margin-right: -150px;
}
#template-event .section.content1 p {
  line-height: 1.7;
  margin: 40px 0 0 0;
}
#template-event .section.content1 figure {
  max-width: 570px;
  margin: 0px auto;
  margin-top: 30px;
}
#template-event .section.content1 figure img,
#template-event .section.content1 figure figcaption {
  display: block;
  float: left;
}
#template-event .section.content1 figure img {
  width: 138px;
  height: 138px;
  padding: 6px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -o-border-radius: 75px;
  -ms-border-radius: 75px;
  background-color: rgba(255, 255, 255, 0.2);
}
#template-event .section.content1 figure figcaption {
  max-width: 400px;
  padding: 0 0 0 20px;
}
#template-event .section.content1 figure figcaption h3 {
  margin: 0;
  padding: 0;
  border-bottom: 1px dotted #000000;
  font-size: 22px;
  width: 70%;
}
#template-event .section.content1 figure figcaption h3 span {
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
#template-event .section.content1 figure figcaption p {
  font-size: 13px;
  line-height: 1.7;
  text-align: left;
  margin: 10px 0 0 0;
}
#template-event .section.content1 figure:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-event .section.content2 {
  background-color: #54f1d1;
  padding: 52px 0 70px 0;
}
#template-event .section.content2 h2,
#template-event .section.content2 p {
  text-align: center;
}
#template-event .section.content2 h2 {
  margin: 0;
  padding: 35px 0;
  font-size: 27px;
  line-height: 1.2;
  position: relative;
}
#template-event .section.content2 h2:before, #template-event .section.content2 h2:after {
  content: "";
  display: block;
  position: absolute;
  width: 147px;
  height: 32px;
}
#template-event .section.content2 h2:before {
  background-image: url("images/template-event/content1-h2-before.png");
  top: 0;
  left: 50%;
  margin-left: -210px;
}
#template-event .section.content2 h2:after {
  background-image: url("images/template-event/content1-h2-after.png");
  bottom: 0;
  right: 50%;
  margin-right: -220px;
}
#template-event .section.content2 p {
  line-height: 1.7;
  margin: 40px 0 0 0;
}
#template-event .section.content2 .figure-wrap {
  max-width: 765px;
  margin: 0px auto;
  margin-top: 35px;
}
#template-event .section.content2 .figure-wrap:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-event .section.content2 figure {
  float: left;
  width: 205px;
  margin: 0 25px;
}
#template-event .section.content2 figure img,
#template-event .section.content2 figure figcaption {
  display: block;
}
#template-event .section.content2 figure img {
  margin: 0px auto;
  width: 138px;
  height: 138px;
  padding: 6px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -o-border-radius: 75px;
  -ms-border-radius: 75px;
  background-color: rgba(255, 255, 255, 0.4);
}
#template-event .section.content2 figure figcaption h3 {
  margin: 0 0 10px 0;
  padding: 10px 0 10px 0;
  font-size: 19px;
  line-height: 1.4;
  border-bottom: 1px dotted #000000;
}
#template-event .section.content2 figure figcaption p {
  text-align: left;
  margin: 0;
  font-size: 12px;
  line-height: 1.3;
}
#template-event .section.content2 figure figcaption p strong {
  font-size: 16px;
}
#template-event .section.content2 figure figcaption p span {
  display: block;
  margin-top: 5px;
}
#template-event .section.company {
  padding: 52px 0 30px 0;
  text-align: center;
}
#template-event .section.company h2 {
  text-align: center;
  width: 279px;
  height: 69px;
  font-size: 21px;
  line-height: 2.5;
  margin: 0px auto;
  background: #ffffff url("images/template-event/company-h2.png") center center no-repeat;
}
#template-event .section.company b.lt {
  background-color: #f15475;
  color: #ffffff;
  padding: 0 3px;
  display: inline-block;
  line-height: 1.2;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
}
#template-event .section.company p {
  margin: 20px 0 0 0;
  line-height: 1.7;
}
#template-event .section.company ul {
  max-width: 720px;
  margin: 0px auto;
  padding: 20px 0 0 0;
}
#template-event .section.company ul li {
  list-style: none;
  width: 27.9%;
  min-height: 215px;
  float: left;
  margin: 2% 2.7% 0 2.7%;
}
#template-event .section.company ul li figure {
  margin: 0;
}
#template-event .section.company ul li img {
  width: 100%;
  height: auto;
  border: 1px solid #dddddd;
}
#template-event .section.company ul li span {
  border: 1px solid #000000;
  font-size: 12px;
  line-height: 1.1;
  padding: 0 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
}
#template-event .section.company ul li h3 {
  margin: 3px 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
}
#template-event .section.company ul li b {
  font-size: 11px;
  position: relative;
  top: -1px;
  left: 3px;
}
#template-event .section.company ul:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-event .section.municipality {
  text-align: center;
  padding: 52px 0 20px 0;
}
#template-event .section.municipality h2 {
  padding: 0;
  font-size: 21px;
  line-height: 2.3;
  margin: 0px auto;
  width: 222px;
  height: 59px;
  background: #ffffff url("images/template-event/municipality-h2.png") center center no-repeat;
}
#template-event .section.municipality ul {
  padding: 0;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 30px;
}
#template-event .section.municipality ul li {
  list-style: none;
  float: left;
  width: 16.8%;
  min-height: 150px;
  margin: 1.6% 1.6% 0 1.6%;
}
#template-event .section.municipality ul li img {
  width: 100%;
  height: auto;
  border: 1px solid #dddddd;
}
#template-event .section.municipality ul li h3 {
  margin: 3px 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}
#template-event .section.municipality ul li b {
  font-size: 11px;
  position: relative;
  top: -1px;
  left: 3px;
}
#template-event .section.municipality ul:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-event .section.information {
  padding: 50px 0;
}
#template-event .section.information table {
  max-width: 650px;
  margin: 0px auto;
  table-layout: fixed;
  text-align: left;
}
#template-event .section.information table tr th {
  text-align: right;
  width: 4em;
  padding-right: 10px;
}
#template-event .section.information table tr th,
#template-event .section.information table tr td {
  font-size: 18px;
  font-weight: 700;
  vertical-align: top;
}
#template-event .section.information table tr td table tr th {
  width: 7em;
  text-align: left;
  padding-right: 0px;
}
#template-event .section.information table tr td table tr th,
#template-event .section.information table tr td table tr td {
  font-size: 14px;
  font-weight: 400;
}
#template-event .section.map .acf-map {
  width: 100%;
  height: 600px;
}
#template-event .section.map .address {
  padding: 30px 0;
  max-width: 570px;
  margin: 0px auto;
}
#template-event .section.map .address address {
  font-style: normal;
  font-size: 18px;
  line-height: 2.2;
}
#template-event .section.map .address ul {
  margin: 15px 0;
  padding: 0;
}
#template-event .section.map .address ul li {
  font-size: 15px;
  line-height: 2;
  float: left;
  width: 50%;
  list-style-position: inside;
}
#template-event .section.map .address ul:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
#template-event .section.time-table {
  padding: 30px 10px 45px 10px;
  background-color: #96adb6;
}
#template-event .section.time-table table {
  border-collapse: collapse;
  max-width: 470px;
  margin: 0px auto;
}
#template-event .section.time-table table caption {
  font-size: 18px;
  line-height: 35px;
  height: 35px;
  text-align: center;
  border-bottom: 1px solid #000000;
}
#template-event .section.time-table table tr th,
#template-event .section.time-table table tr td {
  padding: 5px 10px;
}
#template-event .section.time-table table tr th span {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 2px 5px;
}
#template-event .section.time-table table tr td {
  font-size: 17px;
  line-height: 1.5;
}
#template-event .section.time-table table tr:nth-child(1) th,
#template-event .section.time-table table tr:nth-child(1) td {
  padding-top: 15px;
}
#template-event .section.time-table table tr:nth-child(2) th,
#template-event .section.time-table table tr:nth-child(2) td {
  padding-bottom: 15px;
  border-bottom: 1px solid #000000;
}
#template-event .section.time-table table tr:nth-child(3) th,
#template-event .section.time-table table tr:nth-child(3) td {
  padding-top: 15px;
  border-top: 1px solid #000000;
}
#template-event .section.time-table table ul {
  margin: 0;
  padding: 0;
}
#template-event .section.time-table table ul li {
  list-style: none;
}
#template-event .section.cooperate {
  background-color: #f5f5f5;
  padding: 15px 0 40px 0;
}
#template-event .section.cooperate h2 {
  width: 200px;
  text-align: center;
  font-size: 15px;
  line-height: 2.2;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0;
  border-bottom: 1px dotted #000000;
}
#template-event .section.cooperate ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
#template-event .section.cooperate ul li {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 0 5px 10px 5px;
  width: 100px;
  height: 70px;
  list-style: none;
  display: inline-block;
  line-height: 70px;
}
#template-event .section.cooperate ul li img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 60px;
}
#template-event .participate {
  padding: 60px 0;
}
#template-event .participate.participate1 {
  background: url("images/template-event/participate1-background.jpg") center center/cover no-repeat;
}
#template-event .participate.participate2 {
  background: url("images/template-event/participate2-background.jpg") center center/cover no-repeat;
  padding-bottom: 20px;
}
#template-event footer {
  padding: 20px 0 0 0;
  text-align: center;
}
#template-event footer small {
  color: #ffffff;
  font: 400 12px/16px 'Lucida Grande';
}
#template-event footer.sns-footer {
  background: none;
  height: auto;
}

@media (max-width: 767px) {
  #template-event .navigation {
    display: none;
  }
  #template-event #cover {
    height: auto;
    padding-bottom: 50px;
  }
  #template-event .section.overview {
    height: auto;
    padding: 50px 10px;
    background-size: 150% auto;
  }
  #template-event .section.overview h2 {
    line-height: 1.4;
    font-size: 24px;
  }
  #template-event .section.content1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  #template-event .section.content1 p br {
    display: none;
  }
  #template-event .section.content1 figure img,
  #template-event .section.content1 figure figcaption {
    float: none;
  }
  #template-event .section.content1 figure img {
    margin: 0px auto;
  }
  #template-event .section.content1 figure figcaption {
    padding-left: 0;
    max-width: 100%;
  }
  #template-event .section.content1 figure figcaption h3 {
    text-align: center;
    margin: 0px auto;
  }
  #template-event .section.content2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  #template-event .section.content2 h2:before {
    margin-left: -150px;
  }
  #template-event .section.content2 h2:after {
    margin-right: -150px;
  }
  #template-event .section.content2 h2 {
    font-size: 20px;
  }
  #template-event .section.content2 figure {
    float: none;
    width: auto;
    max-width: 570px;
    margin: 0px auto;
    margin-bottom: 30px;
  }
  #template-event .section.content2 figure img {
    margin: 0px auto;
  }
  #template-event .section.content2 figure figcaption {
    padding-left: 0;
    max-width: 100%;
  }
  #template-event .section.content2 figure figcaption h3 {
    width: 70%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 10px;
  }
  #template-event .section.content2 figure figcaption h3 br {
    display: none;
  }
  #template-event .section.content2 figure figcaption p {
    text-align: center;
  }
  #template-event .section.content2 figure figcaption p span {
    text-align: left;
  }
  #template-event .section.content2 figure:last-child {
    margin-bottom: 0px;
  }
  #template-event .section.company p {
    padding-left: 10px;
    padding-right: 10px;
  }
  #template-event .section.company ul li {
    width: 41%;
    min-height: 175px;
    height: auto;
  }
  #template-event .section.company ul li:nth-child(even) {
    margin: 7% 6% 0 3%;
  }
  #template-event .section.company ul li:nth-child(odd) {
    margin: 7% 3% 0 6%;
  }
  #template-event .section.company ul li span {
    font-size: 9px;
  }
  #template-event .section.company aside {
    margin-top: 15px;
  }
  #template-event .section.municipality ul li {
    width: 29.3%;
    margin: 5% 2% 0 2%;
    min-height: auto;
    height: auto;
  }
  #template-event .section.municipality aside {
    margin-top: 15px;
  }
  #template-event .section.information, #template-event .section.map .address {
    padding-left: 10px;
    padding-right: 10px;
  }
  #template-event .section.information table tr th,
  #template-event .section.information table tr td {
    font-size: 15px;
  }
  #template-event .section.information table tr td table tr th,
  #template-event .section.information table tr td table tr td {
    font-size: 13px;
  }
  #template-event .section.map .acf-map {
    height: 420px;
  }
  #template-event .section.map .address {
    text-align: center;
  }
  #template-event .section.map .address address {
    font-size: 15px;
  }
  #template-event .section.map .address ul li {
    float: none;
    width: 100%;
    font-size: 13px;
  }
}

/*# sourceMappingURL=template-event.css.map */
