@import "mixin";

.page-template-template-wakayama {
  color: #222222;

  #footer {
    border-top: 2px solid #231815;
    background: #ffb700;
    color: #222222;
    padding: 30px 0 15px;
  }
}

#template-wakayama {
  font-size: 14px;
  background: #fef5ea url("images/template-wakayama/background.png") center center /100% repeat-y;
  img { max-width: 100%; }
  p,
  article,
  section,
  .section,
  nav { font-family: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D'; }
  a {
    color: #00A0E9;
    &:hover { color: #32b3ed; }
    &.button {
      display: block;
      width: 234px;
      height: 64px;
      font-size: 20px;
      font-weight: 700;
      line-height: 2.8;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 15px;
      background-color: #1b1464;
      @include transition;
      @include border-radius(32px);
      @include box-shadow(0px, 0px, 10px, .3);
      &:hover { background-color: lighten(#1b1464,8%); }
    }
    &.scroll-up-button {
      background-color: #32b3ed;
      color: #ffffff;
      display: block;
      text-align: center;
      font-size: 22px;
      height: 35px;
      line-height: 35px;
      text-decoration: none;
      @include transition;
      &:hover { background-color: #4cbcef; }
    }
  }
  h1,
  h2,
  h3,
  h4,
  time,
  figcaption sttrong,
  a.button { font-family: 'FOT-ニューセザンヌ ProN DB', 'NewCezanneProN-DB'; }
  strong,
  tr.strong {
    font-family: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
  }
  .container {
    max-width: 1100px;
    @include border-box;
    margin: 0px auto;
    padding: 0 10px;
  }
  #cover {
    position: relative;
    background: transparent url("images/template-wakayama/background-top.png") top center /100% no-repeat;
    padding: 0 0 30px 0;
    text-align: center;
    img.cover-image {
      position: relative;
      top: 35px;
      z-index: 1;
    }
    h1 {
      position: relative;
      z-index: 2;
      text-align: center;
      margin: 0;
      font-size: 28px;
      time {
        display: none;
      }
    }
    address {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.4;
    }
    .content {
      position: relative;
      max-width: 600px;
      margin: 0px auto;
      p {
        background-color: #fedc5e;
        padding: 10px 20px;
        font-size: 16px;
        line-height: 1.6;
        margin-top: 20px;
        margin-bottom: 30px;
        strong {
          font-size: 20px;
          margin-top: 10px;
        }
      }
      img {
        position: absolute;
        bottom: 0;
        &.orange {
          left: 0;
          margin: 0 0 40px 10px;
        }
      }
    }
    img {
      &.panda,
      &.okami {
        position: absolute;
        top: 50%;
        z-index: 2;
      }
      &.panda {
        left: 50%;
        margin: 150px 0 0 200px;
      }
      &.okami {
        right: 50%;
        margin: 300px 200px 0 0;
      }
    }
  }
  .schedule {
    table {
      width: 550px;
      padding: 10px 0;
      margin: 0px auto;
      margin-top: 30px;
      margin-bottom: 50px;
      border: 3px solid #84b3d9;
      background-color: #dff3f9;
      caption {
        color: #ffffff;
        font-weight: 700;
        font-size: 18px;
        background-color: #0d4675;
        padding: 5px 0 5px 0;
        border-top: 3px solid #84b3d9;
        border-left: 3px solid #84b3d9;
        border-right: 3px solid #84b3d9;
      }
      tbody {
        tr {
          th,
          td {
            padding: 2px 5px;
          }
          th {
            padding-right: 5px;
            width: 80px;
            text-align: right;
            vertical-align: top;
            time {
              font-size: 13px;
              background-color: #df7c00;
              padding: 2px 5px;
              @include border-radius(15px);
            }
          }
          td {
            font-size: 15px;
            strong {
              font-size: 16px;
              span {
                color: #ef4600;
              }
            }
            ul {
              margin: 5px 0 0 0;
              padding: 0 0 0 20px;
              li {
                color: #ef4600;
                span {
                  color: #222222;
                }
              }
            }
          }
        }
      }
    }
  }
  .section {
    h2 {
      text-align: center;
      margin: 20px 0 0 0;
    }
    p {
      position: relative;
      top: -8px;
      max-width: 600px;
      margin: 0px auto;
      margin-bottom: 40px;
    }
  }
  .sns-share {
    width: 240px;
    margin: 0px auto;
    .facebook,
    .twitter {
      float: left;
      margin: 0 5px;
    }
    .facebook { width: 145px; }
    .twitter  { width: 75px; }
    &:after {
      @include clearfix;
    }
  }
  h2.h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    background-color: #0d4675;
    padding: 5px 0 5px 0;
    max-width: 794px;
    margin: 0px auto;
    border: 3px solid #84b3d9;
  }
  .company {
    max-width: 900px;
    margin: 0px auto;
    ul {
      padding: 15px 0;
      margin: 0px auto;
      margin-bottom: 50px;
      li {
        @include border-box;
        padding: 0 10px 20px 10px;
        width: 25%;
        float: left;
        list-style: none;
        min-height: 321px;
        a {
          color: #222222;
          text-decoration: none;
          figure {
            position: relative;
            margin: 0;
            img {
              width: 100%;
              height: auto;
              display: block;
              margin-bottom: 2px;
              @include transition;
            }
            figcaption {
              padding-top: 8px;
              line-height: 1.4;
              @include transition;
              span.tag {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 12px;
                line-height: 1.3;
                padding: 0 2px;
                background-color: #84b3d9;;
                color: #ffffff;
                margin: 0 0 3px 0;
                @include border-radius(2px);
              }
            }
          }
          &:hover {
            figure {
              img {
                @include opacity;
              }
              figcaption {
                color: #84b3d9;
              }
            }
          }
        }
        p {
          b { display: block; }
          background-color: #dff3f9;
          margin: 15px 0 0 0;
          padding: 5px 8px 5px 8px;
          font-size: 13px;
          line-height: 1.5;
          @include border-radius(10px);
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
        }
      }
      &:before,
      &:after {
        @include clearfix;
      }
    }
  }
  .map {
    margin-bottom: 50px;
    .acf-map {
      margin: 0px auto;
      max-width: 800px;
      height: 450px;
    }
  }
  center {
    text-align: center;
    a {
      font-size: 12px;
      color: #ffffff;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  #common {
    padding-top: 15px;
    background: none;
    width: 530px;
    margin: 0px auto;
    .form-group {
      .control-label {
        font-weight: 400;
        font-size: 14px;
      }
      .wpcf7-form-control-wrap {
        max-width: 100%;
        &.interest {
          max-width: 300px;
          width: 300px;
          .wpcf7-list-item {
            display: block;
          }
        }
      }
    }
    .wakayama,
    .industry,
    .offtokyo,
    .interest {
      select {
        width: 300px;
        padding-right: 40px
      }
    }
    .wpcf7-confirm-wrap {
      background-color: #ffffff;
      .form-group {
        .control-label {
          color: #888888;
        }
        input[type=text],
        input[type=email],
        input[type=tel],
        input[type=url],
        select,
        textarea {
          &.wpcf7c-conf { color: #888888; }
        }
      }
    }
    div.wpcf7 .wpcf7-mail-sent-ok {
      background-color: #fedc5e;
      color: #ffffff;
      text-align: center;
      border: none;
      color: #222222;
      padding: 10px 20px;
      max-width: 400px;
      width: auto;
    }
  }
}

@media(max-width: 960px) {
  #template-wakayama {
    background-image: none;
    #cover {
      overflow: hidden;
      background-image: none;
      padding-top: 60px;
      img.cover-image {
        width: 1000px;
        max-width: 1000px;
        position: absolute;
        top: 0;
        left: 50%;
        margin: -70px 0 0 -500px;
      }
      .building {
        max-width: 80%;
      }
      address {
        font-size: 14px;
      }
      .content {
        img {
          &.orange {
            display: none;
          }
        }
      }
    }
    .schedule {
      table {
        max-width: 500px;
        width: auto;
      }
    }
    h2#form.h2 {
      margin-left: 10px;
      margin-right: 10px;
    }
    .section,
    .schedule,
    #common {
      @include border-box;
      width: 100%;
      padding: 0 10px;
    }
    #common {
      max-width: 500px;
      width: auto;
      .wakayama,
      .industry,
      .offtokyo,
      .interest {
        select {
          width: 100%
        }
      }
      .form-group {
        margin-bottom: 5px
      }
      form {
        input[type=text],
        input[type=email],
        input[type=tel],
        input[type=url],
        textarea {
          margin-top: 5px;
        }
      }
    }
  }
}

@media(max-width: 872px) {
}

@media(max-width: 767px) {
  #template-wakayama {
    #cover {
    }
    .company {
      ul {
        li {
          width: 50%;
          figure {
            figcaption {
              strong {
                display: block;
              }
              span.tag {
                display: inline-block;
                position: relative;
                bottom: auto;
                right: auto;
                margin: 0;
              }
            }
          }
        }
      }
    }
    .map {
      .acf-map { height: 550px; }
      .address {
        text-align: center;
        address {
          font-size: 15px;
        }
        ul {
          li {
            float: none;
            width: 100%;
            font-size: 13px;
          }
        }
      }
    }
  }
}
