$color: #1b1464;
$yellow: #f9f069;
$green: #8cc63f;

$gothic:        'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D', sans-serif;
$gothic-b:      'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E', sans-serif;
$gothic-design: 'FOT-ロックンロール Std DB', 'RocknRollStd-DB', sans-serif;
$kurokane:      'FOT-くろかね Std EB', 'KurokaneStd-EB', sans-serif;
$tsubame:       'FOT-つばめ Std R', 'TsubameStd-R', sans-serif;
$antique:       'FOT-アンチックセザンヌ Pro M', 'AnticCezannePro-M', sans-serif;
$aokane:        'FOT-あおかね Std EB', 'AokaneStd-EB', sans-serif;
