.mce-content-body {
  font-family: 'FOT-筑紫ゴシック Pr5 D', 'TsukuGoPr5-D', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(28, 135, 201, 0.3);
	word-wrap: break-word;
  color: #333333;
  font-size: 14px;
}

.mce-content-body img {
  vertical-align: bottom;
}

.mce-content-body img {
  max-width: 100%;
}

.mce-content-body p {
  font-size: 15px;
  line-height: 1.8;
  margin: 0 0 15px 0;
  padding-top: 10px;
}

.mce-content-body strong {
  font-family: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
}

.mce-content-body strong a {
  font-family: 'FOT-筑紫A丸ゴシック Std D', 'TsukuARdGothicStd-D';
  font-size: 16px;
  text-align: center;
  display: inline-block;
  background-color: #1b1464;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.4;
  padding: 12px 14px 15px 14px;
  min-width: 300px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
}

.mce-content-body strong a:hover {
  background-color: #261d8f;
}

.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6 {
  color: #1B1464;
  margin: 20px 0 0 0;
  padding-bottom: 10px;
  font-family: 'FOT-筑紫ゴシック Pro E', 'TsukuGoPro-E';
}


.mce-content-body h1 {
	font-size: 20px;
	line-height: 24px;
  height: 24px;
}

.mce-content-body h2 {
  font-size: 18px;
  line-height: 24px;
  min-height: 24px;
  padding: 9px 0 19px 9px;
  position: relative;
}
.mce-content-body h2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin: -26px 0 0 -7px;
  width: 7px;
  height: 42px;
  background-image: url("images/editor/h2.png");
}

.mce-content-body h3 {
  font-size: 16px;
  background-image: url("images/editor/h3.png");
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 0 0 10px 5px;
  margin-bottom: 10px;
  padding-right: 25px;
  display: inline-block;
}

.mce-content-body h4 {
  font-size: 16px;
  border-bottom: 1.5px solid #1B1464;
  padding: 20px 0 5px 0;
  margin: 0 0 5px 0;
}

.mce-content-body ul,
.mce-content-body ol {
  margin: 0;
  padding-left: 30px;
  margin: 0 0 10px 0;
  padding-top: 10px;
}

.mce-content-body blockquote {
  margin: 0 0 10px 0;
  padding: 5px 10px;
  border-left: 3px solid #dddddd;
}

.mce-content-body blockquote p {
  margin: 0;
  padding: 0;
}

.mce-content-body a {
  color: #1B1464;
}
.mce-content-body a:hover {
  text-decoration: none;
}

.mce-content-body hr {
  border: none;
  border-top: 2px solid #1B1464;
  margin: 0 0 10px 0;
}

.articleCategory {
}

.articleCategory a {
}

.mce-content-body .alignright {
	display: block;
	float: right;
	margin: 0 0 10px 10px;
  clear: right; 
}

.mce-content-body .alignleft {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
  clear: left;
}

.mce-content-body .aligncenter {
	display: block;
	margin: 0 auto 5px;
}

.mce-content-body .wp-caption {
  max-width: 100%;
  padding-bottom: 10px;
}

.mce-content-body .wp-caption p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.mce-content-body table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0 0 0;
  table-layout: fixed;
}

.mce-content-body table tr th,
.mce-content-body table tr td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px 20px;
  line-height: 1.4;
}

.mce-content-body table tr th {
  background-color: #f5f5f5;
}

.mce-content-body table tr th.colspan2 {
  width: 13em;
}

.mce-content-body table tr td {
  min-width: 90px;
}

.mce-content-body a:hover img {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
}

.mce-content-body .gallery-columns-1 .gallery-item { width: 100%; }
.mce-content-body .gallery-columns-2 .gallery-item { width: 50%; }
.mce-content-body .gallery-columns-3 .gallery-item { width: 33.3%; }
.mce-content-body .gallery-columns-4 .gallery-item { width: 25%; }
.mce-content-body .gallery-columns-5 .gallery-item { width: 20%; }
.mce-content-body .gallery-columns-6 .gallery-item { width: 16.6%; }
.mce-content-body .gallery-columns-7 .gallery-item { width: 14.2%; }
.mce-content-body .gallery-columns-8 .gallery-item { width: 12.5%; }
.mce-content-body .gallery-columns-9 .gallery-item { width: 11.1%; }

.mce-content-body .gallery-item {
  float: left;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 5px;
  margin: 0;
}

.mce-content-body .gallery-item img {
  height: auto;
}

.mce-content-body .gallery-item .gallery-caption {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 12px;
  text-align: left;
}

.mce-content-body .gallery br {
  display: none;
}

.mce-content-body .gallery:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size: 0;	
  clear: both; 
  visibility: hidden;
}

@media(max-width: 767px) {
  .mce-content-body [class*="gallery-columns-"] .gallery-item { width: 100%; }

  .mce-content-body table tr th,
  .mce-content-body table tr td {
    padding: 10px;
    font-size: 12px;
  }

  .mce-content-body table tr th.colspan1 {
    width: 5em;
  }

  .mce-content-body table tr th.colspan2 {
    width: 12em;
  }

}
