.mce-content-body {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-tap-highlight-color: rgba(28, 135, 201, 0.3);
	word-wrap: break-word;
  color: #333333;
  font-size: 14px;
}

.mce-content-body img {
  vertical-align: bottom;
}

.mce-content-body img {
  max-width: 100%;
  height: auto;
}

.mce-content-body p {
  font-size: 14px;
  line-height: 2.4;
  margin: 0 0 30px 0;
  padding-top: 10px;
}

.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6 {
  color: #1B1464;
  margin: 20px 0 0 0;
  padding-bottom: 10px;
}


.mce-content-body h1 {
	font-size: 20px;
	line-height: 24px;
  height: 24px;
}

.mce-content-body h2 {
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  padding: 9px 0 19px 18px;
  background-image: url("images/editor/h2.png");
  background-repeat: no-repeat;
}

.mce-content-body h3 {
  font-size: 16px;
  background-image: url("images/editor/h3.png");
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 0 0 10px 5px;
  margin-bottom: 10px;
  padding-right: 25px;
  display: inline-block;
}

.mce-content-body h4 {
  font-size: 16px;
  border-bottom: 1.5px solid #1B1464;
  padding: 20px 0 5px 0;
  margin: 0 0 5px 0;
}

.mce-content-body ul,
.mce-content-body ol {
  margin: 0;
  padding-left: 30px;
  margin: 0 0 10px 0;
  padding-top: 10px;
}

.mce-content-body blockquote {
  margin: 0 0 10px 0;
  padding: 20px 30px;
  background-color: #f5f5f5;
  border-left: 3px dotted #ffffff;
}

.mce-content-body blockquote p {
  margin: 0;
  padding: 0;
}

.mce-content-body a {
  color: #1B1464;
}
.mce-content-body a:hover {
  text-decoration: none;
}

.mce-content-body hr {
  border: none;
  border-top: 2px solid #1B1464;
  margin: 0 0 10px 0;
}

.articleCategory {
}

.articleCategory a {
}

.mce-content-body .alignright {
	display: block;
	float: right;
	margin: 0 0 10px 10px;
  clear: right; 
}

.mce-content-body .alignleft {
	display: block;
	float: left;
	margin: 0 10px 10px 0
  clear: left;
}

.mce-content-body .aligncenter {
	display: block;
	margin: 0 auto 5px;
}

.mce-content-body .wp-caption {
  max-width: 100%;
  padding-bottom: 10px;
}

.mce-content-body .wp-caption p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.mce-content-body table.table {
  border-collapse: collapse;
}
