#common .single-wrap {
  background-color: #ffffff;
  position: relative;
}

#common .single-wrap:after,
#common .single-wrap:before {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

#common .single-wrap .single-left,
#common .single-wrap .single-right {
  float: left;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#common .single-wrap .single-right {
  width: 260px;
}

#common .single-wrap .single-right aside {
  padding: 50px 0 0 0;
}

#common .single-wrap .single-left {
  max-width: 800px;
}

#common .single-wrap article {
  padding: 40px 30px 40px 58px;
}

#common .single-wrap article h1.single-title {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 10px 0;
}

#common .single-wrap article h2.single-subtitle {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 15px 0;
  color: #1b1464;
}

#common .single-wrap article .single-eyecatch {
  margin-bottom: 20px;
  max-width: 100%;
}

#common .single-wrap article .single-category {
  display: inline-block;
  font-weight: 700;
  color: #1b1464;
  border-bottom: 2px solid #1b1464;
  padding: 1px 24px 0 4px;
}

#common .single-wrap article time.single-date {
  color: #888888;
  float: right;
  clear: right;
}

#common .single-top-box:before,
#common .single-top-box:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

#common .single-top-box {
  border: 5px solid #1b1464;
  margin: 0 0 40px 0;
  padding: 30px 15px 30px 25px;
}

#common .single-top-box img {
  width: 120px;
  height: 120px;
  display: block;
  float: left;
}

#common .single-top-box .single-top-box-text {
  max-width: 428px;
  padding: 0 15px 0 25px;
  float: left;
  margin: 0;
}

#common .link_page_navi {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
}

#common .link_page_navi li {
  list-style: none;
  text-align: center;
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px 0 0;
  font-weight: 700;
}

#common .link_page_navi a li {
  border-color: #1b1464;
  color: #1b1464;
  font-weight: 400;
}


#common .sns-share {
  height: 26px;
  padding-bottom: 10px;
}

#common .sns-share .twitter,
#common .sns-share .facebook {
  float: left;
}

#common .sns-share .twitter {
  margin: 1px 0 0 8px;
}

#common .sns-share:before,
#common .sns-share:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

#common .partials {
  padding: 0 10px;
  clear: both;
}

#common .partials .partials-registration-wrap {
  padding: 20px;
  background: #f5f5f5 url("images/common/background.png") repeat;
  text-align: center;
  max-width: 636px;
  margin: 0px auto;
  margin-bottom: 40px;
}
#common .partials .partials-registration-wrap img.partials-img {
  vertical-align: bottom;
  margin-bottom: 5px;
  max-width: 100%;
}
#common .partials .partials-registration-wrap .partials-link-wrap {
  margin-bottom: 10px;
}
#common .partials .partials-registration-wrap .partials-link-wrap .partials-link {
  color: #1b1464;
}
#common .partials .partials-registration-wrap .partials-link-wrap .partials-link:hover {
  text-decoration: none;
}
#common .partials .partials-registration-wrap a.partials-registration {
  display: block;
  max-width: 242px;
  height: 50px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #e2274b;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  margin: 0px auto;
  margin-bottom: 10px;
}
#common .partials .partials-registration-wrap a.partials-registration:hover {
  background-color: #d31c40;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}
#common .partials .partials-registration-wrap p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

#common .partials .partials-registration-wrap .sns-share {
  display: inline-block;
  padding-top: 20px;
}

#common aside h4 {
  color: #1B1464;
  font-size: 16px;
  border-bottom: 1.5px solid #1B1464;
  padding: 20px 0 5px 0;
  margin: 0 0 10px 0;
}

#common .single-map a {
  color: #1b1464;
}

#common .single-map a:hover {
  text-decoration: none;
}

#common .single-tag {
  margin: 0 0 20px 0;
  padding: 0 10px;
}

#common .single-tag:before,
#common .single-tag:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

#common .single-tag li {
  list-style: none;
  border: 1px solid #1b1464;
  color: #1b1464;
  list-style: none;
  border-radius: 2px;
  width: auto;
  min-height: 15px;
  margin: 0 auto 8px;
  line-height: 15px;
  padding: 4px 10px 4px 7px;
  display: block;
  float: left;
  clear: left;
  text-align: left;
}

#common .single-tag li span {
  position: relative;
  top: -1px;
  margin: 0 2px 0 0;
}

#common .single-image-wrap:after,
#common .single-image-wrap:before {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

#common .single-image {
  display: block;
  float: left;
  width: 50%;
  margin: 20px 0;
}

#common .single-image img {
  max-width: 100%;
  height: auto;
}

#common .single-image figcaption {
  display: block;
  padding: 5px 5px 20px 5px;
  font-size: 12px;
}

#common a.service-registration {
  clear: left;
  display: block;
  max-width: 242px;
  height: 50px;
  border-radius: 3px;
  background-color: #e2274b;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  margin: 0px auto;
}
#common a.service-registration span {
  position: absolute;
  font-size: 18px;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -70px;
}
#common a.service-registration:hover {
  background-color: #d31c40;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}

#common .service-registration-window {
  font-size: 13px;
  text-align: center;
  border: 1px solid #000000;
  line-height: 18px;
  padding: 5px 0;
  max-width: 210px;
  margin: 0px auto;
  margin-top: 10px;
  position: relative;
  background-color: #ffffff;
}
#common .service-registration-window b.caret {
  position: absolute;
  display: block;
  height: 7px;
  width: 12px;
  background-image: url("images/caret.png");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  left: 50%;
  top: 0;
  margin: -7px 0 0 -6px;
}

#common .single-related-list {
  margin: 5px 0 40px 0;
  padding: 0 0 0 25px;
}

#common .single-related-list li {
  margin: 0 0 8px 0;
  list-style-image: url("images/single/list-style.png");
}

#common .single-related-list li a {
  color: #1b1464;
}

#common .single-related-list li a:hover {
  text-decoration: none;
}

/*----------plugin owl------------*/
.single-related-wrap {
  padding: 0 58px 40px;
}

.owl-controls .owl-nav .owl-prev,
.owl-controls .owl-nav .owl-next {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -15px;
  float: none;
  font-size: 16px;
  background-image: url("images/single/owl-nav.png");
  background-repeat: no-repeat;
  background-size: 60px 30px;
  background-position: 0 0;
}
.owl-controls .owl-nav .owl-prev:hover,
.owl-controls .owl-nav .owl-next:hover {
  opacity: 0.8;
}
.owl-controls .owl-nav .owl-prev {
  left: 0;
  margin-left: -30px;
}
.owl-controls .owl-nav .owl-next {
  right: 0;
  margin-right: -30px;
  background-position: -30px 0;
}

a.single-related {
  display: block;
  padding: 0 10px;
  color: #000000;
  text-decoration: none;
  font-size: 13px;
}

a.single-related:hover .single-related-eyecatch{
  background-size: 104% auto;
}

a.single-related h5 {
  font-size: 14px;
  display: block;
  margin: 5px 0 0 0;
}

a.single-related p {
  font-size: 12px;
  margin: 5px 0 0 0;
}

a.single-related h5:hover {
  text-decoration: underline;
}

.single-related-eyecatch {
  width: 100%;
  height: 120px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}


/*--------------------------------------*/


@media(max-width: 1100px) {
  #common .single-wrap .single-left article {
    padding-bottom: 0px;
  }
  #common .single-wrap .single-right aside {
    max-width: 100%;
    padding: 0  40px 40px 58px;
  }
  #common .single-service {
    display: none;
  }
  #common .single-wrap .single-left,
  #common .single-wrap .single-right {
    width: 100%;
    max-width: 100%;
  }
}

@media(max-width: 815px) {
  #common .single-wrap .single-left article,
  #common .single-wrap .single-right aside {
    padding: 20px;
  }
  #common .single-wrap .single-left article  { padding-bottom: 0; }
  #common .single-wrap .single-right aside { padding-top: 0; }

  #common .single-wrap article .single-eyecatch {
    background-size: cover;
  }

  #common .single-top-box img,
  #common .single-top-box .single-top-box-text {
    float: none;
  }
  #common .single-top-box img {
    margin: 0px auto;
    margin-bottom: 15px;
  }
  #common .single-top-box .single-top-box-text {
    padding-left: 15px;
  }
}
