/*---------- layout.css ---------*/

.sns-footer {
  background: #f5f5f5 url("images/common/background.png") repeat;
  height: 30px;
  padding: 20px 0;
}

.sns-footer-inner {
  width: 184px;
  margin: 0px auto;
}

.sns-footer-inne:after,
.sns-footer-inner:before {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility: hidden;
}

.sns-footer a {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 8px;
  background: transparent url("images/common/sns.png") no-repeat;
  background-size: 30px 120px;
  text-indent: -9999px;
}
.sns-footer a.wantedly { background-position: 0 -30px; }
.sns-footer a.twitter  { background-position: 0 -60px; }
.sns-footer a.facebook { background-position: 0 -90px; }

.sns-footer a:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity:0.8;
}

.scroll-top-wrap {
  position: relative;
}

.scroll-top {
  display: block;
  width: 60px;
  height: 60px;
  background: #1b1464 url("images/common/scroll-top.png") no-repeat;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0 20px 20px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
a.scroll-top.none { display: none; }

a.scroll-top.absolute {
  position: absolute;
}
a.scroll-top:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity:0.8;
}

/*-------------------------------*/

#common .container {
  width: 1100px;
  padding: 0 15px;
  margin: 0px auto;
}

#common {
  background: #f5f5f5 url("images/common/background.png") repeat;
}

#common:after,
#common:before,
#common .container:after,
#common .container:before {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility: hidden;
}

#common .common-cover {
  height: 275px;
  margin-bottom: 15px;
  background: url("images/common/cover-background.jpg") fixed top -250px center /100% no-repeat;
}

#common .common-cover .common-cover-inner {
  width: 100%;
  height: 100%;
  background: url("images/common/cover-background-mesh.png") repeat;
  opacity: 0.9;
}

/*-------category-------------*/
#common .common-cover.category {
  background: url("images/common/cover.png") fixed top center /100% no-repeat;
  height: 156px;
  color: #ffffff;
  background-color: #1b1464;
}

#common .common-cover.category h1 {
  font-size: 24px;
  margin: 0;
  padding: 30px 20px;
}

#common .common-cover.category .breadcrumb {
  border-bottom-color: #ffffff;
}

#common .common-cover.category .breadcrumb a {
  color: #ffffff;
}


/*----------------------------*/

/*-------custom-field-------------*/

#common .common-cover.custom-field {
  background: url("images/common/cover.png") fixed top center /100% no-repeat;
  height: 156px;
  height: 156px;
  color: #ffffff;
}

#common .common-cover.custom-field h1 {
  font-size: 24px;
  margin: 0;
  padding: 30px 20px;
}

#common .common-cover.custom-field .breadcrumb {
  border-bottom-color: #ffffff;
}

#common .common-cover.custom-field .breadcrumb a {
  color: #ffffff;
}

#common .common-cover.recruit   { background-color: #49c6e8; }
#common .common-cover.column    { background-color: #dd4ae5; }
#common .common-cover.event     { background-color: #6ecc3e; }
#common .common-cover.interview { background-color: #ff9e55; }
#common .common-cover.niche     { background-color: #1b1464; }

/*---------------------------------*/

#common .common-left {
  width: 800px;
  float: left;
}

#common .common-right {
  width: 300px;
  height: 100%;
  float: left;
}

#common .common-grid-wrap:after,
#common .common-grid-wrap:before {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

#common a.common-grid {
  position: relative;
  display: block;
  width: 238px;
  height: 258px;
  color: #333333;
  border: 6px solid #ffffff;
  background: #ffffff;
  float: left;
  margin: 0 15px 15px 0;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#common a.common-grid .common-grid-img {
  width: 238px;
  height: 146px;
  margin-bottom: 10px;
  background: #f2f2f2 url("images/common/no-image.png") center center /auto 100% no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#common a.common-grid h3 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 17px;
  line-height: 22px;
  height: 44px;
  margin: 0 0 10px 0;
  padding: 0 6px;
}

#common a.common-grid .common-grid-text-wrap {
  padding: 0 6px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 -6px -6px;
  border-left: 6px solid #f2f2f2;
}

#common a.common-grid .common-grid-text-wrap .common-grid-time {
  font-size: 11px;
}

#common a.common-grid .common-grid-text-wrap p {
  font-size: 13px;
  margin: 0;
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#common a.common-grid .common-grid-tag {
  display: block;
  font-size: 10px;
  border: 1px solid #333333;
  padding: 1px 2px 0 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 6px 5px 0;
}

#common a.common-grid .common-grid-img:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity:0.8;
  background-color: #ffffff;
}

#common a.common-grid.recruit .common-grid-text-wrap  { border-left-color: #49c6e8; }
#common a.common-grid.recruit .common-grid-text-wrap .common-grid-time { color: #49c6e8; }
#common a.common-grid.recruit .common-grid-tag,
#common a.common-grid.recruit:hover {
  border-color: #49c6e8;
  color: #49c6e8;
}
#common a.common-grid.offer .common-grid-text-wrap  { border-left-color: #49c6e8; }
#common a.common-grid.offer .common-grid-text-wrap .common-grid-time { color: #49c6e8; }
#common a.common-grid.offer .common-grid-tag,
#common a.common-grid.offer:hover {
  border-color: #49c6e8;
  color: #49c6e8;
}
#common a.common-grid.column .common-grid-text-wrap  { border-left-color: #dd4ae5; }
#common a.common-grid.column .common-grid-text-wrap .common-grid-time { color: #dd4ae5; }
#common a.common-grid.column .common-grid-tag,
#common a.common-grid.column:hover {
  border-color: #dd4ae5;
  color: #dd4ae5;
}
#common a.common-grid.event .common-grid-text-wrap  { border-left-color: #6ecc3e; }
#common a.common-grid.event .common-grid-text-wrap .common-grid-time { color: #6ecc3e; }
#common a.common-grid.event .common-grid-tag,
#common a.common-grid.event:hover {
  border-color: #6ecc3e;
  color: #6ecc3e;
}
#common a.common-grid.interview .common-grid-text-wrap  { border-left-color: #ff9e55; }
#common a.common-grid.interview .common-grid-text-wrap .common-grid-time { color: #ff9e55; }
#common a.common-grid.interview .common-grid-tag,
#common a.common-grid.interview:hover {
  border-color: #ff9e55;
  color: #ff9e55;
}
#common a.common-grid.niche .common-grid-text-wrap  { border-left-color: #1b1464; }
#common a.common-grid.niche .common-grid-text-wrap .common-grid-time { color: #1b1464; }
#common a.common-grid.niche .common-grid-tag,
#common a.common-grid.niche:hover {
  border-color: #1b1464;
  color: #1b1464;
}

#common .common-category-wrap {
  padding: 8px 25px 25px;
  background-color: #ffffff;
}

#common ul.common-category {
  margin: 0;
  padding: 18px 0 0 0;
}

#common ul.common-category li {
  padding: 0;
  list-style: none;
  float: left;
  width: 50%;
  font-size: 15px;
  line-height: 27px;
}

#common ul.common-category li a {
  color: #333333;
  text-decoration: none;
}

#common ul.common-category li a:hover {
  text-decoration: underline;
}

#common h2.common-category-title {
  font-size: 14px;
  margin: 0;
  width: 124px;
  height: 26px;
  line-height: 26px;
  margin: 0px auto;
  text-align: center;
  background: #ffffff url('images/common/h2-category.png') no-repeat;
}

#common ul.common-category:before,
#common ul.common-category:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility: hidden;
}

#common nav.pagination-wrap {
  clear: both;
  display: block;
  text-align: center;
}

#common ul.pagination:before,
#common ul.pagination:after {
  content: "."; 
  clear: both;
  display: block; 
  height: 0; 
  font-size:0;	
  visibility: hidden;
}

#common ul.pagination {
  display: inline-block;
  margin: 10px 0 20px 0;
  padding: 0;
}

#common ul.pagination li {
  list-style: none;
  float: left;
}

#common ul.pagination li .active,
#common ul.pagination li a {
  display: block;
  width: 34px;
  height: 34px;
  text-decoration: none;
  text-align: center;
  line-height: 34px;
  font: 400 14px/34px 'Lucida Grande';
}

#common ul.pagination li .active {
  color: #777777;
}

#common ul.pagination li a {
  color: #1b1464;
}

#common ul.pagination li a:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity:0.8;
}

#common ul.pagination li a.pagination-button {
  background-color: #1b1464;
  color: #ffffff;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 2px;
}


@media(max-width: 1130px) {

  #common .common-cover {
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
  }


  #common .container {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  #common .common-right {
    width: 100%;
    margin-bottom: 15px;
  }
  #common ul.common-category {
  }
}

@media(max-width: 815px) {
  #common .common-cover {
    height: 215px;
  }
  #common .container {
    padding: 0 20px;
  }
  #common .common-left {
    width: 100%;
  }
  #common .common-left .common-grid {
    float: none;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px auto;
    margin-bottom: 15px;
  }
  #common .common-left .common-grid .common-grid-img {
    width: 100%;
    background-size: cover;
  }
}
