/* ---------- layout ---------- */

/* ---------------------------- */

/* ----- template-lp ----- */

#lp .lp-cover {
  height: 300px;
  padding-top: 180px;
  background: url("images/template-lp/lp-cover-background.jpg") center center /100% no-repeat;
}

#lp .lp-cover h1 {
  color: #ffffff;
  font-size: 30px;
  margin: 0;
  text-align: center;
  -webkit-text-shadow: 3px 3px 5px rgba(0,0,0,.6);
  -moz-text-shadow: 3px 3px 5px rgba(0,0,0,.6);
  -ms-text-shadow: 3px 3px 5px rgba(0,0,0,.6);
  -o-text-shadow: 3px 3px 5px rgba(0,0,0,.6);
  text-shadow: 3px 3px 5px rgba(0,0,0,.6);
}

#lp .lp-title-wrap {
  height: 56px;
  background: #1b1464 url("images/template-lp/lp-title-background.png") no-repeat;
  padding: 35px 0;
}

#lp .lp-title-wrap h2 {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  border-bottom: 2px solid #ffffff;
  width: 233px;
  margin: 0px auto;
  line-height: 43px;
}

#lp .lp-title-wrap h2 b {
  font-size: 30px;
  margin: 0 2px 0 2px;
}

#lp .lp-characteristic-wrap {
  position: relative;
  height: 360px;
  background: #f5f5f5 url("images/template-lp/lp-characteristic-first-background.jpg") center center no-repeat;
}
#lp .lp-characteristic-wrap.second-child { background: #ffffff url("images/template-lp/lp-characteristic-second-background.jpg") center center no-repeat; }
#lp .lp-characteristic-wrap.last-child { background: #f5f5f5 url("images/template-lp/lp-characteristic-last-background.jpg") center center no-repeat; }

#lp .lp-characteristic-wrap .lp-characteristic-img {
  width: 360px;
  height: 360px;
  position: absolute;
  top: 0;
  right: 50%;
  margin: 0 40px 0 0;
}

#lp .lp-characteristic-wrap.second-child .lp-characteristic-img {
  right: auto;
  left: 50%;
  margin: 0 0 0 15px;
}

#lp .lp-characteristic-wrap .lp-characteristic-img img {
  width: 100%;
  height: 100%;
}

#lp .lp-characteristic-wrap .lp-characteristic-inner {
  width: 430px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 85px 0 0 20px;
}

#lp .lp-characteristic-wrap.second-child .lp-characteristic-inner {
  left: auto;
  right: 50%;
  top: 0;
  margin: 85px 20px 0 0;
}

#lp .lp-characteristic-wrap .lp-characteristic-inner h3 {
  margin: 0 0 10px 0;
  color: #d4145a;
  font-size: 22px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #d4145a;
  width: 380px;
}

#lp .lp-characteristic-wrap .lp-characteristic-inner p {
  font-size: 16px;
  line-height: 1.75;
}

#lp .lp-flow-wrap {
  height: 530px;
  padding-top: 40px;
  background-image: url("images/template-lp/lp-flow-background.png");
}

#lp .lp-flow-wrap ul {
  margin: 0px auto;
  width: 740px;
  padding: 0;
}

#lp .lp-flow-wrap ul li {
  position: relative;
  border: 3px solid #1b1464;
  padding: 12px 15px 12px 60px;
  margin-bottom: 33px;
  list-style: none;
  background-image: url("images/template-lp/lp-flow-number.png");
  background-repeat: no-repeat;
}

#lp .lp-flow-wrap ul li:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  margin: 0 0 -34px -15px;
  width: 40px;
  height: 30px;
  background-image: url("images/template-lp/lp-flow-caret.png");
}

#lp .lp-flow-wrap ul li.second-child { background-position: 0 -82px;  }
#lp .lp-flow-wrap ul li.third-child  { background-position: 0 -164px;  }
#lp .lp-flow-wrap ul li.last-child {
  background-position: 0 -246px;
  margin-bottom: 0;
}

#lp .lp-flow-wrap ul li.last-child:after {
  display: none;
}

#lp .lp-flow-wrap ul li h4 {
  font-size: 20px;
  margin: 0 0 5px 0;
  color: #d4145a;
}

#lp .lp-flow-wrap ul li p {
  font-size: 15px;
  color: #1b1464;
  margin: 0;
}

#lp .lp-registration-wrap {
  background-color: rgba(255,102,153,.3);
  text-align: center;
  padding: 50px 0;
}

#lp .lp-registration-wrap a {
  height: 44px;
  width: 197px;
  background-color: #d4145a;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 19px;
  font-weight: 700;
  margin: 0px auto;
  margin-bottom: 10px;
  line-height: 44px;
}

#lp .lp-registration-wrap a:hover {
  background-color: #e91864;
}

#lp .lp-registration-wrap p {
  margin: 0;
  font-size: 16px;
}

#lp .lp-message-wrap {
  background-image: url("images/template-lp/lp-message-background.png");
  padding: 77px 0 130px 0;
  text-align: center;
  color: #ffffff;
}

#lp .lp-message-wrap h3 {
  font-size: 30px;
  margin: 0 0 20px 0;
}

#lp .lp-message-wrap p {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}

@media(max-width: 965px) {
  #lp .lp-cover {
    height: 200px;
    padding-top: 150px;
  }
  #lp .lp-characteristic-wrap,
  #lp .lp-characteristic-wrap.second-child,
  #lp .lp-characteristic-wrap.last-child {
    height: 500px;
    background-size: cover;
  }
  #lp .lp-characteristic-wrap .lp-characteristic-inner {
    top: auto;
    bottom: 0;
    margin: 0 0 30px -215px;
  }
  #lp .lp-characteristic-wrap.second-child .lp-characteristic-inner {
    top: auto;
    bottom: 0;
    margin: 0px -215px 30px 0;
  }
  #lp .lp-characteristic-wrap .lp-characteristic-img {
    width: 320px;
    height: 320px;
    margin: 0 -160px 0 0;
    overflow: hidden;
  }
  #lp .lp-characteristic-wrap.second-child .lp-characteristic-img {
    margin: 0 0 0 -160px;
  }
}

@media(max-width: 767px) {
  #lp .lp-cover {
    padding-top: 100px;
    background-size: auto 100%;
  }
  #lp .lp-cover h1 {
    padding: 0 10px;
    font-size: 27px;
    line-height: 32px;
  }
  #lp .lp-characteristic-wrap,
  #lp .lp-characteristic-wrap.second-child,
  #lp .lp-characteristic-wrap.last-child {
    height: 460px;
  }
  #lp .lp-characteristic-wrap .lp-characteristic-inner {
    width: 300px;
    margin: 0 0 10px -150px;
  }
  #lp .lp-characteristic-wrap.second-child .lp-characteristic-inner {
    margin: 0 -150px 10px 0;
  }
  #lp .lp-characteristic-wrap .lp-characteristic-inner h3,
  #lp .lp-characteristic-wrap .lp-characteristic-inner p {
    width: 300px;
  }
  #lp .lp-characteristic-wrap .lp-characteristic-inner h3 {
    font-size: 18px;
  }
  #lp .lp-characteristic-wrap .lp-characteristic-inner p {
    font-size: 13px;
  }
  #lp .lp-characteristic-wrap .lp-characteristic-inner p br {
    display: none;
  }
  #lp .lp-flow-wrap {
    padding: 30px 10px 50px 10px;
    height: auto;
  }
  #lp .lp-flow-wrap ul {
    width: 100%;
  }
  #lp .lp-flow-wrap ul li {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  #lp .lp-flow-wrap ul li h4 {
    font-size: 17px;
    margin-bottom: 0;
  }
  #lp .lp-flow-wrap ul li p {
    font-size: 13px;
  }
  #lp .lp-message-wrap {
   padding: 30px 5px 50px 10px; 
  }
  #lp .lp-message-wrap h3 {
    font-size: 22px;
  }
  #lp .lp-message-wrap p {
    font-size: 14px;
  }
  #lp .lp-message-wrap p br {
    display: none;
  }
}

/* ---------------------------- */
