/*---------- layout.css ---------*/
html,
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(28, 135, 201, 0.3);
  font-size: 14px;
  color: #333333;
}

header {
  margin: 0px auto;
  height: 40px;
  padding: 0 15px 0 15px;
  text-align: center;
  position: relative;
}

header:after,
header:before {
  content: ""; 
  display: block; 
  height: 20px;
  width: 100%;
  background: transparent url("images/common/header.png") repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 -20px 0;
  z-index: 2;
}

header .header-inner{
  max-width: 1070px;
  margin: 0px auto;
  position: relative;
}

header .global_menu:before,
header .global_menu:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

header .logo {
  padding: 8px 0 0 0;
  margin-right: 20px;
  float: left;
}

header .logo a {
  display: block;
  width: 61px;
  height: 19px;
  text-indent: -9999px;
  background: url("images/template-lp/lp-logo.png") no-repeat;
}

.slicknav_btn {
  display: block;
  width: 40px;
  height: 32px;
  padding-top: 8px;
  background-color: #1b1464;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.slicknav_arrow {
  display: none;
}

.slicknav_btn.slicknav_open {
  background-color: #15104f;
}

.slicknav_icon-bar {
  display: block;
  height: 1px;
  width: 20px;
  background-color: #ffffff;
  margin: 0px auto;
  margin-top: 5px;
}

.slicknav_nav {
  position: absolute;
  z-index: 3;
  background-color: #1b1464;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  margin-top: 40px;
  width: 100%;
  padding: 20px 0;
}

.slicknav_nav li {
  list-style: none;
  text-align: left;
}

.slicknav_nav li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

.slicknav_nav li a a {
  height: auto;
  line-height: auto;
  padding: 0;
}

.slicknav_nav li.current-menu-item a,
.slicknav_nav li a:hover {
  background-color: #15104f;
}

header .menu-global_menu-container {
  float: left;
}

header .global_menu {
  margin: 0;
  padding: 0;
}

header .global_menu li {
  list-style: none;
  line-height: 19px;
  padding: 9px 10px 0 9px;
}

header .global_menu li {
  float: left;
}

header .global_menu li .sub-menu {
  display: none;
}

header .global_menu li a {
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 0 5px;
  border-radius: 2px;
  border: 1px solid #ffffff;
}

header .global_menu li a:hover {
  border-color: #dddddd;
  background-color: #f5f5f5;
}

header .global_menu li.current-page-ancestor a,
header .global_menu li.current-menu-item a {
  color: #ffffff;
  background-color: #1b1464;
  border-color: #1b1464;
  cursor: default;
}


.sns-footer {
  background: #f5f5f5 url("images/common/background.png") repeat;
  height: 30px;
  padding: 20px 0;
}

.sns-footer-inner {
  width: 184px;
  margin: 0px auto;
}

.sns-footer-inne:after,
.sns-footer-inner:before {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility: hidden;
}

.sns-footer a {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 8px;
  background: transparent url("images/common/sns.png") no-repeat;
  background-size: 30px 120px;
  text-indent: -9999px;
}
.sns-footer a.wantedly { background-position: 0 -30px; }
.sns-footer a.twitter  { background-position: 0 -60px; }
.sns-footer a.facebook { background-position: 0 -90px; }

.sns-footer a:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity:0.8;
}

#footer {
  background-color: #1b1464;
  color: #ffffff;
  font: 400 12px/16px 'Lucida Grande';
  padding: 30px 0 15px 0;
  text-align: center;
}

#footer .footer_menu {
  padding: 0 20px 30px 20px;
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
}

#footer .footer_menu:before,
#footer .footer_menu:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility: hidden;
}

#footer .footer_menu li {
  list-style: none;
  float: left;
  font-size: 14px;
  line-height: 16px;
  min-height: 16px;
  padding: 7px 10px;
}

#footer .footer_menu li a {
  color: #ffffff;
  text-decoration: none;
}

#footer .footer_menu li a:hover {
  text-decoration: underline;
}

.scroll-top-wrap {
  position: relative;
}

.scroll-top {
  display: block;
  width: 60px;
  height: 60px;
  background: #1b1464 url("images/common/scroll-top.png") no-repeat;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0 20px 20px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
a.scroll-top.none { display: none; }

a.scroll-top.absolute {
  position: absolute;
}
a.scroll-top:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity:0.8;
}

/*-------------------------------*/

#common .container {
  width: 1100px;
  padding: 0 15px;
  margin: 0px auto;
}

#common {
  background: #f5f5f5 url("images/common/background.png") repeat;
}

#common:after,
#common:before,
#common .container:after,
#common .container:before {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility: hidden;
}

#common .common-cover h1.site-title {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  padding-top: 100px;
  text-shadow: 2px 2px 5px rgba(0,0,0,.9);
}


#common .common-cover {
  height: 275px;
  margin-bottom: 15px;
  background: url("images/common/cover-background.jpg") fixed top -250px center /100% no-repeat;
  position: relative;
  z-index: 1;
}

#common .common-cover .common-cover-inner {
  width: 100%;
  height: 100%;
  background: url("images/common/cover-background-mesh.png") repeat;
  position: relative;
  z-index: 2;
}

#common .common-cover .cover-title {
  padding-top: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  margin: 0;
  position: relative;
  z-index: 3;
  text-shadow: 2px 2px 5px rgba(0,0,0,.7);
}

/*-------tag-------------*/
#common .common-cover.tag {
  background: url("images/common/cover.png") fixed top center /100% no-repeat;
  height: 156px;
  color: #ffffff;
  background-color: #1b1464;
}

#common .common-cover.tag h1 {
  font-size: 24px;
  margin: 0;
  padding: 30px 20px;
}

#common .common-cover.tag .breadcrumb {
  border-bottom-color: #ffffff;
}

#common .common-cover.tag .breadcrumb a {
  color: #ffffff;
}

/*----------------------------*/

/*-------custom-field-------------*/

#common .common-cover.custom-field {
  background: url("images/common/cover.png") fixed top center /100% no-repeat;
  height: 156px;
  height: 156px;
  color: #ffffff;
}

#common .common-cover.custom-field h1 {
  font-size: 24px;
  margin: 0;
  padding: 30px 20px;
}

#common .common-cover.custom-field .breadcrumb {
  border-bottom-color: #ffffff;
}

#common .common-cover.custom-field .breadcrumb a {
  color: #ffffff;
}

#common .common-cover.recruit   { background-color: #49c6e8; }
#common .common-cover.column    { background-color: #dd4ae5; }
#common .common-cover.event     { background-color: #6ecc3e; }
#common .common-cover.interview { background-color: #ff9e55; }
#common .common-cover.niche     { background-color: #1b1464; }
#common .common-cover.blog      { background-color: #1b1464; }
#common .common-cover.media     { background-color: #1b1464; }

/*---------------------------------*/

#common .common-left {
  width: 800px;
  float: left;
}

#common .common-right {
  width: 300px;
  height: 100%;
  float: left;
}

#common .common-grid-wrap:after,
#common .common-grid-wrap:before {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

#common a.common-grid {
  position: relative;
  display: block;
  width: 238px;
  height: 258px;
  color: #333333;
  border: 6px solid #ffffff;
  background: #ffffff;
  float: left;
  margin: 0 15px 15px 0;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#common a.common-grid .common-grid-new {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin: -6px -6px 0 0;
  background: url("images/common/new.png") no-repeat;
}

#common a.common-grid .common-grid-img {
  width: 238px;
  height: 146px;
  margin-bottom: 10px;
  background: #f2f2f2 url("images/common/no-image-eyecatch.png") center center /auto 100% no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#common a.common-grid h3 {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 17px;
  line-height: 22px;
  height: 44px;
  margin: 0 0 10px 0;
  padding: 0 6px;
}

#common a.common-grid .common-grid-text-wrap {
  padding: 0 6px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 -6px -6px;
  border-left: 6px solid #f2f2f2;
}

#common a.common-grid .common-grid-text-wrap .common-grid-time {
  font-size: 11px;
}

#common a.common-grid .common-grid-text-wrap p {
  font-size: 13px;
  margin: 0;
  width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

#common a.common-grid .common-grid-tag {
  display: block;
  font-size: 10px;
  border: 1px solid #333333;
  padding: 1px 2px 0 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 6px 5px 0;
}

#common a.common-grid .common-grid-img:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity:0.8;
  background-color: #ffffff;
}

#common a.common-grid.recruit .common-grid-text-wrap  { border-left-color: #49c6e8; }
#common a.common-grid.recruit .common-grid-text-wrap .common-grid-time { color: #49c6e8; }
#common a.common-grid.recruit .common-grid-tag,
#common a.common-grid.recruit:hover {
  border-color: #49c6e8;
  color: #49c6e8;
}
#common a.common-grid.offer .common-grid-text-wrap  { border-left-color: #49c6e8; }
#common a.common-grid.offer .common-grid-text-wrap .common-grid-time { color: #49c6e8; }
#common a.common-grid.offer .common-grid-tag,
#common a.common-grid.offer:hover {
  border-color: #49c6e8;
  color: #49c6e8;
}
#common a.common-grid.column .common-grid-text-wrap  { border-left-color: #dd4ae5; }
#common a.common-grid.column .common-grid-text-wrap .common-grid-time { color: #dd4ae5; }
#common a.common-grid.column .common-grid-tag,
#common a.common-grid.column:hover {
  border-color: #dd4ae5;
  color: #dd4ae5;
}
#common a.common-grid.event .common-grid-text-wrap  { border-left-color: #6ecc3e; }
#common a.common-grid.event .common-grid-text-wrap .common-grid-time { color: #6ecc3e; }
#common a.common-grid.event .common-grid-tag,
#common a.common-grid.event:hover {
  border-color: #6ecc3e;
  color: #6ecc3e;
}
#common a.common-grid.interview .common-grid-text-wrap  { border-left-color: #ff9e55; }
#common a.common-grid.interview .common-grid-text-wrap .common-grid-time { color: #ff9e55; }
#common a.common-grid.interview .common-grid-tag,
#common a.common-grid.interview:hover {
  border-color: #ff9e55;
  color: #ff9e55;
}
#common a.common-grid.niche .common-grid-text-wrap  { border-left-color: #1b1464; }
#common a.common-grid.niche .common-grid-text-wrap .common-grid-time { color: #1b1464; }
#common a.common-grid.niche .common-grid-tag,
#common a.common-grid.niche:hover {
  border-color: #1b1464;
  color: #1b1464;
}
#common a.common-grid.blog .common-grid-text-wrap  { border-left-color: #1b1464; }
#common a.common-grid.blog .common-grid-text-wrap .common-grid-time { color: #1b1464; }
#common a.common-grid.blog .common-grid-tag,
#common a.common-grid.blog:hover {
  border-color: #1b1464;
  color: #1b1464;
}
#common a.common-grid.media .common-grid-text-wrap  { border-left-color: #1b1464; }
#common a.common-grid.media .common-grid-text-wrap .common-grid-time { color: #1b1464; }
#common a.common-grid.media .common-grid-tag,
#common a.common-grid.media:hover {
  border-color: #1b1464;
  color: #1b1464;
}

#common .partials {
}

#common .common-recruit-wrap {
  background-color: #ffffff;
  margin-bottom: 15px;
  min-height: 280px;
  background: #ffffff url("images/common/area-map.png") no-repeat center center;
  position: relative;
  padding: 8px 0 0 0;
}

#common .common-recruit-wrap ul.area_nav {
  margin: 0;
}

#common .common-recruit-wrap ul.area_nav li {
  position: absolute;
  list-style: none;
  left: 50%;
}

#common .common-recruit-wrap ul.area_nav li a {
  color: #49c6e8;
}

#common .common-recruit-wrap ul.area_nav li.current-menu-item a {
  text-decoration: none;
  font-weight: 700;
}

#common .common-recruit-wrap ul.area_nav li.hokkaido {
  top: 0;
  margin: 50px 0 0 0;
}
#common .common-recruit-wrap ul.area_nav li.tohoku {
  top: 50%;
  margin: -30px 0 0 95px;
}
#common .common-recruit-wrap ul.area_nav li.hokuriku {
  top: 50%;
  margin: -42px 0 0 -15px;
}
#common .common-recruit-wrap ul.area_nav li.kanto {
  top: 50%;
  margin: 20px 0 0 100px;
}
#common .common-recruit-wrap ul.area_nav li.tokai {
  top: 50%;
  margin: 65px 0 0 20px;
}
#common .common-recruit-wrap ul.area_nav li.kansai {
  top: 50%;
  margin: 5px 0 0 -35px;
}
#common .common-recruit-wrap ul.area_nav li.chugoku {
  top: 50%;
  margin: 10px 0 0 -75px;
}
#common .common-recruit-wrap ul.area_nav li.shikoku {
  top: 50%;
  margin: 85px 0 0 -60px;
}
#common .common-recruit-wrap ul.area_nav li.kyushu {
  top: 50%;
  margin: 115px 0 0 -130px;
}

#common .common-recruit-wrap ul li a:hover {
  text-decoration: none;
}

#common h2.common-recruit-title {
  color: #49C6E8;
  font-size: 14px;
  margin: 0;
  width: 124px;
  height: 26px;
  line-height: 26px;
  margin: 0px auto;
  text-align: center;
  background: #ffffff url('images/common/h2-recruit.png') no-repeat;
}

#common .common-tag-wrap {
  padding: 8px 25px 25px;
  background-color: #ffffff;
}

#common ul.common-tag {
  margin: 0;
  padding: 18px 0 0 0;
}

#common ul.common-tag li {
  padding: 0;
  list-style: none;
  float: left;
  width: 50%;
  font-size: 13px;
  min-height: 20px;
  padding: 4px 0;
}

#common ul.common-tag li a {
  color: #333333;
  text-decoration: none;
  line-height: 16px;
}

#common ul.common-tag li a:hover {
  text-decoration: underline;
}

#common h2.common-tag-title {
  font-size: 14px;
  margin: 0;
  width: 124px;
  height: 26px;
  line-height: 26px;
  margin: 0px auto;
  text-align: center;
  background: #ffffff url('images/common/h2-tag.png') no-repeat;
}

#common ul.common-tag:before,
#common ul.common-tag:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility: hidden;
}

#common nav.pagination-wrap {
  clear: both;
  display: block;
  text-align: center;
}

#common ul.pagination:before,
#common ul.pagination:after {
  content: "."; 
  clear: both;
  display: block; 
  height: 0; 
  font-size:0;	
  visibility: hidden;
}

#common ul.pagination {
  display: inline-block;
  margin: 10px 0 20px 0;
  padding: 0;
}

#common ul.pagination li {
  list-style: none;
  float: left;
}

#common ul.pagination li .active,
#common ul.pagination li a {
  display: block;
  width: 34px;
  height: 34px;
  text-decoration: none;
  text-align: center;
  line-height: 34px;
  font: 400 14px/34px 'Lucida Grande';
}

#common ul.pagination li .active {
  color: #777777;
}

#common ul.pagination li a {
  color: #1b1464;
}

#common ul.pagination li a:hover {
  opacity: 0.8;
  -ms-filter: "alpha(opacity=80)";
  -moz-opacity:0.8;
}

#common ul.pagination li a.pagination-button {
  background-color: #1b1464;
  color: #ffffff;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 2px;
}


@media(max-width: 1130px) {

  #common .common-cover,
  #common .common-cover.category,
  #common .common-cover.custom-field {
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
  }


  #common .container {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  #common .common-right {
    width: 100%;
    margin-bottom: 15px;
  }
  #common ul.common-category {
  }
}

@media(max-width: 815px) {
  header .global_menu {
    display: none;
  }
  header .slicknav_btn {
    display: block;
  }
  #common .common-cover {
    height: 215px;
  }
  #common .common-cover h1.site-title {
    padding-top: 80px;
  }
  #common .container {
    padding: 0 20px;
  }
  #common .common-left {
    width: 100%;
  }
  #common .common-left .common-grid {
    float: none;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px auto;
    margin-bottom: 15px;
  }
  #common .common-left .common-grid .common-grid-img {
    width: 100%;
    background-size: cover;
  }
}
